<!doctype html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="icon" href="/favicon.ico" type="image/x-icon">
   <title>Everest</title>
   {% block stylesheet_all %}
      {% block stylesheets %}
      {% endblock %}
   {% endblock %}
</head>
<body>
{% block page_wrapper %}
      {% block header %}{% endblock %}
      {% block content %}{% endblock %}
{% endblock %}

{% block page_footer %}
      {% block footer %}{% endblock %}
{% endblock %}

{% block modals_all %}
   {% include './modal/request.twig' %}
   {% include './modal/success.twig' %}
   {% include './modal/iframe.twig' %}
   {% block modals %}{% endblock %}
{% endblock %}

{% block javascript_all %}
   {% block javascripts %}{% endblock %}
{% endblock %}
</body>
</html>
{% import './macros/svg.twig' as svg %}
{% import './macros/form.twig' as form %}
{% import './macros/mixins.twig' as mixins %}
