.section {
    &._banner {
        padding: 0;
        background: no-repeat center/cover;

        .container {
            position: relative;
            padding-top: 30px;
            padding-bottom: 30px;
            height: 100%;
        }

        &._overlay {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(#000, 0.6);
            }
        }

        &._documents {
            background-image: url('/assets/images/documents/banner.jpg');

            @media (max-width: $screen-sm - 1) {
                background-image: url('/assets/images/documents/banner-mob.jpg');
            }
        }

        &._company {
            background-image: url('/assets/images/company/banner.jpg');

            @media (max-width: $screen-sm - 1) {
                background-image: url('/assets/images/company/banner-mob.jpg');
            }
        }

        &._team {
            @media (max-width: $screen-sm - 1) {
                margin-bottom: 50px;
            }  

            @media (max-width: $screen-xs - 1) {
                margin-bottom: 80px;
            }  

            .container {
                position: relative;
                padding-top: 40px;
                padding-bottom: 40px;
            }

            .section__text {
                width: 60%;

                @media (max-width: $screen-sm - 1) {
                    width: 100%;
                }   
            }

            background-image: url('/assets/images/team/banner.jpg');

            @media (max-width: $screen-sm - 1) {
                background-image: url('/assets/images/team/banner-mob.jpg');
            }
        }
    }
}