.section {
    padding: 50px 0;

    &._pt0 {
        padding-top: 0;
    }

    &._p-small {
        padding: 40px 0;
    }

    &._grey {
        background-color: $CBgLight;
    }

    @media (max-width: $screen-xs - 1) {
        padding: 25px 0;
    }

    &._nav {
        padding-bottom: 0;
    }

    &._calculator {
        padding-bottom: 100px;

        @media (max-width: $screen-md - 1) {
            padding-bottom: 400px;
        }
    }

    &._overlay {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, 0.6);
        }
    }

    &._white {
        color: #fff;

        .section__heading {
            color: #fff;
        }
    }

    &__subheading {
        font-size: 36px;
    }

    &__link {
        transition: color 0.3s;
        
        &._underline {
            text-decoration: underline;
        }

        &._big {
            font-size: 24px;

            @media (max-width: $screen-md - 1) {
                font-size: 16px;
            }
        }

        &._bold {
            font-family: $FDefault;
        }

        &._medium {
            font-size: 20px;
        }

        &._acsent {
            color: $CAcsent;

            &:hover {
                color: #000;
                text-decoration: none;
            }
        }
    }

    &__item {
        @media (max-width: $screen-sm - 1) {
            display: inline-block;
        }
    }

    .section__inner {
        padding: 20px;

        &._nowrap {
            white-space: nowrap;
        }

        &._padded-h {
            padding-top: 0;
            padding-bottom: 0;
        }

        &._no-padding {
            padding: 0;
        }

        &._flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &._center {
            text-align: center;
        }
    }

    &__info {
        position: relative;
        padding-left: 40px;

        &:before {
            content: '!';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            font-size: 58px;
            font-weight: bold;
            background-color: $CAcsent;
            color: #fff;
            font-family: $FDefaultM;
            text-align: center;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            line-height: 70px;
        }

        p {
            display: inline-block;
            padding: 15px 50px;
            background-color: $CBgLight;
            font-family: $FDefault;
        }
    }

    &__image {
        margin-bottom: 30px;

        &._bordered {
            margin-bottom: 0;
            border: 5px solid $CAcsent;
            border-radius: 10px;
        }

        &._block {
            margin-bottom: 0;
            border: 1px solid #e8e8e8;
        }

        img {
            display: block;
            max-width: unset;
            width: 100%;
        }

        &._center-sm {
            @media (max-width: $screen-sm - 1) {
                padding: 0 10%;
                margin-bottom: 15px;
            }
        }

        &._abs {
            margin-bottom: -70px;
            margin-top: -70px;
            margin-right: 20px;
            box-shadow: 0 12px 27px 0 rgba(#1d1d1d, 0.44);
        }

        &._team {
            margin-bottom: 0;

            @media (max-width: $screen-sm - 1) {
                margin: 0 -15px;

                img {
                    max-width: unset;
                    width: 100%;
                }
            }
        }

        &._button-abs {
            position: relative;
            margin-bottom: 0;

            button {
                position: absolute;
                bottom: 40px;
                left: 50%;
                transform: translateX(-50%);
            }

            &._right {
                button {
                    right: 40px;
                    left: unset;
                    transform: unset;
                }
            }
        }

        &._offset-left {
            position: relative;
            left: -40px;

            img {
                width: 115%;
            }
        }

        &._shadow {
            box-shadow: 0 12px 27px 0 rgba(#1d1d1d, 0.44);
        }
    }

    &__subtitle {
        font-size: 24px;
        text-align: center;
        margin-bottom: 15px;

        @media(max-width: $screen-md - 1) {
            font-size: 20px;
        }

        @media(max-width: $screen-sm - 1) {
            font-size: 16px;
        }

        &._left {
            text-align: left;
        }

        &._bold {
            font-family: $FDefault;
        }
    }

    &__sidebar {
        padding: 15px 10px;
        margin-bottom: 30px;

        &-footer {
            margin-bottom: 15px;

            &._center {
                text-align: center;
            }
        }
        
        &._bg-light {
            background-color: $CBgLight;
        }
    }

    &__content {
        &._relative {
            position: relative;
        }

        &-sidebar {
            position: absolute;
            left: 100%;
            top: 50%;
            transform: translate(0, -50%);
            width: 290px;
            border: 5px solid $CAcsent;
            border-left-width: 0;
            padding: 40px 20px;

            @media (max-width: $screen-md - 1) {
                left: 50%;
                top: 100%;
                transform: translate(-50%, 0);
                width: 90%;
                border-left-width: 5px;
                border-top: none;
            }
        }

        &._flex {
            display: flex;

            &._column {
                flex-direction: column;
                height: 100%;
            }
        }

        &._full-height {
            height: 100%;
        }

        &._padded {
            padding: 50px;
        }

        &._padded-sm {
            padding: 20px;
        }

        &._border {
            border: 5px solid $CBgLight;
        }

        &._border-custom {
            border: 5px solid $CAcsent;
            border-bottom: none;
        }

        & + & {
            margin-top: 30px;
        }

        &._m-small + &._m-small {
            margin-top: 15px;
        }

        &._grey {
            background-color: $CBgLight;
        }

        &._center {
            text-align: center;
        }

        &._bg {
            background: transparent no-repeat center/cover;
        }
    }

    &__image-bg {
        background: $CBgLight no-repeat center/cover;

        @media(max-width: $screen-md - 1) {
            height: 190px !important;
        }

        @media(max-width: $screen-sm - 1) {
            margin-bottom: 20px;
        }
    }

    &__promo {
        background: $CBgLight no-repeat center/cover;
        height: 100%;

        &-inner {
            position: relative;
            padding: 20px;
            padding-bottom: 45px;
            height: 100%;

            &._space-between {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        &._overlay {
            color: #fff;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(#000, 0.6);
            }
        }
    }

    &__content-wr {
        margin-bottom: 30px;

        &._m-top-md {
            @media (max-width: $screen-md - 1) {
                margin-top: 30px;
            }
        }

        &._m-bottom {
            margin-bottom: 50px;
        }

        &._padding-v {
            padding: 0 50px;
        }
    }

    &__content-inner {
        & + & {
            margin-top: 25px;
        }
    }

    &__text-wr {
        &._bg {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: -10px;
                right: -10px;
                top: -10px;
                bottom: -10px;
                background-color: $CBgLight;
            }
        }
    }

    
    &__tabs {
        width: 100%;
    }

    &__text {
        font-size: 18px;
        text-align: left;

        & + .section__text-wr._bg {
            margin-top: 30px;
        }

        & + .section__text-wr {
            margin-top: 20px;
        }

        &._after {
            position: relative;
        }

        &._out {
            margin-left: -20px;
            margin-right: -20px;
        }

        @media (max-width: $screen-md - 1) {
            font-size: 16px;
        }

        &._line-height-s {
            line-height: 1.2;
        }

        &._custom-height {
            min-height: 120px;
            
            @media (max-width: $screen-md - 1) {
                min-height: 100px;
            }
            
            @media (max-width: $screen-xs - 1) {
                min-height: unset;
                margin-bottom: 10px;
            }
        }

        &._underline {
            text-decoration: underline;
        }

        &._acsent {
            color: $CAcsent;
        }

        &._bold {
            font-family: $FDefault;
        }

        &._center {
            text-align: center;
        }

        &._right {
            text-align: right;
        }

        &._xxs {
            font-size: 12px;
        }

        &._xs {
            font-size: 14px;
        }

        &._small {
            font-size: 16px;
        }

        &._medium {
            font-size: 20px;
        }

        &._medium-big {
            font-size: 22px;
        }

        &._big {
            font-size: 24px;

            @media (max-width: $screen-md - 1) {
                font-size: 18px;
            }

            @media (max-width: $screen-xs - 1) {
                font-size: 14px;
            }
        }

        &._xl {
            font-size: 30px;

            @media (max-width: $screen-md - 1) {
                font-size: 24px;
            }

            @media (max-width: $screen-xs - 1) {
                font-size: 24px;
            }
        }

        &._big-md {
            font-size: 24px;

            @media (max-width: $screen-xs - 1) {
                font-size: 18px;
            }
        }

        & + & {
            margin-top: 15px;

            @media (max-width: $screen-md - 1) {
                margin-top: 10px;
            }
        }

        &._calculator {
            position: absolute;
            top: 100%;
            left: 50px;

            &:before {
                content: '';
                position: absolute;
                right: 100%;
                margin-right: 10px;
                top: 10px;
                width: 79px;
                height: 30px;
                background: url('/assets/images/decor/arrow.png') no-repeat center/contain;
            }
        }
    }

    &__map {
        @media (max-width: $screen-lg - 1) {
            padding-left: 10%;
        }

        @media (max-width: $screen-md - 1) {
            padding-left: 0;
            margin-top: 30px;
            height: 470px;
            position: relative;
        }

        @media (max-width: $screen-sm - 1) {
            margin-bottom: 130px;
            height: 300px;
        }
    }

    &__iframe {
        padding-top: 20px;
        margin-bottom: 30px;
    }

    &__icon {
        text-align: center;
    }

    &__list {
        li + li {
            margin-top: 5px;
        }

        &._m-big {
            li {
                margin-bottom: 30px;
            }
        }

        &._dotted {
            list-style: initial;
            color: $CAcsent;
            padding-left: 25px;

            li {
                color: $CAcsent;

                & > * {
                    color: #000;
                }
            }
        }

        &._simple {
            list-style: none; /* Remove list bullets */
            padding: 0;
            margin: 0;

            li._small {
                font-size: 14px;
            }
            
            li:before {
                content: "-"; /* Insert content that looks like bullets */
                padding-right: 8px;
            }
        }

        &._documents {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 50%;
                margin-bottom: 20px;
            }
        }

        &._villages {
            height: 100%;
            li {
                margin-bottom: 40px;
            }
        }

        &-item {
            margin-bottom: 5px;
        }

        &._padded {
            padding: 15px 0px 30px 40px;
            line-height: 30px;
        }

        &._padded-left {
            padding-left: 15px;
            // line-height: 30px;
        }

        &._map {
            font-size: 18px;
        }

        &._popular {
            display: flex;
            flex-wrap: wrap;
            padding: 20px 0;

            .decor-pen {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 167px;
                height: 266px;
                background: transparent url('/assets/images/index/pen.png') no-repeat right top;
      
                @media (max-width: $screen-md - 1) {
                    transform: translateY(-50%);
                    top: 50%;
                    right: -20px;
                }
                
                @media (max-width: $screen-sm - 1) {
                    width: 62px;
                    height: 304px;
                    top: 65%;
                    right: 10%;
                    background-image: url('/assets/images/index/pen-mob.png');
                }
            }

            .nav-block {
                padding: 10px 50px;
                border-right: 1px solid $CBorder;

                @media (max-width: $screen-lg - 1) {
                    padding: 10px 30px;
                }

                @media (max-width: $screen-md - 1) {
                    width: 50%;
                    margin-bottom: 40px;
                }

                @media (max-width: $screen-sm - 1) {
                    border-right: unset;
                    width: 100%;
                    text-align: center;
                }

                &:first-child {
                    padding-left: 0;
                    padding-right: 50px;

                    @media (max-width: $screen-lg - 1) {
                        padding-right: 30px;
                    }

                    @media (max-width: $screen-sm - 1) {
                        padding-left: 0px;
                    }
                }

                &:last-child {
                    border-right: none;
                }

                &:nth-child(odd) {
                    @media (max-width: $screen-md - 1) {
                        padding-left: 0;
                        border-right: none;
                    }
                }

                &:nth-child(even) {
                    @media (max-width: $screen-md - 1) {
                        padding-left: 15%;
                        border: none;
                    }

                    @media (max-width: $screen-sm - 1) {
                        padding-left: 0;
                    }
                }

                a {
                    line-height: 30px;
                    font-size: 18px;
                }

                &__title {
                    font-size: 20px;
                }
            }            
        }
    }

    &__btn-wr {
        &._center {
            text-align: center;
        }

        &._abs-right {
            right: 0;
            left: unset
        }
    }

    &__form {
        &._no-padding {
            form {
                padding: 0;
            }
        }

        &._contacts {
            @media (max-width: $screen-md - 1) {
                margin: 50px 0;
            }

            @media (max-width: $screen-sm - 1) {
                margin: 50px -15px;
            }
        }
        &._homes {
            padding-top: 30px;
            padding-bottom: 50px;

            .form {
                padding-right: 25%;
            }

            .form__content-wr {
                padding: 0;
                padding-left: 7.5px;
            }

            .form-input__title {
                text-align: left;
            }
        }
    }

    &__slider {
        @media (max-width: $screen-xs - 1) {
            &._padding-b-xs {
                padding-bottom: 30px;
            }
        }
    }

    &__descr {
        position: absolute;
        padding: 15px 25px;

        &-text {
            font-size: 16px;
            line-height: 1.2;

            @media (max-width: $screen-sm - 1) {
                font-size: 14px;
            }
        }

        &-icon {
            margin-left: 20px;
        }

        &._acsent {
            background-color: $CAcsent;
            color: #fff;

            a:hover {
                color: #000;
            }
        }

        &._bottom {
            bottom: 0;
            transform: translateY(50%);
        }

        &._right {
            right: 0;
            
            @media (max-width: $screen-sm - 1) {
                right: unset;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                bottom: unset;
                margin-top: -20px;
            }
        }
    }

    .section__bottom-link {
        padding: 30px 0 0;
        display: flex;
        justify-content: space-between;
    }
}