.section__heading {
    text-align: center;
    color: $CBlack;
    font-size: 40px;
    font-family: $FDefaultL;
    font-weight: normal;

    @media (max-width: $screen-md - 1) {
        font-size: 30px;
    }

    @media (max-width: $screen-xs - 1) {
        font-size: 24px;
    }

    &._bold {
        font-family: $FDefault;
    }

    &._acsent {
        color: $CAcsent;
    }

    &._lh-samll {
        line-height: 1.2;
    }

    &._second {
        font-family: $FDefaultM;
        color: #cccccc;
        font-size: 60px;
        text-align: left;

        &._custom-sm {
            @media (max-width: $screen-sm - 1) {
                font-size: 29px;
                font-family: $FDefault;
            }
        }

        @media (max-width: $screen-md - 1) {
            font-size: 48px;
        }

        @media (max-width: $screen-sm - 1) {
            font-size: 36px;
        }
    }

    &._small {
        font-size: 30px;

        @media (max-width: $screen-md - 1) {
            font-size: 24px;
        }

        @media (max-width: $screen-sm - 1) {
            font-size: 20px;
        }

        @media (max-width: $screen-xs - 1) {
            font-size: 18px;
        }
    }

    &._small-custom {
        font-size: 28px;

        @media (max-width: $screen-md - 1) {
            font-size: 22px;
        }

        @media (max-width: $screen-sm - 1) {
            font-size: 18px;
        }

        @media (max-width: $screen-xs - 1) {
            font-size: 18px;
        }
    }

    &._padded {
        padding: 20px 0;
    }

    &._mob {
        font-size: 20px;
    }

    &._custom-mob {
        font-size: 30px;
        color: $CAcsent;
    }

    &._custom {
        @media (max-width: $screen-md - 1) {
            font-size: 36px;
        }

        @media (max-width: $screen-xs - 1) {
            font-size: 24px;
        }
    }

    &-wr {
        margin-bottom: 50px;

        @media (max-width: $screen-md - 1) {
            margin-bottom: 40px;
        }

        @media (max-width: $screen-xs - 1) {
            margin-bottom: 30px;
        }

        &._small {
            margin-bottom: 20px;

            @media (max-width: $screen-md - 1) {
                margin-bottom: 15px;
            }
        }

        &._center {
            text-align: center;
        }

        &._left * {
            text-align: left;
        }

        &._plan {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            background: linear-gradient(to bottom, #fff 0%, #fff 20%, rgba(#fff, 0.9) 34%, rgba(#fff, 0.8) 50%, transparent 100%);
            padding: 50px 0;
        }
    }

    &-under {
        margin-bottom: 30px;
        text-align: left;
        font-size: 24px;

        &._center {
            text-align: center;
        }

        &._small {
            font-size: 22px;
            margin-bottom: 10px;
        }

        &._bold {
            font-family: $FDefault;
        }

        @media (max-width: $screen-md - 1) {
            font-size: 20px;
        }

        @media (max-width: $screen-sm - 1) {
            font-size: 18px;
        }
    }

    &._text-left {
        text-align: left;

        &-sm-min {
            text-align: center;
            
            @media (min-width: $screen-sm) {
                text-align: left
            }
        }
    }
}