.section._socials {
    padding-bottom: 20px;
    
    @media (max-width: $screen-xs - 1) {
        .col-xs-offset-2 {
            margin-left: 0;
        }
        
        .col-xs-8 {
            width: 100%;
        }
    }
}