.section._special {
    padding: 100px 0;
    background: #fff url('/assets/images/index/field.jpg') no-repeat center/cover;
    box-shadow: $Shadow;

    @media (max-width: $screen-md - 1) {
        padding: 50px 0;
    }
}