{% set indexSliderAlready = [
    {
        "href": "#",
        "img": "",
        "title": ""
    },
    {
        "href": "#",
        "img": "",
        "title": ""
    },
    {
        "href": "#",
        "img": "",
        "title": ""
    },
    {
        "href": "#",
        "img": "",
        "title": ""
    }
] %}

<section class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="section__content">
                    <div class="already-seen">
                        <div class="row _flex">

                            <div class="col-md-2 col-sm-2 col-xs-12 col-flex">
                                <div class="already-seen__left">
                                    Вы уже <br />смотрели:
                                </div>
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="slider _already" id="slider-already-seen">
                                    {% for slide in indexSliderAlready %}
                                        <div class="slider__slide">
                                            <div class="slide-already-seen" style="background-image: url('/assets/images/index/slider-already/slide-{{ loop.index }}.jpg')"></div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>