<section class="section _grey _p-small visible-md-block-min">
    <div class="container">

        <div class="row">

            <div class="col-sm-8 col-xs-12">
                <div class="section__form _contacts">
                    <form class="js-static-form form _fields-inline">
                        <div class="form__heading-wr">
                            <div class="form__heading _big _left">Запишитесь на экскурсию: посмотрите, как мы строим</div>
                        </div>
                        <div class="form__content-wr">
                            <div class="form__group">
                                {{ form.input({name: 'name', inputMod: 'js-form-name', placeholder: "Впишите Ваше имя"}) }}
                            </div>
                            <div class="form__group">
                                {{ form.input({name: 'phone', inputMod: 'js-form-phone', placeholder: "+7 (___) ___-__-__"}) }}
                            </div>
                            <div class="form__group">
                                <button type="submit" class="btn _full btn-submit-js">
                                    <div class="btn__text visible-lg-block-min">Записаться на экскурсию</div>
                                    <div class="btn__text visible-lg-block-max">Записаться</div>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-sm-4 col-xs-12">
                <div class="section__content">
                    <div class="block-line _flex">
                        <img src="/assets/images/houses270/manager.jpg" class="section__image _abs" alt="Менеджер">
                        <div class="section__content">
                            <div class="section__text _small">Вам твечу я:<br>
                            <br>
                            <strong>Перелыгина Юлия,</strong><br>
                            менеджер<br>
                            службы заботы<br> 
                            о клиентах
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>