{% set docList = [
    { text: "Проводим межевание земельного участка" },
    { text: "Указываем полную сумму в договоре" },
    { text: "Согласуем проектную документацию" },
    { text: "Оформляем разрешение на строительство" },
    { text: "Оформляем договора подряда с подрядчиками и поставщиками материалов" },
    { text: "Оформляем документацию по технике безопасности проведения работ и пожарной безопасности" },
    { text: "Поэтапно принимаем скрытые работы, а так же оформляем промежуточные акты, контролируем качество работ и соответствие проекту" },
    { text: "Оформляем гарантийные обязательства подрядными организациями с подрядными организациями по обслуживанию скважин, септиков, кровли, окон" },
    { text: "Оформляем свидетельство о собственности на дом с адресом, кадастровый паспорт, тех.план на дом." },
    { text: "Встречаемся в рос реестре для оформления перехода права собственности на дом и участок." },
] %}

<section class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="section__heading-wr">
                    <h2 class="section__heading">
                        Оформляем полный пакет документов
                    </h2>
                    <div class="section__subtitle">
                        Экономим вам 2 месяца жизни и миллионы нервых клеток
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="section__subtitle _left">
                    Проходим по 20+ кабинетам,<br>
                    готовим и согласовываем:
                </div>
                <div class="section__content">

                    <div class="row">

                        <div class="col-xs-12 col-md-6 mb-30-md">
                            <ul class="section__list _padded-left">
                                {% for item in docList %}
                                    <li class="section__list-item">
                                        <div class="block-line align-start _docs _flex _wrap">
                                            {{ svg.icon({ name: 'check', mod: 'svg-icon--docs-list' }) }}
                                            <p class="section__text _small">{{ item.text }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <div class="respons-video">
                                <div class="respons-video__preview" style="background-image: url(/assets/images/blog/video.jpg)">
                                    {{ svg.icon({"name": "play", "mod": "respons-video__icon"}) }}
                                </div>
                                <div class="respons-video__iframe-wr _full" data-src="https://www.youtube.com/embed/oBJ0rUbrLnA">
                                    <div class="respons-video__padding"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
