    
<section class="plan-home visible-lg-block-min">
    <div class="section__heading-wr _plan">
        <h2 class="section__heading">
            В стоимость готовых домов включено всё
        </h2>
        <div class="section__subtitle">
            Никаких скрытых платежей и доплат
        </div>
    </div>
    <div class="container _plan">
        <ul class="plane-home__nav">
            <li class="plane-home__item">
                <a class="plane-home__link" href="#" data-mark="plan-home__mark-foundation">Фундамент</a>
            </li>
            <li class="plane-home__item">
                <a class="plane-home__link" href="#" data-mark="plan-home__mark-wall">Стены</a>
            </li>
            <li class="plane-home__item">
                <a class="plane-home__link" href="#" data-mark="plan-home__mark-ceiling">Перекрытия</a>
            </li>
            <li class="plane-home__item">
                <a class="plane-home__link" href="#" data-mark="plan-home__mark-roof">Кровля</a>
            </li>
            <li class="plane-home__item">
                <a class="plane-home__link" href="#" data-mark="plan-home__mark-window">Окна</a>
            </li>
            <li class="plane-home__item">
                <a class="plane-home__link" href="#" data-mark="plan-home__mark-gas">Отопление</a>
            </li>
            <li class="plane-home__item">
                <a class="plane-home__link" href="#" data-mark="plan-home__mark-wall-2">Канализация</a>
            </li>
            <li class="plane-home__item">
                <a class="plane-home__link" href="#" data-mark="plan-home__mark-water">Водоснабжение</a>
            </li>
            <li class="plane-home__item">
                <a class="plane-home__link" href="#" data-mark="plan-home__mark-electricity">Электричество</a>
            </li>
            <li class="plane-home__item plane-home__btn"><button class="btn"><span class="btn__text">Смотреть участки</span></button></li>
        </ul>
        <div class="plan-home__mark plan-home__mark-electricity">
            {{ svg.icon({ name: "zoom" }) }}
            <div class="plan-home__tooltip" data-tooltip="На каждый дом уже подключено 15 Квт энергии"></div>
        </div>
        <div class="plan-home__mark plan-home__mark-roof">
            {{ svg.icon({ name: "zoom" }) }}
            <div class="plan-home__tooltip" data-tooltip="Двухскатная по деревянным стропилам с утеплением базальтовой плитой 200мм, уже с подшитыми свесами и водосточной системой."></div>
        </div>
        <div class="plan-home__mark plan-home__mark-water">
            {{ svg.icon({ name: "zoom" }) }}
            <div class="plan-home__tooltip" data-tooltip="Собственная скважна глубиной от 50 м"></div>
        </div>
        <div class="plan-home__mark plan-home__mark-wall">
            {{ svg.icon({ name: "zoom" }) }}
            <div class="plan-home__tooltip" data-tooltip="Газосиликатные блоки толщиной 375 мм в облицовке декоративной штукатуркой или немецким кирпичом Braer"></div>
        </div>
        <div class="plan-home__mark plan-home__mark-wall-2">
            {{ svg.icon({ name: "zoom" }) }} 
            <div class="plan-home__tooltip" data-tooltip="Автономная канализация ТОПАС-5 расщепляет отходы. В результате остается ил и техническая вода для вторичного использования (полив, мытье машины)"></div>
        </div>
        <div class="plan-home__mark plan-home__mark-gas">
            {{ svg.icon({ name: "zoom" }) }}
            <div class="plan-home__tooltip" data-tooltip="Электрокотёл марки «Протерм» - самое надежное и качественное оборудование, не имеющее аналогов. Регулировать уровень тепла в доме можно даже с мобильного телефона через приложение «Мой дом»."></div>
        </div>
        <div class="plan-home__mark plan-home__mark-window">
            {{ svg.icon({ name: "zoom" }) }}
            <div class="plan-home__tooltip" data-tooltip="Montblanс Nord 70 мм с 5-камерным стеклопакетом"></div>
        </div>
        <div class="plan-home__mark plan-home__mark-foundation">
            {{ svg.icon({ name: "zoom" }) }}
            <div class="plan-home__tooltip" data-tooltip="Бетонные буронабивные сваи на 2,6 метра с ленточным ростверком"></div>
        </div>
        <div class="plan-home__mark plan-home__mark-ceiling">
            {{ svg.icon({ name: "zoom" }) }}
            <div class="plan-home__tooltip" data-tooltip="Деревянная балка 150*200 мм или ж/б перекрытия (выбор клиента)"></div>
        </div>
    </div>
    <img class="plan-home__img" src="/assets/images/our-homes/plan.jpg" alt="план-схема">
</section>

    