
<section class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="section__heading-wr">
                    <h2 class="section__heading">
                        Рассчитаем и подберем ипотеку без хождений по банкам                        
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="section__subtitle _left">
                    Мы постоянный партнер ведущих банков:
                </div>
                <div class="section__content">

                    <div class="row">

                        <div class="col-xs-12 col-md-7">
                            <div class="block-line _flex _bank align-center">
                                {{ svg.icon_m({"name": "sberbank", "mod": "_bank"}) }}
                                {{ svg.icon_m({"name": "vtbank", "mod": "_bank"}) }}
                                {{ svg.icon_m({"name": "rsbank", "mod": "_bank"}) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-5">
                            <div class="section__content">
                                <p class="section__text">Работаем с материнским капиталом, военными сертификатами.</p>
                                <div class="section__text-wr">
                                    <p class="section__text">
                                        Возможно и удаленное одобрение:<br>
                                        мы уже решали вопросы переезда из других городов, в т.ч. по программе переселения с севера.    
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

    