  
<section class="section _grey">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="section__heading-wr">
                    <div class="section__heading">
                        Похожие проекты
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="section__content">
                    <div class="section__slider _padding-b-xs">
                        <div class="slider _projects" id="slider-projects">
                            {% for i in 1..6 %}
                                <div class="slider__slide _projects">
                                    <div class="slider__slide-img _project" style="background-image: url('/assets/images/blog/popular.jpg')"></div>
                                    <div class="slider__slide-info _out">
                                        <span data-home-label="">
                                            125-Э                                            </span>
                                        <span data-home-size="">
                                            125 кв.м.
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
    