{% if params %}
    {% set socials = params %}
    {% else %}
    {% set socials = socials.socials %}
{% endif %}


<div class="socials _center">
    <div class="socials__inner">
        <ul class="socials__list">
            {% for social in socials %}
                <li class="socials__item _small">
                    <a class="socials__link" href="{{ social.href }}" title="{{ social.title }}">
                        {{ svg.icon({'name': social.title, 'mod': ' socials__icon-contact'}) }}
                    </a>
                </li> 
            {% endfor %}    
        </ul>
    </div>
</div>