.btn {
    position: relative;
    display: inline-block;
    @include btn();
    padding: 10px 40px; 
    font-family: $FBase;
    border: none;
    white-space: nowrap;
    border-radius: 25px;
    background-color: $CAcsent; 
    cursor: pointer;

    span {
        pointer-events: none;
    }

    &__icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 10px;
        fill: $CAcsent-sec;
    }
}