@mixin flex-vertical-align() {

    @each $name, $breakpoint in $breakpoints {
  
      @if($name == 'xs') {
        .align-normal {
          align-items: normal!important;
        }
  
        .align-start {
          align-items: flex-start!important;
        }
  
        .align-center {
          align-items: center!important;
        }
  
        .align-end {
          align-items: flex-end!important;
        }
      }
  
      @media (min-width: #{$breakpoint}) {
        .align-normal-#{$name} {
          align-items: normal!important;
        }
  
        .align-start-#{$name} {
          align-items: flex-start!important;
        }
  
        .align-center-#{$name} {
          align-items: center!important;
        }
  
        .align-end-#{$name} {
          align-items: flex-end!important;
        }
      }
    }

    @each $name, $breakpoint in $breakpoints-max {
      @media (max-width: #{$breakpoint}) {
        .align-normal-max-#{$name} {
          align-items: normal!important;
        }
  
        .align-start-max-#{$name} {
          align-items: flex-start!important;
        }
  
        .align-center-max-#{$name} {
          align-items: center!important;
        }
  
        .align-end-max-#{$name} {
          align-items: flex-end!important;
        }
      }
    }
  }
  