@mixin g-va($align: middle, $soft: false) {
  letter-spacing: -1em * .25;
  line-height: 1;
  &:before {
    content: '';
    display: inline-block;
    vertical-align: $align;
    height: 100%;
  }

  & > * {
    line-height: $BLine-height;
    float: none;
    letter-spacing: 0;
    vertical-align: $align;
    @if($soft) {
      display: inline-block;
    }
    @else {
      display: inline-block!important;
    }
  }

  &_top:before {
    vertical-align: top;
  }

  &_top > * {
    vertical-align: top;
  }

  &_bottom:before {
    vertical-align: bottom;
  }

  &_bottom > * {
    vertical-align: bottom;
  }
};

@mixin g-va-responsive {
  @each $name, $breakpoint in $breakpoints {
    @media (min-width: #{$breakpoint}) {
      .g-va-#{$name} {
        @include g-va;
      }
    }
  }
}
