@mixin padding($counts) {

    .pt-a {
      padding-top: auto;
    }
    .pr-a {
      padding-right: auto;
    }
  
    .pb-a {
      padding-bottom: auto;
    }
  
    .pl-a {
      padding-left: auto;
    }
  
    @each $name, $breakpoint in $breakpoints {
  
      @each $count in $counts {
        @if ($name == 'xs') {
          .pt-#{$count} {
            padding-top: $count + px!important;
          }
          .pb-#{$count} {
            padding-bottom: $count + px!important;;
          }
          .pr-#{$count} {
            padding-right: $count + px!important;
          }
          .pl-#{$count} {
            padding-left: $count + px!important;;
          }
        } @else {
          @media (max-width: #{$breakpoint}) {
            .pt-#{$count}-#{$name} {
              padding-top: $count + px!important;;
            }
            .pb-#{$count}-#{$name} {
              padding-bottom: $count + px!important;;
            }
            .pr-#{$count}-#{$name} {
              padding-right: $count + px!important;
            }
            .pl-#{$count}-#{$name} {
              padding-left: $count + px!important;;
            }
  
            .pt-a-#{$name} {
              padding-top: auto;
            }
  
            .pr-a-#{$name} {
              padding-right: auto;
            }
  
            .pb-a-#{$name} {
              padding-bottom: auto;
            }
  
            .pl-a-#{$name} {
              padding-left: auto;
            }
  
          }
        }
      }
  
    }
  }
  