.tab {
    &-pane.active {
        position: relative;
        z-index: 5;
    }

    &__nav {
        margin-bottom: 20px;

        &._flex {
            display: flex;
            justify-content: space-between;

            @media (max-width: $screen-xs - 1) {
                display: block;
                text-align: center;

                li {
                    margin-bottom: 20px;
                }
            }
        }
    }

    &__nav-item {
        display: inline-block;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }

        @media (max-width: $screen-sm - 1) {
            margin-bottom: 10px;
            margin-right: 25px;
        }

        // & + & {
        //     margin-left: 30px;
        // }
    }

    &__nav-item.active &__nav-link {
        color: $CAcsent;
        text-decoration: none;
    }

    &__nav-item._under.active &__nav-link:focus,
    &__nav-item._under.active &__nav-link:active,
    &__nav-item._under.active &__nav-link {
        color: $CAcsent;
        text-decoration: underline;
    }

    &__nav-link {
        text-decoration: underline;
        font-family: $FDefault;

        &._big {
            font-size: 24px;
        }

        @media (max-width: $screen-sm - 1) {
            font-size: 14px;
        }
    }

    &-content {
        position: relative;
        // min-height: 120px;
        overflow: hidden;

        @media (max-width: $screen-sm - 1) {
            overflow: initial;
        }

        &._contacts {
            @media (max-width: $screen-sm - 1) {
                margin-left: -55px;
                // min-height: 160px;
            }
        }
    }

    &-pane {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        padding: 15px 0;
        transition: 0.3s opacity ease-in-out;

        &.active {
            opacity: 1;
        }
    }

    // &__icon {
    //     position: relative;
    //     transform: rotate(90deg);
    //     margin-left: 5px;
    //     width: 8px;
    //     height: 8px;
    // }
}