.tab {
    &._decored {
        .tab-pane.active {
            position: relative;
        }
    }

    &._decored._form {
        .tab-pane {
            padding: 0;
        }

        .form-input {
            margin: 0 -10px;
        }
    }


    &._decored > &__nav {
        width: 100%;
        display: flex;
        border: 1px solid $CAcsent;
        border-radius: 30px;

        .tab__nav-item {
            position: relative;
            flex: 1;
            text-align: center;
            margin: 0;
    
            &:before {
                content: '';
                position: absolute;
                left: 50%;
                top: 100%;
                transform: translateX(-50%);
                border: 10px solid transparent;
                border-top-color: $CAcsent;
                border-bottom: none;
                opacity: 0;
            }
    
            &.active {
                &:before {
                    opacity: 1;
                }
            }
        }

        .tab__nav-item.active .tab__nav-link {
            color: $CWhite;
            background-color: $CAcsent;
        }
    
        .tab__nav-link {
            color: $CAcsent;
            text-decoration: none;
            padding: 10px;
            display: block;
            border-radius: 30px;
        }

        @media (max-width: $screen-xs - 1) {
            display: block;
            text-align: center;
            border: none;


            li {
                display: block;
                margin-bottom: 20px;
                border: 1px solid $CAcsent;
                border-radius: 30px;
            }
        }
    }

    &._decored._form > &__nav {
        border: none;
        border-radius: 0;
        margin-bottom: 0;

        li:before {
            content: unset;
        }

        .tab__nav-link {
            border-radius: unset;
            background-color: #fff;
            color: #000;
            font-size: 12px;
        }
    }

    &._decored._single > &__nav {
        border: unset;
        border-radius: 0;
        margin-bottom: 0;

        li + li {
            margin-left: 5px;
        }

        .tab__nav-link {
            border: 1px solid $CAcsent;
            background-color: #fff;
            font-size: 16px;
        }
    }


    &-content {
        position: relative;

        &._contacts {
            @media (max-width: $screen-sm - 1) {
                margin-left: -55px;
            }
        }
    }

    &-pane {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        padding: 15px 0;
        transition: 0.3s opacity ease-in-out;

        &.active {
            opacity: 1;
        }
    }
}