{% extends './base.twig' %}

{% import '../macros/form.twig' as form %}

{% set modal = {
   id: 'modalCity',
   title: 'Выберите город'
} %}

{% block modal_content %}
    <ul class="modal__citys">
        <li>
            <div class="section__text">Ярославль</div>
        </li>
        <li>
            <div class="section__text">Москва</div>
        </li>
        <li>
            <div class="section__text">Нижний Новгород</div>
        </li>
    </ul>
{% endblock %}

