{% extends './base.twig' %}

{% import '../macros/form.twig' as form %}

{% set modal = {
   id: 'modalIframe',
   title: 'Посмотрите это короткое видео'
} %}

{% block modal_content %}
    <div class="modal__iframe">
        <div class="js-iframe-modal">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <iframe width="560" height="315" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}

