.advantages {
    position: relative;
    padding: 20px 10px;

    &:before {
        content: '';
        position: absolute;
        left: -40px;
        right: -40px;
        top: 0;
        bottom: 0;
        border: 1px solid rgba(#626262, 0.2);
        border-radius: 3px;

        @media (max-width: $screen-md - 1) {
            left: 0;
            right: 0;
        }
    }

    @media (min-width: $screen-xs) and (max-width: $screen-md - 1) {
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 20px;
            right: 20px;
            transform: translateY(-50%);
            height: 1px;
            background-color: $CBorder;
        }
    }

    @media (max-width: $screen-xs - 1) {
        padding: 0px 30px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .block-line {
            min-width: 192px;

            @media (max-width: $screen-xs - 1) {
                min-width: 200px;
            }
        }

        & > * {
            min-width: 200px;
            flex: 1;

            @media (max-width: $screen-md - 1) {
                flex: unset;
                justify-content: center;
                width: 50%;

                &:nth-child(1),
                &:nth-child(2) {
                    margin-bottom: 40px;
                }

                &:nth-child(1),
                &:nth-child(3) {
                    border-right: 1px solid $CBorder;
                }
            }

            @media (max-width: $screen-xs - 1) {
                width: 100%;
                border-bottom: 1px solid $CBorder;

                &:nth-child(1),
                &:nth-child(2) {
                    margin-bottom: 0;
                }

                &:nth-child(1),
                &:nth-child(3) {
                    border-right: none;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    &__item {
        display: inline-flex;
        align-items: center;
        padding: 10px;
        font-family: $FBaseL;

        @media (max-width: $screen-md - 1) {
            padding: 10px;
            min-height: 110px
        }
    }

    &__icons {
        min-width: 40px;
        font-size: 45px;
        margin-right: 10px;

        @media (min-width: $screen-lg) {
            min-width: 70px;
            font-size: 65px;
            margin-right: 15px; 
        }
    }
}

.advantages {
    position: relative;
    padding: 20px 10px;

    &:before {
        content: '';
        position: absolute;
        left: -40px;
        right: -40px;
        top: 0;
        bottom: 0;
        border: 1px solid rgba(#626262, 0.2);
        border-radius: 3px;

        @media (max-width: $screen-md - 1) {
            left: 0;
            right: 0;
        }
    }

    &._triple {
        &:after {
            content: none;
        }
    }
    
    &._triple &__list {
        @media (max-width: $screen-md - 1) {
            display: inline-block;
            margin: 0 auto;
        }

        .block-line {
            min-width: 192px;
            width: 100%;

            @media (max-width: $screen-xs - 1) {
                min-width: 200px;
            }
        }

        & > * {
            border-right: 1px solid $CBorder;

            &:last-child {
                border-right: none;
            }

            @media (max-width: $screen-md - 1) {
                border-bottom: 1px solid $CBorder;
                width: 100%;

                &:nth-child(1),
                &:nth-child(2) {
                    margin-bottom: 20px;
                }

                &:last-child {
                    margin-bottom: 0;;
                }

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    border-right: none;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    //     & > * {
    //         min-width: 200px;
    //         flex: 1;

    //         @media (max-width: $screen-md - 1) {
    //             flex: unset;
    //             justify-content: center;
    //             width: 50%;

    //             &:nth-child(1),
    //             &:nth-child(2) {
    //                 margin-bottom: 40px;
    //             }

    //             &:nth-child(1),
    //             &:nth-child(3) {
    //                 border-right: 1px solid $CBorder;
    //             }
    //         }

    //         @media (max-width: $screen-xs - 1) {
    //             width: 100%;
    //             border-bottom: 1px solid $CBorder;

    //             &:nth-child(1),
    //             &:nth-child(2) {
    //                 margin-bottom: 0;
    //             }

    //             &:nth-child(1),
    //             &:nth-child(3) {
    //                 border-right: none;
    //             }

    //             &:last-child {
    //                 border-bottom: none;
    //             }
    //         }
    //     }
    // }

    &._triple &__item {
        display: inline-flex;
        align-items: flex-start;
        padding: 0px 10px;
        font-family: $FBaseL;

        @media (max-width: $screen-md - 1) {
            padding: 10px;
            min-height: 110px
        }
    }

    &._triple .advantages__icons {
        margin-top: 10px;
        margin-right: 30px;
    }

    &._triple .section__text {
        margin-top: 0px;
    }
}

