.article-item {
    margin-bottom: 20px;

    &._list {
        margin-bottom: 35px;

        @media(max-width: $screen-sm - 1) {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &._comment {
        .article-item__title {
            margin-bottom: 0;
        }
    }

    &__title {
        font-family: $FDefault;
        font-size: 18px;
        margin-bottom: 10px;

        &._full {
            font-size: 40px;

            @media(max-width: $screen-md - 1) {
                font-size: 30px
            }

            @media(max-width: $screen-sm - 1) {
                font-size: 24px
            }
        }

        &._light {
            font-family: $FDefaultL;
        }

        &._medium {
            font-size: 24px;

            @media(max-width: $screen-sm - 1) {
                font-size: 18px
            }
        }

        &._small {
            font-size: 20px;
        }

        span {
            display: block;
        }
    }

    &__text {
        &._date {
            font-size: 14px;

            &._medium {
                font-size: 16px;
            }

            & + * {
                margin-top: 15px;
            }
        }

        & + * {
            margin-top: 30px;
        }
    }

    &__category {
        margin-bottom: 5px;
    }

    &__nav {
        margin-bottom: 30px;
    }

    &__answer {
        padding-left: 100px;

        @media(max-width: $screen-sm - 1) {
            padding-left: 30px;
        }
    }

    &__img {
        img {
            width: 100%;
            max-width: unset;
        }

        & + * {
            margin-top: 15px;
        }
    }

    &__list-count {
        position: absolute;
        right: 100%;
        margin-right: 18px;
        top: 2px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 18px;
        color: #fff;
        background-color: $CAcsent;
        border-radius: 50%;
        text-align: center;
    }

    &__list {
        &._num {
            padding-left: 50px;
            list-style: none;
        }

        &._line {
            padding-left: 50px;
            list-style: none;

            li {
                &:after {
                    content: '';
                    position: absolute;
                    right: 100%;
                    margin-right: 18px;
                    top: 11px;
                    width: 25px;
                    height: 3px;
                    background-color: $CAcsent;
                }
            }
        }

        li {
            position: relative;
            margin-bottom: 10px;
        }

        &._decor {
            padding-left: 30px;
            list-style-type: disc;

            li {
                color: $CAcsent;

                * {
                    color: #000;
                }
            }
        }

        &._nav {
            padding-left: 0;

            li {
                margin-bottom: 0;
            }

            & > * {
                display: inline-block;
                font-size: 16px;
            }
        }
    }

    &__link {
        text-decoration: underline;

        &._acsent {
            color: $CAcsent;
        }
    }

    &__content {
        & + & {
            margin-top: 40px;
        }
    }
}