.block-line {
    white-space: nowrap;

    &._wrap {
        white-space: normal;
    }

    &._wrap-xs {
        @media (max-width: $screen-xs - 1) {
            white-space: normal;
            text-align: center;
        }
    }

    &._inline {
        display: inline-block;
    }

    &._flex {
        display: flex;
        align-items: center;

        &._center {
            justify-content: center;
        }

        &._sb {
            justify-content: space-between;
        }

        &._at {
            align-items: flex-start;
        }
    }

    &._inline {
        display: inline-flex;
    }

    &._text-left {
        text-align: left;
    }
    
    &._block-sm > * {
        @media (max-width: $screen-sm - 1) {
            display: block;
        }
    }

    &._top {
        & > * {
            vertical-align: top;    
        } 
    }

    &._bottom {
        & > * {
            vertical-align: bottom;    
        } 
    }

    &._contacts {
        svg {
            font-size: 42px;
            width: 42px;
            margin-right: 30px;
            margin-top: 5px;
            min-width: 42px;

            @media (max-width: $screen-md - 1) {
                margin-right: 15px;
            }
        }
    }

    &._docs {
        svg {
            margin-right: 10px;
            margin-top: 2px;
        }
    }

    &._bank {
        svg {
            margin-right: 40px;
            min-width: 100px;
        }
    }
    
    & > * {
        display: inline-block;
        vertical-align: middle;

        svg {
            margin-right: 3px;

            @media (max-width: $screen-sm - 1) {
                margin-right: 0;
            }
        }
    }

    &__list {
        span {
            display: block;
        }
    }
}