.breadcrumbs {
    padding: 20px 0;
    background-color: $CBreadcrumbs;

    &__list {
        display: block;
    }

    &__item {
        display: inline-block;
        vertical-align: middle;
    }

    &__link {
        font-size: 14px;
        text-decoration: underline;

        &._active {
            font-family: $FDefault;
            text-decoration: none;
        }
    }
}