.calculator {
    background-repeat: no-repeat;
    background-position: right center;

    &__list {
        margin-right: 20%;

        li + li {
            margin-top: 5px;
        }
    }
    
    &__result {
        font-size: 36px;
        color: $CAcsent;
    }

    &__item-hidden {
        visibility: hidden;
        position: absolute;
        height: 0;
        width: 0;
        left: -9999px;
    }
}