.catalog-project-item {

    position: relative;

    &__image {
        position: relative;
        height: 260px;
        background: #d1d1d1 no-repeat center/cover;
    }

    &__bottom {
        padding: 15px 10px 25px 10px;
        background-color: $CBgLight;
    }

    &__line {
        & + & {
            margin-top: 5px;
        }

        &._flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &._right {
            text-align: right;
        }
    }

    &__special {
        position: absolute;
        top: 5px;
        left: 5px;
        display: none;

        &.active {
            display: block;
        }
        
        &-title {
            position: absolute;
            color: #fff;
            font-family: $FDefaultM;
            font-size: 14px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 2;
        }

        svg {
            fill: $CAcsent;
        }
    }

    &__compare {
        display: flex;
        align-items: center;
        
        &:hover {
            svg {
                fill: $CAcsent;
            }
        }
    }

    &__title {
        font-size: 24px;
    }

    &__square {
        font-family: $FDefaultM;
        font-weight: bold;
        font-size: 24px;
        color: $CAcsent;
    }

    &__coast {
        font-family: $FDefaultM;
        font-weight: bold;
        font-size: 24px;
    }

    &__coast-sub {
        font-size: 14px;
    }

    &__backface {
        position: absolute;
        display: none;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #919191;
        z-index: 10;
        justify-content: center;
        align-items: center;
        box-shadow: 0 7px 13px 0 rgba(#070707, 0.7);

        &.active {
            display: flex;
        }
    }

    &__backface-text {
        font-size: 14px;
        color: #fff;
        text-align: center;
        padding: 25px;
    }
}