.contacts-list {
    &__item + &__item {
        margin-top: 30px;
    }

    &__content {
        white-space: normal;

        &._full {
            width: 100%;
        }
        
        span {
            display: block;

            &:first-child {
                font-size: 20px;
                margin-bottom: 3px;

                @media (max-width: $screen-sm - 1) {
                    font-size: 18px;
                }
            }
        }

    }
}