.documents-item {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    // transition: all 0.3s;

    & + & {
        margin-top: 20px;
    }

    &:hover {
        color: $CAcsent;

        svg {
            fill: $CAcsent;
        }
    }

    &__icon {
        &-wr {
            margin-right: 10px;
        }

        margin-top: 10px;
        font-size: 50px;
        min-width: 50px;
    }

    &__info {
        transition: 0.3s color;
    }

    &__title {
        font-size: 24px;
        font-family: $FDefault;

        @media (max-width: $screen-md - 1) {
            font-size: 16px;
        }
    }

    &__date,
    &__size {
        font-size: 18px;

        @media (max-width: $screen-md - 1) {
            font-size: 14px;
        }
    }
}