
.footer {
    background-color: #f1f1f1;
    font-size: 14px;
    font-family: RobotoLight, Arial, sans-serif;

    .nav-info {
        background-color: #f1f1f1;
        box-shadow: unset;
        padding: 35px 0;
    }

    @media (max-width: $screen-sm - 1) {
        .nav-info__logo > * {
            display: block;
        }

        .logo-brand {
            margin-right: 0;
            margin-bottom: 30px;
        }
    }

    &__nav {
        border-top: 1px solid #d1d1d1;
        padding: 20px 0 45px;

        & > .row > div:first-child .row div:last-child {
            @media (min-width: $screen-sm) {
                padding-left: 40px;
            }

            @media (min-width: $screen-xs) {
                padding-left: 0px;
            }
        }

        @media (max-width: $screen-md - 1) {
            & > .row {
                display: flex;
                flex-wrap: wrap;
            }

            & > .row > div {
                margin: 30px 0;
            }
        }

        @media (max-width: $screen-xs - 1) {
            padding-bottom: 0;
        }
    }

    .nav-block__content._custom-one > .row > div + div {
        @media (min-width: $screen-sm) {
            margin-top: 20px;
        }
    }

    .nav-block__content._custom-two > .row > div + div {
        @media (min-width: $screen-md) {
            margin-top: 20px;
        }
    }
    
    &__socials {
        text-align: right;

        @media (max-width: $screen-md - 1) {
            text-align: center;
        }
    }
    
    &__bottom {
        margin-bottom: 40px;

        @media (max-width: $screen-sm - 1) {
            text-align: center;
        }

        &._flex-between {
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between
        }
    }

    &__coopyright {
        @media (max-width: $screen-sm - 1) {
            margin-top: 40px;
            margin-bottom: 20px;
        }      
    }

    &__politic {
        @media (max-width: $screen-sm - 1) {
            margin:  0 auto;
        }
    }
}