.header {
    position: relative;
    z-index: 1000;
    box-shadow: 0 12px 7px 0 rgba(#000, 0.05);
    background-color: #fff;

    &-sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .nav-info__links {
        @media (max-width: $screen-md - 1) {
            padding: 30px 0;
        }
    }

    .nav-info__link {    
        @media (max-width: $screen-md - 1) {
            padding-left: 0;
        }
    }
}