.plan-home {
    padding: 0;
    position: relative;

    @media (max-width: $screen-sm - 1) {
        display: none;
    }
}

.plane-home__nav {
    position: absolute;
    top: 25%;
    left: 0;
    max-width: 265px;
    padding: 30px 20px;
    background-color: rgba(#fff, 0.8);
    border-radius: 15px;
}

.plane-home__item {
    margin-bottom: 5px;

    &:hover {
        .plane-home__link  {
            color: $CAcsent;
            text-decoration: underline;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.plane-home__link {
    display: block;
    transition: 0.4s color;
    font-size: 20px;

    &.active {
        color: $CAcsent;
        text-decoration: underline;
    }
}

.plane-home__btn {
    margin-top: 35px;

    a {
        font-family: 'ClearSansBold', sans-serif;
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
    }
}

.plan-home__img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.plan-home__mark {
    position: absolute;
    cursor: help;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: -4px;
        background: radial-gradient(ellipse at center, #ffffff 0%, transparent 68%);
        transform: rotate(-40deg);
    }

    svg {
        font-size: 55px;
        -webkit-filter: drop-shadow( -1px -1px 2px #000 ); 
        filter: drop-shadow( -1px -1px 2px #fff );
    }
    
    &:hover .plan-home__tooltip::after,
    &.active .plan-home__tooltip::after {
        opacity: 1;
        visibility: visible;
    }

    &.active {
        svg {
            fill: $CAcsent;
        }
    }
}

.plan-home__tooltip {
    display: block;
    z-index: 100;
    height: 100%;
    left: 0;

    &:after {
        position: absolute;
        top: -10px;
        visibility: hidden;
        opacity: 0;
        transition: all .4s ease-in-out;
    }

    &:after {
        content: attr(data-tooltip);
        left: -10px;
        background: rgba(255, 255, 255, .9);
        border-radius: 8px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
        color: #000;
        padding: 8px;
        font-size: 1.3rem;
        z-index: 100;
        left: 50px;
        width: 250px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    &.active:after {
        opacity: 1;
        visibility: visible;
    }
}

.plan-home__mark-electricity {
    top: 41%;
    left: 30%;
}
.plan-home__mark-roof {
    top: 30%;
    left: 49%;
}
.plan-home__mark-water {
    top: 79%;
    left: 27.8%;
}
.plan-home__mark-wall {
    top: 52%;
    left: 56%;
}
.plan-home__mark-wall-2 {
    top: 80%;
    left: 76%;
}
.plan-home__mark-gas {
    top: 29%;
    left: 58%;
}
.plan-home__mark-window {
    top: 40%;
    left: 73%;
}
.plan-home__mark-foundation {
    top: 67%;
    left: 60%;
}
.plan-home__mark-ceiling {
    top: 48%;
    left: 67%;
}