.iframe-responsive {
    position: relative;

    &._max-w {
        max-width: 560px;
    }

    &._center {
        margin: 0 auto;
    }

    &__wrap {
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        width: 100%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}