.map-block {
    position: relative;
    box-shadow: 0 0 35px 0 rgba(#828282, 0.35);
    margin-bottom: 50px;
    transition: box-shadow 0.3s, transform 0.3s;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 0 55px 0 rgba(#828282, 0.55);
    }

    @media (max-width: $screen-md - 1) {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100vw;
        transform: translate(-50%, -50%);
        height: 100%;
    }

    .section__btn-wr {
        @media (max-width: $screen-md - 1) {
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
        }

        @media (max-width: $screen-sm - 1) {
            bottom: -80px;
        }
    }

    img {
        display: block;
        max-height: 460px;

        @media (max-width: $screen-md - 1) {
            max-width: unset;
            max-height: unset;
            height: 100%;
            width: 100vw;
            
        }
    }
}