.materials-item {
    display: block;
    position: relative;
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
    transform: translateY(0);
    box-shadow: 0 12px 24px 0 rgba(#303030, 0);
    transition: box-shadow 0.5s, transform 0.5s;


    &__wr {
        display: flex;

        @media (max-width: $screen-md - 1) {
            flex-wrap: wrap;

            & > * {
                margin-bottom: 0;
                width: 50%;
            }
        }

        @media (max-width: $screen-sm - 1) {
            & > * {
                margin-bottom: 0;
                width: 100%;
            }
        }
    }

    @media (max-width: $screen-sm - 1) {
        height: 400px;
    }

    &:hover {
        box-shadow: 0 12px 24px 0 rgba(#303030, 0.33);
        transform: translateY(-3px);

        .materials-item__btn {
            color: $CAcsent;
        }

        &:before {
            background-color: rgba(#000, 0.1);
        }
    }
    
    &._nav {
        background-position: center top;

        .materials-item__label-decor:after {
            margin-bottom: 2px;
            width: 35px;
            margin-right: 5px;
        }

        .materials-item__label-heading {
            font-family: $FDefault;
            font-size: 24px;
            line-height: 24px;

            @media (max-width: $screen-xs - 1) {
                font-size: 20px;
            }
        }

        &:before {
            background-color: rgba(#000, 0.5);
        }

        &:hover {
            &:before {
                background-color: rgba(#000, 0.2);
            }
        }
    }

    &._small {
        height: 190px;
    }

    &._medium {
        height: 320px;

        @media (max-width: $screen-md - 1) {
            height: 280px;
        }

        @media (max-width: $screen-sm - 1) {
            height: 320px;
        }
    }

    &._big {
        height: 370px;

        &._small-md {
            @media (max-width: $screen-md - 1) {
                height: 190px;
            }

            @media (max-width: $screen-sm - 1) {
                height: 450px;
            }
        }
    }

    &:before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.4);
        transition: background-color 0.3s;
    }

    &__label {
        position: absolute;
        color: #fff;
        left: 40px;
        top: 40px;
        z-index: 5;

        &._bottom {
            top: unset;
            bottom: 25px;
        }

        &-heading {
            font-size: 30px;
            line-height: 36px;

            span {
                display: block;
            }
        }

        &-subheading {
            font-size: 18px;
            line-height: 2;
            font-family: $FBaseL;
        }

        &-decor {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                right: 100%;
                bottom: 0;
                margin-bottom: 8px;
                margin-right: 10px;
                height: 3px;
                width: 30px;
                background-color: #fff;
            }
        }
    }

    &__btn {
        position: absolute;
        padding: 10px 0;
        z-index: 5;
        bottom: 30px;
        right: 50px;
        color: #fff;
        font-family: $FBaseL;
        transition: color 0.5s;
    }
}