.blocker._custom {
  z-index: 9999;
  padding: 10px;
}

.modal {
  position: relative;
  display: flex;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background: linear-gradient(180deg, rgba(88, 167, 211, 0.85) 0%, rgba(116, 177, 67, 0.85) 100%);
  //   backdrop-filter: blur(9px);
  //   opacity: 0.85;
  // }

  &._custom {
    max-width: unset !important;
    width: initial;
  }


  &._success &__close {
    top: 12px;
    right: 12px;
  }

  &__inner {
    position: relative;
    // max-width: 700px;
    width: 100%;
    margin: auto;
    padding: 90px;
    border-radius: 205px;
    background-color: #fff;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:after,
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 3px;
      background-color: #fff;
      pointer-events: none;
    }

    &:before {
      transform: translate(-50%,-50%) rotate(45deg); 
    }

    &:after {
      transform: translate(-50%,-50%) rotate(-45deg); 
    }
  }

  &__content {
    text-align: center;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-family: $FBase;
    font-size: 16px;
    color: $BFont-color;
    margin-bottom: 20px;

    @media(min-width: $screen-md) {
      margin-bottom: 25px;
      font-size: 16px;
    }

    &._acsent {
      color: $CAcsent-heading-hero;
    }
    
  }

  &__submit-wr {
    margin-top: 20px;
    text-align: center;
    @media(min-width: $screen-md) {
      margin-top: 50px;
    }
  }

  &__iframe {
    position: relative;

    iframe {
      position: relative;
      z-index: 2;
    }
  }
}
