.nav-block {
    &__list + &__list {
        margin-top: 19px
    }
    
    &__title {
        padding-bottom: 30px;
        font-size: 18px;
        font-family: $FBase;
        color: #faac3d;
        line-height: 1
    }
    
    &__link {
        font-family: $FBaseL;
        font-size: 14px;
        line-height: 20px;
    }

    &._inline {
        display: inline-block;
        vertical-align: top;
    }
}