.nav-info {
    font-family: $FDefaultL;
    background-color: #fff;
    padding: 10px 0;

    &._header {
        position: relative;
        z-index: 10;
        box-shadow: 0 0 27px 13px rgba(#e6e6e6, 1);

        @media (max-width: $screen-md - 1) {
            display: none;

            .nav-info__links {
                padding: 30px 0;
            }
        
            .nav-info__link {    
                padding-left: 0;
            }
        }
    }

    .logo-brand {
        margin-right: 18%;
        display: inline-block;
    }

    .logo-brand-descr {
        font-size: 16px
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;

        &._footer-custom {
            display: block;
            align-items: center;

            .flex-row + .flex-row {
                margin-top: 40px;
            }

            .flex-row {
                @media (max-width: $screen-sm - 1) {
                    display: block !important;
                    text-align: center;
                }
            }

            .block-line {
                display: inline-flex;

                svg {
                    margin-right: 10px;
                }
            }

            .nav-info__links {
                @media (max-width: $screen-sm - 1) {
                    display: block;
                }
            }

            .nav-info__link {
                @media (max-width: $screen-lg - 1) {
                    padding-left: 0;
                }

                @media (max-width: $screen-sm - 1) {
                    display: block;
                    margin-left: 0;
                }
            }

            .nav-info__link + .nav-info__link {
                @media (max-width: $screen-sm - 1) {
                    margin-top: 15px;
                }
            }

            .nav-info__call {
                @media (max-width: $screen-sm - 1) {
                    text-align: center;
                    margin-top: 40px;
                }
            }
        }
    }

    &__logo > * {
        display: inline-block;
        vertical-align: middle
    }

    &__links {
        display: flex;
        font-size: 14px;

        & > * + * {
            margin-left: 7%;
        }
    }

    &__link {
        padding: 5px;
    }

    &__icons {
        font-size: 20px;
        margin-right: 3px;
    }

    &__call {
        text-align: right;

        &._tablet {
            text-align: left;
            padding-bottom: 30px;
            color: $CAcsent;
        }

        a {
            display: block;
        }
    }

    &__phone {
        font-size: 24px;
        font-family: $FDefault;

        &._acsent {
            color: $CAcsent;
        }
    }

    &__callback {
        font-size: 16px;
        color: #faac3d;
        font-family: $FDefaultL;
    }
}