.project-item {
    &__info {
        position: absolute;
        z-index: 10;
        left: 0;
        top: 20px;
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #fff;
        line-height: 1;

        &._right {
            left: unset;
            right: 0;

            a {
                margin-top: 5px;
            }
        }

        &._align-t {
            align-items: flex-start;
        }

        &._acsent {
            background-color: $CAcsent;
            color: #fff;
        }

        &-icon {
            font-size: 35px;
            width: 50px;
            height: 40px;
            margin-right: 5px;
        }
    }
}

.project-item-service {
    &__list {
        &._item-flex {
            li {
                display: flex;
                justify-content: space-between;

                span:last-child {
                    color: $CAcsent;
                    font-family: $FDefault;
                }
            }

            li + li {
                margin-top: 10px;
            }
        }

        &._horizontal {
            display: flex;
            justify-content: space-between;

            li {
                display: inline-flex;
                align-items: flex-start;
            }
        }
    }

    &__number {
        font-size: 48px;
        font-weight: bold;
        line-height: 0.7;
        margin-right: 5px;
    }

    &__icon {
        font-size: 30px;
        fill: #000;
    }

    &__descr {
        display: block;
        font-size: 14px;
    }
}