.respons-video {
    position: relative;
    margin-bottom: 10px;
    min-height: 200px;

    &._full {
        height: 100%;

        .respons-video__iframe-wr {
            height: 100%;
        }
    }

    &__preview {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#000, 0.6) no-repeat center/cover;
        z-index: 100;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(#000, 0.6);
            pointer-events: none;
        }

        &:hover svg {
            fill: $CAcsent;
        }
    }

    &__label {
        display: none;
        position: absolute;
        z-index: 5;
        top: -15px;
        right: -15px;
        padding: 10px;
        background-color: $CAcsent;
        color: #fff;

        @media (max-width: $screen-sm - 1) {
            font-size: 12px;
        }

        &._text-right {
            text-align: right;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        min-width: 60px;
        fill: #fff;
        transition: fill 0.3s;
        pointer-events: none;
    }

    &__padding {
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        // max-width: 560px;
        width: 100%;
    }

    &__iframe-wr {
        position: relative;
        height: 250px;

        &._full {
            height: initial;
        }
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
}