.slider-range {

    &._form &__wr {
        margin-bottom: 20px;
        padding: 0 15px;
    }

    &._form &__ui {
        margin: 0px; 
        margin-bottom: 15px;
    }

    &._form .ui-slider-horizontal {
        height: 7px;
    }

    &._form .ui-slider-horizontal .ui-slider-handle {
        top: -10px;
    }

    &._form .ui-slider .ui-slider-handle {
        height: 25px;
        width: 6px;
    }

    &._left &__wr {
        padding: 0;
        width: 80%;
    }

    &__wr {
        margin-bottom: 70px;
        padding: 0 30px;
    }

    &__ui {
        margin: 0 40px; 
        margin-bottom: 15px;
    }

    &__content {
        position: relative;
    }

    &__out {
        background-color: transparent;
        border: none;
        font-size: 12px;
        max-width: 100px;

        &._left {
            text-align: left;
            margin-left: -20px;
        }

        &._right {
            text-align: right;
            margin-right: -20px;
        }
    }

    &__item {
        position: absolute;
        opacity: 0;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 0;
        transition: opacity 1.5s;

        &.active {
            position: relative;
            left: unset;
            right: unset;
            top: unset;
            bottom: unset;
            opacity: 1;
            z-index: 2;
        }
    }

    &__descr {
        display: flex;
        width: 100%;
        justify-content: space-between;

        span {
            font-size: 16px;
        }
    }
}