.socials {
    display: block;

    &._center {
        text-align: center;
    }

    &__inner {
        display: inline-block;
    }

    &__list {
        display: inline-flex
    }
    
    &__item + &__item {
        margin-left: 10px;

        @media (max-width: $screen-md - 1) {
            margin-left: 15px;
        }
    }
    
    &__item._small + &__item._small {
        margin-left: 10px;

        @media (max-width: $screen-md - 1) {
            margin-left: 10px;
        }
    }

    &__icon {
        @media (max-width: $screen-sm - 1) {
            font-size: 40px;
        }

        &-contact {
            font-size: 30px;
        }
    }
}