.filters-nav {
    &__inner {
        display: inline-flex;
        align-items: center;
    }

    button,
    label {
        margin-right: 20px;
    }

    .selectize-input {
        padding-right: 40px;
        min-width: 160px;
    }

    .selectize-control.single .selectize-input:after {
        border-top-color: $CAcsent
    }

    .selectize-control.single .selectize-input.dropdown-active:after {
        border-bottom-color: $CAcsent
    }
}