.icon-svg {
    &_s-volume {
        font-size: 40px;
    }

    &_s-check {
        font-size: 20px;
        fill: $CAcsent;
        min-width: 20px;
    }
    
    &_stages {
        font-size: 60px;
        min-width: 60px;
        color: $CAcsent;
        margin-bottom: 10px;
    }
    
    &_documents {
        font-size: 80px;
        min-width: 80px;
        margin-right: 10px;

        @media (max-width: $screen-md - 1) {
            font-size: 55px;
            min-width: 55px;
        }
    }
}