.person-item {
    display: flex;
    flex-direction: column;
    height: 100%;

    &._reversed-sm {
        @media (max-width: $screen-sm - 1) {
            .row {
                display: flex;
                flex-wrap: wrap;
            }

            .row > *:first-child {
                order: 2
            }
            .row > *:last-child {
                order: 1
            }
        }
    }
    
    &__img {
        height: 360px;
        width: 100%;
        background: lightgrey no-repeat center/cover;
        margin-bottom: 20px;
    }

    &__iframe {
        height: 360px;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 24px;
        line-height: 1.3;
        font-family: $FDefault;
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 40px;

        &._small {
            margin-bottom: 20px;
        }
    }

    &__video {
        margin-top: auto;
        display: flex;
        align-items: flex-start;

        * {
            pointer-events: none;
        }

        &-left {
            margin-right: 20px;
        }

        &-img {
            position: relative;
            height: 110px;
            width: 165px;
            background: lightgrey no-repeat center/cover;
        }

        &-title {
            margin-bottom: 5px;
        }

        &-link {
            text-decoration: underline;
        }

        &:hover {
            color: $CAcsent;

            .person-item__video-link {
                text-decoration: none;
            }
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 55px;
    }

    
    &__list {
        margin-bottom: 20px;
        
        span {
            font-size: 24px;
        }

        li {
            margin-bottom: 15px;
        }
    }

    &__icon-command {
        font-size: 40px;
        margin-right: 10px;
    }
}