{% macro breadcrumbs(crumbs) %}
    <div class="breadcrumbs">
        <div class="container">
            <ul class="breadcrumbs__list">
                {% for crumb in crumbs %}
                            <li class="breadcrumbs__item">
                                {% if crumb.path == null %}
                                    <span class="breadcrumbs__link _active">{{ crumb.title }}</span>  
                                {% else %} 
                                    <a href="{{ crumb.path }}" class="breadcrumbs__link">{{ crumb.title }}</a>  
                                {% endif %}
                            </li>   
                        {% if not loop.last %}
                            <li class="breadcrumbs__item">
                                <span class="breadcrumbs__divider">/</span>   
                            <li class="breadcrumbs__item">     
                        {% endif %}
                    </li>                        
                {% endfor %}
            </ul>
        </div>
    </div>
{% endmacro %}

{% macro heading(params) %}
    <div class="section__heading-wr">
        {% if params.heading %}
            <h2 class="section__heading{% if params.heading.mod %} {{ params.heading.mod }}{% endif %}">
                {{ params.heading.title }}
            </h2>
        {% endif %}
        {% if params.subheading %}
            <h3 class="section__subheading {% if params.subheading.mod %}{{ params.subheading.mod }}{% endif %} ">{{ params.subheading.title }}</h3>
        {% endif %}
    </div>
{% endmacro %}

{% macro socials(socials) %}
    <div class="socials{% if socials.position %} _{{ socials.position }}{% endif %}">
        <div class="socials__inner">
            <ul class="socials__list">
                {% for social in socials %}
                    <li class="socials__item {% if socials.padding %} _{{ socials.padding }}{% endif %}">
                        <a class="socials__link" href="{{ social.href }}" title="{{ social.title }}">
                            {{ svg.icon({'name': social.title, 'mod': social.mod}) }}
                        </a>
                    </li> 
                {% endfor %}    
            </ul>
        </div>
    </div>
{% endmacro %}