.map-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-city {
        button + button {
            margin-left: 20px;
        }
    }

    &-result {
        overflow-y: auto;
        height: 100%;
        width: 100%;
    }

    button {
        min-height: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.map-nav-action {
    &__legends {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 14px;
        margin: 5px;

        @media (max-width: $screen-md - 1) {
            margin-bottom: 20px;
            font-size: 13px;
        }

        @media (max-width: $screen-md - 1) {
            margin-bottom: 20px;
            font-size: 11px;
        }

        span {
            display: inline-block;
            vertical-align: middle;
            padding: 5px;
            white-space: nowrap;

            @media (max-width: $screen-md - 1) {
                padding: 5px 0; 
            }
        }

        span + span {
            margin-left: 5px;
        }
        
        .legend-color {
            width: 16px;
            height: 16px;
            border-radius: 50%;

            @media (max-width: $screen-md - 1) {
                width: 12px;
                height: 12px;
            }
        }
    }

    &__legend + &__legend {
        margin-left: 20px;
    }
}

.map-nav-filters {
    &__wr {
        display: inline-flex;
        align-items: center;
    }

    button,
    label {
        margin-right: 20px;
    }

    .selectize-input {
        padding-right: 40px;
        min-width: 160px;
    }

    .selectize-control.single .selectize-input:after {
        border-top-color: $CAcsent
    }

    .selectize-control.single .selectize-input.dropdown-active:after {
        border-bottom-color: $CAcsent
    }
}

.map-nav-result {
    max-height: 500px;

    @media (max-width: $screen-md - 1) {
        max-height: 380px
    }

    &__item {
        margin-bottom: 20px;
        border: 2px solid transparent;

        @media (max-width: $screen-md - 1) {
            display: inline-block;
            width: 50%;
        }

        @media (max-width: $screen-sm - 1) {
            display: block;
            width: 100%;
        }
    }

    &__btns {
        text-align: center;
        margin-top: 40px;

        button {
            margin: 10px;
        } 
    }
}

.home-item {
    display: flex;
    line-height: 1.2;
    font-size: 14px;
    padding: 10px;
    
    &__img {
        width: 165px;
        height: 150px;
        background: transparent no-repeat center/cover;
        margin-right: 15px;
    }

    &__title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    &__data {
        margin-bottom: 7px;
    }
}

// map styles
[class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}