@mixin btn {
  position: relative;
  border: 2px solid #33712f;
  // max-width: 160px;
  width: initial;
  min-height: 44px;
  transition: $TnsDefault;
  min-width: 225px;
  cursor: pointer;

  &__wr {
    text-align: left;
    
    &._center {
      text-align: center;
    }

    &._right {
      text-align: right;
    }

    &._margin {
      margin-bottom: 30px;
    }

    @media (max-width: $screen-sm - 1) {
      &._center-sm {
        text-align: center;
      }
    }
  }

  &._small {
    min-width: 140px;
  }

  &__text {
    font-size: 16px;
    font-family: $FBaseL;
    transition: $TnsDefault;
    white-space: nowrap;
    color: #fff;

    &._absolute {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .btn__remove {
    position: relative;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;

    &:before,
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background-color: #fff;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:after {
      transform: translateY(-50%) rotate(45deg);
    }

    &:before {
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  &__icon {
    transition: $TnsDefault;
  }

  &._medium {
    padding: 0 60px;
  }

  &._full {
    width: 100%;
  }

  &._file {
    width: 100%;
    background-color: #fff;
    color: #000000;
    border-radius: 0;
  }

  &._file &__text {
    color: #000000;
  }

  &._icon {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 160px;
  }

  &._shadow {
    box-shadow: 0 7px 35px 0px rgba(#9b661a, 0.5);
  }

  &._modal {
    height: 40px;
  }

  &._map {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
  }

  &._border {
    background: transparent;
    border-radius: 30px;
    border: 2px solid $CAcsent; 

    .btn__text {
        color: $CAcsent;
    }
  }

  &:hover {
    // background-image: linear-gradient(to right, #F89A15, #F96D86); 

    .btn__icon {
      fill: #fff;
    }

    .btn__text {
      color: #ffffff;
    }
  }

  &:active {
    opacity: 0.5;
  }
};