<div class="advantages">
    <div class="advantages__list">
        <div class="advantages__item">
            <div class="block-line">
                {{ svg.icon({'name': 'guaranty', 'mod': 'advantages__icons'}) }}
                <div class="block-line__list">
                    <span>Пожизненная</span>
                    <span>гарантия</span>
                </div>
            </div>
        </div>
        <div class="advantages__item">
            <div class="block-line">
                {{ svg.icon({'name': 'coast', 'mod': 'advantages__icons'}) }}
                <div class="block-line__list">
                    <span>Смета</span>
                    <span>не меняется</span>
                    <span>ни на рубль</span>
                </div>
            </div>
        </div>
        <div class="advantages__item">
            <div class="block-line">
                {{ svg.icon({'name': 'photo', 'mod': 'advantages__icons'}) }}
                <div class="block-line__list">
                    <span>Еженедельные</span>
                    <span>фотоотчеты</span>
                </div>
            </div>
        </div>
        <div class="advantages__item">
            <div class="block-line">
                {{ svg.icon({'name': 'carry', 'mod': 'advantages__icons'}) }}
                <div class="block-line__list">
                    <span>Своя служба</span>
                    <span>заботы о клиентах</span>
                </div>
            </div>
        </div>
    </div>
</div>