{% set footer = {
    "nav": {
        "projects": {
            "title": "Проекты «Эверест»",
            "list": [
                [
                    {
                        "title": "Дома из кирпича",
                        "href": "#"
                    },
                    {
                        "title": "Дома из газобетона",
                        "href": "#"
                    },
                    {
                        "title": "Дома из дерева",
                        "href": "#"
                    },
                    {
                        "title": "Каркасные дома",
                        "href": "#"
                    },
                    {
                        "title": "Дома из пеноблоков",
                        "href": "#"
                    }
                ],
                [
                    {
                        "title": "Классические дома",
                        "href": "#"
                    },
                    {
                        "title": "Дома фахверк",
                        "href": "#"
                    },
                    {
                        "title": "Минималистичные дома",
                        "href": "#"
                    }
                ]
            ],
            "list2": [
                [
                    {
                        "title": "Дома 6 на 6",
                        "href": "#"
                    },
                    {
                        "title": "Дома 6 на 8",
                        "href": "#"
                    },
                    {
                        "title": "Дома 6 на 10",
                        "href": "#"
                    },
                    {
                        "title": "Дома 7 на 7",
                        "href": "#"
                    },
                    {
                        "title": "Дома 7 на 9",
                        "href": "#"
                    },
                    {
                        "title": "Дома 7 на 10",
                        "href": "#"
                    },
                    {
                        "title": "Дома 8 на 8",
                        "href": "#"
                    },
                    {
                        "title": "Дома 8 на 9",
                        "href": "#"
                    },
                    {
                        "title": "Дома 8 на 10",
                        "href": "#"
                    }
                ]
            ]
        },
        "homes": {
            "title": "Готовые дома",
            "list": [
                [
                    {
                        "title": "Карта готовых",
                        "href": "#"
                    },
                    {
                        "title": "Карта строящихся",
                        "href": "#"
                    }
                ],
                [
                    {
                        "title": "Поселки",
                        "href": "#"
                    },
                    {
                        "title": "Лебедево Лайф",
                        "href": "#"
                    },
                    {
                        "title": "Новые Ткачи",
                        "href": "#"
                    },
                    {
                        "title": "Толгоболь",
                        "href": "#"
                    }
                ]
            ],
        },
        "company": {
            "title": "О компании",
            "list": [
                [
                    {
                        "title": "Команда",
                        "href": "#"
                    },
                    {
                        "title": "Документы",
                        "href": "#"
                    },
                    {
                        "title": "Контакты",
                        "href": "#"
                    }
                ]
            ]
        },
        "work": {
            "title": "Как мы строим",
            "list": [
                [
                    {
                        "title": "Сервис",
                        "href": "#"
                    },
                    {
                        "title": "Строительство",
                        "href": "#"
                    },
                    {
                        "title": "Материалы",
                        "href": "#"
                    },
                    {
                        "title": "Кредитование",
                        "href": "#"
                    }
                ],
                [
                    {
                        "title": "Геология",
                        "href": "#"
                    },
                    {
                        "title": "Фундамент",
                        "href": "#"
                    },
                    {
                        "title": "Стены",
                        "href": "#"
                    },
                    {
                        "title": "Кровля",
                        "href": "#"
                    },
                    {
                        "title": "Коммуникацции",
                        "href": "#"
                    },
                    {
                        "title": "Отделка",
                        "href": "#"
                    }
                ]
            ]
        }
    },
    "socials": [
        { 
            "title": "instagram",
            "href": "/#instagram"
        }, 
        { 
            "title": "facebook",
            "href": "/#facebook"
        }, 
        {
            "title": "vk",
            "href": "/#vk"
        } 
    ]
} %}

<div class="footer {% if mod %}_{{mod}}{% endif %}">
    
    <div class="nav-info _footer">    
        <div class="container">
            <div class="nav-info__inner visible-lg-flex-min">
                <div class="nav-info__logo">
                    <div class="logo-brand">
                        <img src="/assets/images/logo.png" alt="logo">
                    </div>
                    <div class="logo-brand-descr">
                        Строительный холдинг
                        <br>
                        Свой дом — это просто!
                    </div>
                </div>
                <div class="nav-info__links">
                    <a class="nav-info__link">
                        <div class="block-line _block-sm">
                            {{ svg.icon_m({'name': 'calc', 'mod': 'nav-info__icons'}) }}
                            <span>Калькулятор</span>
                        </div>
                    </a>
                    <a class="nav-info__link">
                        <div class="block-line _block-sm">
                            {{ svg.icon({'name': 'person', 'mod': 'nav-info__icons'}) }}
                            <span>Личный кабинет</span>
                        </div>
                    </a>
                    <a class="nav-info__link">
                        <div class="block-line _block-sm">
                            {{ svg.icon({'name': 'project', 'mod': 'nav-info__icons'}) }}
                            <span>Индивидуальный проект</span>
                        </div>
                    </a>
                </div>
                <div class="nav-info__call">
                    <a href="tel:88001234567" class="nav-info__phone">8 800 123-45-67</a>
                    <a href="javascript:void(0)" class="nav-info__callback">Заказать звонок</a>
                </div>
            </div>
            <div class="nav-info__inner _footer-custom hidden-lg hidden-vl hidden-fh">


                <div class="flex-row">

                    <div class="nav-info__logo">
                        <div class="logo-brand">
                            <img src="/assets/images/logo.png" alt="logo">
                        </div>
                        <div class="logo-brand-descr">
                            Строительный холдинг
                            <br>
                            Свой дом — это просто!
                        </div>
                    </div>

                    <div class="nav-info__call">
                        <a href="tel:88001234567" class="nav-info__phone">8 800 123-45-67</a>
                        <a href="javascript:void(0)" class="nav-info__callback">Заказать звонок</a>
                    </div>

                </div>


                <div class="flex-row">

                    <div class="nav-info__links">
                        <a class="nav-info__link">
                            <div class="block-line _block-sm">
                                {{ svg.icon({'name': 'calc', 'mod': 'nav-info__icons'}) }}
                                <span>Калькулятор</span>
                            </div>
                        </a>
                        <a class="nav-info__link">
                            <div class="block-line _block-sm">
                                {{ svg.icon({'name': 'person', 'mod': 'nav-info__icons'}) }}
                                <span>Личный кабинет</span>
                            </div>
                        </a>
                        <a class="nav-info__link">
                            <div class="block-line _block-sm">
                                {{ svg.icon({'name': 'project', 'mod': 'nav-info__icons'}) }}
                                <span>Индивидуальный проект</span>
                            </div>
                        </a>
                    </div>

                    <div class="footer__socials hidden-xs">
                        <div class="socials">
                            <ul class="socials__list">
                                {% for social in footer.socials %}
                                    <li class="socials__item">
                                        <a class="socials__link" href="{{ social.href }}" title="{{ social.title }}">
                                            {{ svg.icon({'name': social.title, 'mod': ' socials__icon'}) }}
                                        </a>
                                    </li> 
                                {% endfor %}    
                            </ul>
                        </div>
                    </div>

                </div>
            
            </div>
        </div>
    </div>
    
    <div class="container">    
        <div class="row">
            <div class="col-md-12">
                <div class="footer__nav">
                    <div class="row">

                        <div class="col-md-4 col-sm-7 col-xs-12">
                            <div class="nav-block">
                                <div class="nav-block__title">Проекты «Эверест»</div>
                                <div class="nav-block__content">
                                    <div class="row">

                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            {% for list in footer.nav.projects.list %}
                                                <ul class="nav-block__list">  
                                                    {% for sublist in list %}
                                                        <li class="nav-block__item">
                                                            <a class="nav-block__link" href="{{ sublist.href }}">{{ sublist.title }}</a>
                                                        </li>  
                                                    {% endfor %}
                                                </ul>
                                            {% endfor %}     
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-6">  
                                            {% for list in footer.nav.projects.list2 %}
                                                <ul class="nav-block__list">  
                                                    {% for sublist in list %}
                                                        <li class="nav-block__item">
                                                            <a class="nav-block__link" href="{{ sublist.href }}">{{ sublist.title }}</a>
                                                        </li>  
                                                    {% endfor %}
                                                </ul>
                                            {% endfor %}   
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-5 col-xs-12">
                            <div class="nav-block">
                                <div class="nav-block__title">Готовые дома</div>
                                <div class="nav-block__content _custom-one">
                                    <div class="row">

                                        {% for list in footer.nav.homes.list %}
                                            <div class="col-md-12 col-sm-12 col-xs-6"> 
                                                <ul class="nav-block__list">  
                                                    {% for sublist in list %}
                                                        <li class="nav-block__item">
                                                            <a class="nav-block__link" href="{{ sublist.href }}">{{ sublist.title }}</a>
                                                        </li>  
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endfor %}    

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="nav-block">
                                <div class="nav-block__title">О компании</div>
                                <div class="nav-block__content">
                                    <div class="row">

                                        <div class="col-md-12">
                                            {% for list in footer.nav.company.list %}
                                                <ul class="nav-block__list">  
                                                    {% for sublist in list %}
                                                        <li class="nav-block__item">
                                                            <a class="nav-block__link" href="{{ sublist.href }}">{{ sublist.title }}</a>
                                                        </li>  
                                                    {% endfor %}
                                                </ul>
                                            {% endfor %} 
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-8 col-xs-12">
                            <div class="nav-block">
                                <div class="nav-block__title">Как мы строим</div>
                                <div class="nav-block__content _custom-two">
                                    <div class="row">

                                        {% for list in footer.nav.work.list %}
                                            <div class="col-md-12 col-sm-3 col-xs-6">
                                                <ul class="nav-block__list">  
                                                    {% for sublist in list %}
                                                        <li class="nav-block__item">
                                                            <a class="nav-block__link" href="{{ sublist.href }}">{{ sublist.title }}</a>
                                                        </li>  
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endfor %} 

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-xs-12 hidden-sm hidden-md">
                            <div class="footer__socials">
                                <div class="socials">
                                    <ul class="socials__list">
                                        {% for social in footer.socials %}
                                            <li class="socials__item">
                                                <a class="socials__link" href="{{ social.href }}" title="{{ social.title }}">
                                                    {{ svg.icon({'name': social.title, 'mod': ' socials__icon'}) }}
                                                </a>
                                            </li> 
                                        {% endfor %}    
                                    </ul>
                                </div>
                            </div>
                        </div>

                   </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="footer__bottom _flex-between">
                    <div class="footer__coopyright hidden-xs">Стройхолдинг «Эверест», 2014-2018 ©</div>
                    <div class="footer__politic">
                        <a class="_underline _acsent" href="/politic.html">Политика конфиденциальности</a>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="footer__bottom">
                    <p>Сайт носит исключительно информационный характер и не является публичной офертой, определяемой положениями ГК РФ. Для получения подробной информации о наличии, видах, характеристиках и стоимости домов обращайтесь в офис продаж лично или звоните по телефону 8 800 123-45-67.</p>
                    <div class="footer__coopyright visible-xs-block">Стройхолдинг «Эверест», 2014-2018 ©</div>
                </div>
            </div>

        </div>
    </div>
</div>