<header class="header{% if headerParams.mod %} {{ headerParams.mod }}{% endif %}{% if headerParams.sticky %} header-sticky{% endif %}">
    <div class="nav-info _header">    
        <div class="container">
            <div class="nav-info__inner">
                <div class="nav-info__logo hidden-sm hidden-xs">
                    {% if headerParams.page == 'sub' %}
                        <a href="/" class="logo-brand">
                            <img src="/assets/images/logo.png" alt="logo" title="компания 'EVEREST'">
                        </a>
                        {% else %}
                        <div class="logo-brand">
                            <img src="/assets/images/logo.png" alt="logo" title="компания 'EVEREST'">
                        </div>
                    {% endif %}
                    <div class="logo-brand-descr hidden-md hidden-sm hidden-xs">
                        Строительный холдинг
                        <br>
                        Свой дом — это просто!
                    </div>
                </div>
                <div class="nav-info__links hidden-sm hidden-xs">
                    <a href="/calculator.html" class="nav-info__link">
                        <div class="block-line _block-sm">
                            {{ svg.icon({'name': 'calc', 'mod': 'nav-info__icons'}) }}
                            <span>Калькулятор</span>
                        </div>
                    </a>
                    <a class="nav-info__link">
                        <div class="block-line _block-sm">
                            {{ svg.icon({'name': 'person', 'mod': 'nav-info__icons'}) }}
                            <span>Личный кабинет</span>
                        </div>
                    </a>
                    <a class="nav-info__link">
                        <div class="block-line _block-sm">
                            {{ svg.icon({'name': 'project', 'mod': 'nav-info__icons'}) }}
                            <span>Индивидуальный проект</span>
                        </div>
                    </a>
                </div>
                <a href="javascript:void(0)" data-modal="callback" class="nav-info__call modal-toggle-js hidden-sm hidden-xs">
                    <div href="tel:88001234567" class="nav-info__phone">8 800 123-45-67</div>
                    <div class="nav-info__callback">Заказать звонок</div>
                </a>
            </div>
        </div>
    </div>
    
    {% include './navbar.twig' %}
</header>
