{% set header = [
            {
                  "title": "О компании",
                  "links": [  
                        {
                              "title": "О компании",
                              "href": "/company.html"
                        },
                        {
                              "title": "Команда",
                              "href": "/team.html"
                        },
                        {
                              "title": "Документы",
                              "href": "/documents.html"
                        }
                  ]
                  
            },
            {
                  "title": "Каталог проектов",
                  "links": [  
                        {
                              "title": "Стандартные",
                              "href": "#"
                        },
                        {
                              "title": "Индивидуальные",
                              "href": "#"
                        }
                  ]
                  
            },
            {
                  "title": "Дома и участки",
                  "links": [  
                        {
                              "title": "Каталог домов",
                              "href": "/ready-and-build.html"
                        },
                        {
                              "title": "Карта поселков",
                              "href": "/villages.html"
                        }
                  ]
            },
            {
                  "title": "Как мы строим",
                  "href": "/as-we-build.html"
                  
            },
            {
                  "title": "270 готовых домов",
                  "href": "/houses270.html",
            },
            {
                  "title": "Блог",
                  "href": "/blog.html",
            },
            {
                  "title": "Контакты",
                  "href": "/contacts.html",
            }
      ] %}

<div class="navbar">
      <div class="container _relative">
            <div class="flex-row">
                  <div class="navbar__logo-wr hidden-md hidden-vl hidden-fh">
                        {% if headerParams.page == 'sub' %}
                              <a href="/" class="logo-brand">
                                    <img src="/assets/images/logo.png" alt="logo" title="компания 'EVEREST'">
                              </a>
                        {% else %}
                              <div class="logo-brand">
                                    <img src="/assets/images/logo.png" alt="logo" title="компания 'EVEREST'">
                              </div>
                        {% endif %}
                  </div>      
                  <div class="navbar__toggle">
                        <button class="js-navbar-toggle navbar-toggle collapsed" aria-expanded="false" data-toggle="collapse" data-target="#navbarMenu">
                              <span class="navbar-toggle__inner">
                                    <span class="navbar-toggle__sep"></span>
                                    <span class="navbar-toggle__sep"></span>
                                    <span class="navbar-toggle__sep"></span>
                              </span>
                        </button>
                  </div>
                  <div class="navbar__inner">
                        <div class="navbar__content-wr">
                              <div id="navbarMenu" class="navbar__menu-wr collapse">
                                    <div class="nav-info__links visible-xs visible-sm-flex">
                                          <a href="/calculator.html" class="nav-info__link">
                                                <div class="block-line _block-sm">
                                                      {{ svg.icon({'name': 'calc', 'mod': 'nav-info__icons'}) }}
                                                      <span>Калькулятор</span>
                                                </div>
                                          </a>
                                          <a class="nav-info__link">
                                                <div class="block-line _block-sm">
                                                      {{ svg.icon({'name': 'person', 'mod': 'nav-info__icons'}) }}
                                                      <span>Личный кабинет</span>
                                                </div>
                                          </a>
                                    </div>

                                    <ul class="navbar-nav">
                                          {% for dropdown in header %}
                                                <li class="navbar-nav-dropdown">
                                                      <a href="{{ dropdown.href }}" class="navbar-nav-dropdown__toggle" data-hover="dropdown" data-close-others="false">
                                                            {{ dropdown.title }}
                                                      </a>
                                                      {% if dropdown %}{% endif %}
                                                      
                                                      <ul class="navbar-nav-dropdown__menu">
                                                            {% for link in dropdown.links %}
                                                                  <li><a tabindex="-1" href="{{ link.href }}">{{ link.title }}</a></li>
                                                            {% endfor %}
                                                      </ul>
                                                </li>
                                          {% endfor %}
                                    </ul>
                                    <div class="nav-info__call _tablet visible-xs visible-sm">
                                          <div class="block-line _block-sm">
                                                <a href="tel:88001234567" class="nav-info__phone">
                                                      <span>8 800 123-45-67</span>
                                                      {{ svg.icon({'name': 'phone', 'mod': 'nav-info__icons'}) }}
                                                </a>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>