.form {
    padding: 15px 25px 30px;
    background-color: $CForm;

    &._p0 {
        padding-left: 0;
        padding-right: 0;
    }

    &._no-bg {
        background-color: transparent;
    }

    &__heading {
        font-family: $FDefault;
        text-align: center;
        font-size: 24px;
        margin-bottom: 10px;

        &-wr {
            margin-bottom: 20px;
        }

        &._left {
            text-align: left;
        }

        &._big {
            font-size: 28px;
        }

        &._sub {
            font-size: 22px;
            font-family: $FDefaultL;
        }

        &._small {
            font-size: 20px;
        }

        &._light {
            font-family: $FDefaultL;
        }

        &.small-lh {
            line-height: 1.1;
        }
    }

    &._fields-inline {
        padding: 0;
        
        .form__content-wr {
            display: flex;
            padding-left: 0;
        }

        .form__group + .form__group {
            margin-left: 15px;
        }

        .form-input {
            margin: 0;
            padding: 0;
        }

        .form-input__field {
            text-align: left;
            padding-left: 20px;
        }
    }

    .form__group + .form__group {
        margin: 0;
    }

    .form__group._title-left {
        .form-input__title {
            text-align: left;
        }
    }

    &._message {
        padding: 0;
        background-color: #fff;

        textarea,
        input {
            background-color: $CForm;
            padding-left: 20px;
        }

        .form__content-wr {
            padding: 0;
        }

        .form__info {
            width: 100%;
            max-width: 300px;

            @media(max-width: $screen-sm - 1) {
                margin-left: auto;
                margin-right: auto;
            }
        }

        @media(max-width: $screen-sm - 1) {
            .form__info,
            .form__submit {
                text-align: center
            }
        }
    }

    &._flex {
        @include flex-row();

        @media(max-width: $screen-md - 1) {
            flex-direction: column;
        }
    }

    @media(max-width: $screen-md - 1) {
        &__col + &__col {
            margin-top: 10px;
        }
    }
    
    &__col {
        flex: 1;
        margin: 0 10px;

        &._flex-column {
            display: flex;
            flex-direction: column;
        }
    }

    &__group + &__group {
        margin-top: 5px;
    }

    &__group {
        &._grow {
            flex: 1;
        }

        &._left {
            .form-input__field {
                text-align: left;
            }
        }
    }
    
    &__content-wr {
        padding: 0 15px;
    }    

    &__submit {
        margin: 25px 0;

        &._center {
            text-align: center;
        }

        &._right {
            text-align: right;
        }

        @media (max-width: $screen-sm - 1) {
            button + * {
                margin-top: 20px;
            }
        }
    }

    &__info {
        font-size: 11.5px;
        text-align: left;

        &._small {
            font-size: 10px;
        }

        & + & {
            margin-top: 20px;
        }

        &._center {
            text-align: center;
        }

        a {
            text-decoration: underline;
        }
    }

    &__info-text {
        display: block;
        text-align: center;
        font-size: 14px;

        & + & {
            margin-top: 20px;
        }
    }

    &._sidebar {
        padding: 30px 20px;
    }
}