.form-checkbox {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 25px;
  &__input {
    font-size: 0;
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__field {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #000;
    position: absolute;
    left: 0;
    top: 4px;
  }

  &__input:checked ~ &__field {
    background-color: $CAcsent;
  }

  &__title {
    display: block;
    color: #3a3a3a;
    font-size: $SSectionT
  }

  &__desc {
    display: block;
    color: #939393;
    margin-top: 5px;
    font-size: $SSectionT
  }
}