.form-input {
  position: relative;
  @include flex-row;
  align-items: center;
  padding: 0 10px;
  margin: 0 -10px;

  // &.active {
  //   .form-input__title {
  //     top: -5px;
  //     left: -5px;
  //     width: 100px;
  //     font-size: 10px;
  //     transform: translate(0, 0);
  //   }
  // }

  // &.active._textarea {
  //   .form-input__title {
  //     top: -15px;
  //     left: 0px;
  //     width: 100px;
  //     font-size: 10px;
  //     transform: translate(0, 0);
  //   }
  // }

  &._textarea {
    align-items: normal;

    // .form-input__title {
    //   top: 0;
    //   transform: translateX(-50%);
    //   margin-top: 10px;
    // }
  }

  &._full-h {
    height: 100%;
  }

  &__wr {
    margin-bottom: 14px;

    &._btn {
      max-width: 160px;
      width: 100%;
    }

    &._line {
      display: inline-block;
      margin-bottom: 0;
      padding: 0 10px;
    }
  }

  /* ---------------------------------Title------------------------------------ */

  &__title {
    padding: 5px 0;
    color: $BFont-color;
    font-size: 14px;
    width: 100%;
    text-align: center;
    font-family: $FDefaultL;

    @media(min-width: $screen-md) {
      width: 100%;
    }
  }

  &._mobile-full &__title {
    @media(max-width: $screen-md - 1) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  /* ---------------------------------Field------------------------------------ */

  &__field {
    width: 100%;
    color: $BFont-color;
    font-size: 16px;
    // line-height: 18px;
    height: 44px;
    flex-grow: 1;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    // border-radius: 44px;
    text-align: center;
    font-family: $FBase;
    // box-shadow: 0 0 0 1px #BEBEBE inset;

    &._modal {
      height: 40px;
    }

    &._full-h {
      height: 100%;
    }
  }

  &__field.error {
    border-color: #ff0000;
  }

  &__field:focus {
    border-color: #33712f;
  }

  &._textarea &__field {
    height: 100%;
    padding-top: 15px;
    resize: none;
    text-align: left;
    height: 150px;

    @media(max-width: $screen-md - 1) {
      height: 225px;
    }
  }

}