/* ---------------------------------html body------------------------------------ */

html {
  box-sizing: border-box;
  overflow-y: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  @media screen and (min-width: $screen-lg) {
    font-family: $FDefaultL;
    line-height: $BLine-height;
    font-size: $BFont-size;
    color: $BFont-color;
  }

  font-family: $FDefaultL;
  line-height: $BLine-height;
  color: $BFont-color;
  font-size: 16px;
}

body {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding-top: 154px;

  @media (max-width: $screen-md - 1) {
    padding-top: 78px;
  }

  // modal open
  &.nav-open {

  }
}

/* ---------------------------------Typography------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

strong {
  font-family: $FDefault;
  font-weight: normal;

  &._xs {
    @media (min-width: $screen-xs) {
      font-family: $FDefaultL;
    }
  }
}

.acsent-color {
  color: $CAcsent;
}

/* ---------------------------------Links------------------------------------ */

a {
  text-decoration: none;
  color: inherit;
  transition: color .3s;
  cursor: pointer;
  display: inline-block;

  &._inherit {
    display: inherit;
  }

  &._bold {
    font-family: $FDefault;
  }

  &._underline {
    text-decoration: underline;
  }

  &._acsent {
    color: $CAcsent;
  }

  &._medium {
    font-size: 16px;
  }

  &._bold-sm {
    @media (max-width: $screen-sm - 1) {
      font-family: $FDefault;
    }
  }

  &._acsent:hover,
  &:focus,
  &:hover {
    color: $CAcsent;
    text-decoration: none !important;

    svg {
      fill: $CAcsent;
    }
  }

  &:focus {
    outline: none;
  }
}

/* ---------------------------------Button------------------------------------ */

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}



/* ---------------------------------Img------------------------------------ */

img {
  max-width: 100%;
  height: auto;

  &._shadow {
    box-shadow: 0 12px 27px 0 rgba(#1d1d1d, 0.44);
  }
}

.img-circle {
  border-radius: 50%;

}

/* ---------------------------------Paragraph------------------------------------ */

p {
  margin: 0;
}

/* ---------------------------------Input------------------------------------ */
/* ---------------------------------Textarea------------------------------------ */
/* ---------------------------------select------------------------------------ */

input {
  &._file {
    visibility: hidden;
    position: absolute;
    left: -9999px;
  }
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}

input[disabled] ~ span {
  opacity: 0.3;
}

select {
  width: 100%;
}

._underline {
  text-decoration: underline;
}

/* ---------------------------------List------------------------------------ */

ul,
ol {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

svg {
  transition-property: fill, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

/* ---------------------------------Disable video controls on ios------------------------------------ */

video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none
}

#map {
  height: 310px;
  width: 100%;
}

/* ---------------------------------Grid------------------------------------ */

.container {
  &._relative {
    position: relative;
    z-index: 2;
    height: 100%;
  }

  &._flex-center {
    display: flex;
    height: 100%;
    align-items: center;
  }

  &._plan {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0; 
  }
}

.color-acsent {
  color: $CAcsent;
}

.divider {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: $CBgLight;
  margin: 20px 0;
}

/* ---------------------------------Flex-row------------------------------------ */
.flex-row {
  @include flex-row;
}

//@include flex-row-responsive;

/* ---------------------------------Justify------------------------------------ */
// justify-content-start-xs, justify-content-end-sm
@include justify-content-responsive;

/* ---------------------------------Responsive vertical align------------------------------------ */
// top-xs, middle-xs, bottom-xs....
@include vertical();

/* ---------------------------------Responsive horizontal align------------------------------------ */
// left-xs, center-xs, right-xs....
@include horizontal();

/* ---------------------------------Responsive Gutters------------------------------------ */
// gutters-5, gutters-xs-5, gutters-sm-5
@include gutters-responsive((0, 10px, 20px));

/* ---------------------------------Responsive float------------------------------------ */
//float-right, float-left, float-none
//float-right-xs, float-left-xs, float-none-xs
// @include float();

/* ---------------------------------Responsive margin------------------------------------ */
//Margin
// @include margin((0, 10, 20, 30, 40, 50));