.row {
  &._flex {
    display: flex;

    @media (max-width: $screen-sm - 1) {
      display: block;
    }
  }

  @media (max-width: $screen-md - 1) {
    .section__image {
      margin-top: 30px;
    }
  }

  @media (max-width: $screen-sm - 1) {
    &._reversed {
        display: flex;
        flex-wrap: wrap;

        .section__image {
          margin-top: 30px;
        }
    }

    &._reversed > *:first-child {
        order: 2
    }
    &._reversed > *:last-child {
        order: 1
    }
  }
}

.col-flex {
  height: initial;
  display: flex;
  justify-content: center;
  align-items: center;

  &._column {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}


/* ---------------------------------Hide------------------------------------ */
.hidden {
  display: none !important;
}

/* ---------------------------------PageBuffer------------------------------------ */

.page-buffer {
  position: relative;

  //  &__end {
  //    margin-top: 35px;
  //    @media(min-width: $screen-md) {
  //      margin-top: 50px;
  //    }
  //
  //    @media(min-width: $screen-lg) {
  //      margin-top: 80px;
  //    }
  //  }
}

/* ---------------------------------Page wrapper------------------------------------ */

.page-wrapper {
  overflow-x: hidden;
}

/* ---------------------------------Page-helper------------------------------------ */

.page-helper {
  min-height: 0.1px;
}

/* ---------------------------------Page footer------------------------------------ */

.page-footer {
  //padding-top: 20px;
}

@media (min-width: $screen-md) {
  .page-footer {
    //padding-top: 40px;
  }
}

/* ---------------------------------Static Footer------------------------------------ */

@media (min-width: $screen-sm-min) {
  .page-wrapper {
    min-height: 100%;
  }

  //@include staticFooter(40px);
}