////Fonts
@import "./mixins/font-face";

@include font-face(RobotoRegular, '~fonts/Roboto/roboto-regular-webfont' , normal, normal, ttf woff2 woff);
@include font-face(RobotoLight, '~fonts/Roboto/roboto-light-webfont' , normal, normal, woff2 woff);
@include font-face(RobotoMedium, '~fonts/Roboto/roboto-medium-webfont' , normal, normal, ttf woff2 woff);

$BFont-size: 18px;
$BLine-height: 1.4;
$BFont-color: #000;
$TnsDefault: all ease-out 300ms;
$TnsD_Default: 300ms;

$FRobotoR: 'RobotoRegular', Arial, sans-serif;
$FRobotoL: 'RobotoLight', Arial, sans-serif;
$FRobotoM: 'RobotoMedium', Arial, sans-serif;

$FBase:  $FRobotoR;
$FBaseL: $FRobotoL;
$FBaseM: $FRobotoM;

// USED FONTS
// ------------------------------------
$FDefault:  $FBase;
$FDefaultL: $FBaseL;
$FDefaultM: $FBaseM;


//USED COLORS
$CAcsent: #faac3d;
$CAcsent-heading-hero: #F9657D;
$CAcsent-sec: #F89C11;
$CDark: #333333;
$CDarkLight: #666666;
$CBlack: #000000;
$CWhite: #ffffff;
$CBorder: #d1d1d1;
$CArrows: #DBE824;
$CCardCoast: #6E4439;
$Clightgrey: #f1f1f1; 

$CNavSecond: #667189;
$CBreadcrumbs: $Clightgrey;
$CForm: $Clightgrey;
$CBgLight: $Clightgrey;

$Shadow: 0 12px 27px 0 rgba(#000, 0.44);


// FONTSIZES
$SSectionH: 28px;
$SSectionSec: 24px;
$SSectionT: 14px;