.slide-already-seen {
    height: 120px;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    background: #fff no-repeat center/cover;
    transform: translateY(0px);
    box-shadow: 0 0px 17px 0 rgba(#000, 0);
    transition: box-shadow 0.3s, transform 0.3s;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 0px 25px 0px rgba(#000, 0.44);
    }
}

.already-seen {
    &__left {
        font-size: 24px;
        text-align: center;

        @media (max-width: $screen-sm - 1) {
            margin: 20px 0;
        }
    }
}