.slider {
    &._article-item &__slide-img-bg {
        position: relative;
        height: 360px;
    }

    &._article-item._full &__slide-img-bg {
        height: 360px;
    }

    &._article-item._title-in  .slick-track {
        padding-bottom: 70px;
    }

    &._article-item._title-in &__slide-title {
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 15px;
    }

    &._dots-acsent {
        .slick-dots button {
            border-color: $CAcsent;
        }
    }

    &._dots-full {
        .slick-dots {
            display: flex !important; 
        }  
    }

    &._dots-in {
        .slick-dots {
            top: unset;
            bottom: 30px;
        }  
    }
}