.slider {
    position: relative;
    width: 100%;

    &._projects {
        .slick-slide {
            margin: 10px $grid-gutter-width / 2;
        }
    }

    &._build {
        padding: 0 50px;
        background-color: transparent;
        box-shadow: none;
        
        .respons-video {
            margin-bottom: 0;
        }

        .slick-arrow {
            background-image: none;
            width: 50px;

            svg {
                width: 25px;
                height: 25px;
                fill: $CAcsent;
            }
        }
    }

    &._already {
        padding: 0 50px;
        background-color: transparent;
        box-shadow: none;

        .slick-list {
            padding: 15px 0;
        }

        .slick-arrow {
            background-image: none;
            width: 50px;

            svg {
                width: 25px;
                height: 25px;
                fill: red;
            }

            &:after {
                content: none;
            }
        }

        
    }


    &__slide {
        display: block;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &-img-bg {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &-info {
            width: 100%;
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
            font-size: 20px;
        }

        &._hero {
            min-height: 500px;
        }

        &._project {
            position: relative;
        }

        &._projects {
            position: relative;
            transition: transform 0.3s, color 0.3s;

            &:hover {
                color: $CAcsent;
                transform: scale(1.01);

                .slider__slide-img {
                    box-shadow: 0 12px 27px 0 rgba(#1d1d1d, 0.44);
                }

                .slider__slide-img:after {
                    background-color: rgba(#000, 0);
                }
            }
        }

        &-content {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
        }

        &-label {
            position: absolute;
            top: 77px;
            right: 0;
            z-index: 20;
            padding: 15px 70px;
            background-color: #fff;
            color: $CAcsent;
            font-size: 16px;

            @media (max-width: $screen-md - 1) {
                font-size: 13px;
            }
        }

        &-img {
            transition: box-shadow 0.3s;

            &._project {
                position: relative;
                height: 190px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(#000, 0.4);
                    transition: background-color 0.3s;
                }
            }

            &._shadow {
                box-shadow: 0 12px 27px 0 rgba(#1d1d1d, 0);
            }
        }
    }

    .slick-arrow {
        position: absolute;
        width: 8%;
        height: 100%;
        min-width: 50px;
        z-index: 10;
        top: 0;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            z-index: 1;
            transition: 0.3s opacity ease-in-out;
        }

        &:hover {
            &:after,
            svg {
                opacity: 1;
            }
        }

        svg {
            position: relative;
            width: 40px;
            height: 40px;
            fill: $CAcsent; 
            z-index: 2;
            opacity: 0.5;
            transition: 0.3s opacity ease-in-out;
        }
    }

    .slick-prev {
        left: 0;

        &:after {
            background-image: linear-gradient(to right, rgba(#303030, 0.45) 0%, rgba(#303030, 0.25) 50%, rgba(#303030, 0) 70%);
        }
    }

    .slick-next {
        right: 0;

        &:after {
            background-image: linear-gradient(to left, rgba(#303030, 0.45) 0%, rgba(#303030, 0.25) 50%, rgba(#303030, 0) 70%);
        }
    }
}

.slider-slide {
    &__content {
        width: 100%;
        color: #fff;

        @media (max-width: $screen-xs - 1) {
            margin-bottom: 50px;
        }
    }

    &__heading {
        font-family: $FDefault;
        font-weight: normal;
        font-size: 40px;
        text-shadow: 0 0 9px #000;

        @media (max-width: $screen-xs - 1) {
            font-size: 30px;
        }

        &._small {
            font-size: 24px;
            font-family: $FDefaultL;

            @media (max-width: $screen-xs - 1) {
                font-size: 16px;
            }
        }

        &._spaced {
            letter-spacing: 2.5px
        }
    }

    &__btn {
        margin-top: 30px;

        @media (max-width: $screen-xs - 1) {
            text-align: center;
        }
    }
}

.slider-nav {

    &._dots-acsent {
        .slick-dots button {
            border-color: $CAcsent;
        }
    }

    .slick-slide {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .slick-slide + .slick-slide > * {
        margin-left: 20px;
    }

    .slick-current {
        .slider-nav__thumbnails {    
            &:before {
                opacity: 0;
            }

            svg {
                fill: #000;
            }
        }
    }

    &__thumbnails {
        position: relative;
        height: 110px;
        background: $CBgLight no-repeat center/cover;
        transition: boxShadow 0.3s;

        &._big {
            height: 180px;
        }

        &:hover {
            box-shadow: 0 0 24px 0 rgba(#000, 0.5);

            &:before {
                opacity: 0.3;
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #000;
            transition: opacity 0.3s;
            opacity: 0.5;
        }
    }

    &__icon {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: #fff;
        font-size: 40px;
    }

}