.slider {
    &._hero {
        .slick-dots {
            bottom: 30px;
            top: unset;
        }
        
        @media (min-width: $screen-md) {
            .slick-dots {
                display: none !important;
            }
        }

        @media (max-width: $screen-md - 1) {
            .slick-arrow {
                display: none !important;
            }
        }
    }
}