.slider-history {
    padding: 0 50px;

    .slick-arrow {
        width: 50px;

        svg {
            width: 30px;
            height: 30px;
        }
    }
}

.slide-history {
    padding: 0 20px;

    .slider__slide-img {
        height: 230px;
        width: 100%;
        background: transparent no-repeat center/cover;
        margin-bottom: 15px;
    }

    .slider-slide__text {
        font-size: 16px;
    }
}
