.slider._project {
    .slider__slide-img {
        height: 400px;
    }

    .slick-arrow {
        width: 50px;

        &:hover {
            svg {
                fill: $CAcsent;
            }
        }

        svg {
            fill: #fff;
            width: 30px;
            height: 30px;
        }
    }
}
