<template>
  <div class="container" id="map-section">
      <div class="row">
            <div class="col-xs-12">
                <app-map-nav></app-map-nav>
            </div>
      </div>
      <div class="row">
            <div class="col-xs-12 col-md-8">
                <app-map-view></app-map-view>
                <app-map-legend></app-map-legend>
            </div>
            <div class="col-xs-12 col-md-4">
                <app-map-list-result></app-map-list-result>
            </div>
      </div>
  </div>
</template>

<script>
import AppMapNav from "vue-components/MapNav";
import AppMapView from "vue-components/MapView";
import AppMapListResult from "vue-components/MapListResult";
import AppMapLegend from "vue-components/MapLegend";

export default {
    data() {
        return {
        title: 'Hello'
        }
    },
    components: {
        AppMapNav,
        AppMapView,
        AppMapListResult,
        AppMapLegend,
    },
    methods: {

    },
};
</script>

<style lang="scss">
</style>
