<template>
    <div>
        <ul class="map-nav-result" id="map-nav-result">
            <li 
                @click="selectItem(village.id)" 
                :id="'village-' + village.id" 
                v-for="village in villages" 
                :key="village.id" 
                class="map-nav-result__item"
            >
                <div class="home-item">
                    <div class="home-item__img" :style="{ 'background-image': 'url(/assets/images/houses270/map/' + village.image + ')'}"></div>
                    <div class="home-item__descr">
                        <div class="home-item__title">
                            <strong>
                                {{ village.name }}
                            </strong>
                        </div>
                        <div class="home-item__data">
                            в наличии:<br>
                            <span 
                                v-for="stock in village.stock"
                                :key="stock"
                            >
                                -{{ stock }}<br>
                            </span>
                        </div>
                        <a class="section__link _underline" :href="'/catalog/village/' + village.id">Подробнее</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    data() {
        return {
            activeVillageId: null,
            color: '#faac3d',
        };
    },
    computed: {
        villages() {
            const { villages , filteredVillages } = this.$store.state.villages;

            console.log(filteredVillages);

            if (filteredVillages.length > 0) return filteredVillages;

            return villages;
        },
    },
    methods: {
        selectItem(id) {
            if (id == this.activeVillageId) return false;
            if (this.activeVillageId !== null) document.getElementById('village-' + this.activeVillageId).style.borderColor = 'transparent';

            this.activeVillageId = id;
            document.getElementById('village-' + this.activeVillageId).style.borderColor = this.color;

            const { coords } = this.$store.getters.village(id);
            this.$store.dispatch('changeCenter', coords);
        }
    }
};
</script>

