<template>
    <div class="map-nav-action__legends">
        <div class="map-nav-action__legend">
            <span class="legend-color" style="background-color: lightblue"></span>
            <span>Фундаметн</span>
        </div>
        <div class="map-nav-action__legend">
            <span class="legend-color" style="background-color: hotpink"></span>
            <span>Возводим стены</span>
        </div>
        <div class="map-nav-action__legend">
            <span class="legend-color" style="background-color: coral"></span>
            <span>Устройство кровли</span>
        </div>
        <div class="map-nav-action__legend">
            <span class="legend-color" style="background-color: blueviolet"></span>
            <span>Коробка</span>
        </div>
        <div class="map-nav-action__legend">
            <span class="legend-color" style="background-color: seagreen"></span>
            <span>Можно вселяться</span>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

