<template>
    <div>
        <ul class="map-nav-result" id="map-nav-result">
            <li 
                @click="selectHouse(house.id)" 
                :id="'house-' + house.id" 
                v-for="house in houses" 
                :key="house.id" 
                class="map-nav-result__item"
            >
                <div class="home-item">
                    <div class="home-item__img" :style="{ 'background-image': 'url(/assets/images/houses270/map/' + house.image + ')'}"></div>
                    <div class="home-item__descr">
                        <div class="home-item__title">
                            <strong>
                                Дом из {{ house.type }}, <br>
                                {{ house.area }} кв.м.
                            </strong>
                        </div>
                        <div class="home-item__data">
                            Начало стройки<br>
                            {{ house.start }}
                        </div>
                        <div class="home-item__data">
                            Сдадим<br>
                            {{ house.end }}
                        </div>
                        <a class="section__link _underline" :href="'/ready-and-build/project?id:' + house.id">Подробнее</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="map-nav-result__btns visible-md-block-max">
            <button class="btn"><span class="btn__text">Показать еще проекты</span></button>
            <button 
                class="btn"
                v-scroll-to="{el:'#map-section', offset: -100}"
            ><span class="btn__text">Вернуться к карте</span></button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            activeHouseId: null,
            color: '#faac3d',
        };
    },
    computed: {
        houses() {
            const { filteredHouses, houses } = this.$store.state.houses;

            return filteredHouses || houses;
        },
    },
    methods: {
        selectHouse(id) {
            if (id == this.activeHouseId) return false;
            if (this.activeHouseId !== null) document.getElementById('house-' + this.activeHouseId).style.borderColor = 'transparent';

            this.activeHouseId = id;
            document.getElementById('house-' + this.activeHouseId).style.borderColor = this.color;

            const { coords } = this.$store.getters.house(id);
            this.$store.dispatch('changeCenter', coords);
        }
    }
};
</script>

