<template>
    <div class="row mb-50">
        <div class="col-xs-12">
            <div class="map-nav">
                <div class="map-nav-city" @click="active = true">
                    <button type="button" class="btn _icon _small">
                        <span class="btn__text">{{activeCity}}</span>
                        <span class="btn__remove"></span>
                    </button>
                    <button type="button" data-target="#modalCity" @click="active = true" class="section__link _underline">Выбрать другой</button>
                </div>
                <div class="map-nav-filters visible-md-block-min">
                    <button type="button" class="btn _small" id="js-show-filtered">
                        <span class="btn__text">Показать</span>
                    </button>
                    <div class="map-nav-filters__wr">
                        <label for="map-nav-filters-sort">Сортировать по: </label>
                        <select name="map-nav-filters" id="map-filters-sort" @change="onFilterChange" v-model="filters">
                            <option data-filter="square" value="squareUp">возрастанию общей площади</option>
                            <option data-filter="square" value="squareDown">убыванию общей площади</option>
                            <option data-filter="material" value="brick">возрастанию цены</option>
                            <option data-filter="material" value="plaster">убыванию цены</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div 
            :class="{
                'hidden': !active,
                'modal-show': true
            }"
            @click="active = false"
        >
            <div id="modal-city" class="modal-city" @click.stop="">
                <div class="modal-city__inner">
                    <div class="modal-city__close" @click="active = false"></div> 
                    <div class="modal-city__header">
                        <h3 class="modal-city__title">Выберите город</h3>
                    </div>
                    <div class="modal-city__content">
                        <ul class="modal-city__citys">
                            <li data-city="Ярославль" @click="changeCityHandler">
                                <div class="section__text">Ярославль</div>
                            </li>
                            <li data-city="Москва" @click="changeCityHandler">
                                <div class="section__text">Москва</div>
                            </li>
                            <li data-city="Нижний Новгород" @click="changeCityHandler">
                                <div class="section__text">Нижний Новгород</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            filters: 'all',
            type: 'default',
            active: false,
            activeCity: 'Ярославль'
        };
    },
    methods: {
        onFilterChange() {
            if (this.filters === 'squareUp' || this.filters === 'squareDown') this.type = 'square';
            else if (this.filters === 'brick' || this.filters === 'plaster' || this.filters === 'wood') this.type = 'material';
            else this.type = 'default';

            this.$store.dispatch('setLoading', true);

            this.$store.dispatch('filterChange', {
                'filter': this.filters,
                'type': this.type,
            });
        },
        changeCityHandler(e) {
            this.activeCity = e.target.getAttribute('data-city');
            this.active = false;
        }
    },
    created() {
        this.$store.dispatch('filterChange', this.filters);
    }
};
</script>

<style lang="scss">


.modal-show {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(#000, 0.5);
    opacity: 1;
    transition: all 0.5s;
}

.modal-city {
    &__inner {
        position: relative;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
    }

    &__close {
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(120%, 0%);
        width: 30px;
        height: 30px;
        cursor: pointer;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 3px;
            background-color: #000;
            border-radius: 20px;
        }

        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
    }

    &__citys {
        font-family: $FDefault;

        li {
            background-color: #fff;
            padding: 10px;
            transition: background-color 0.3s;
            cursor: pointer;

            &:hover {
                background-color: darken(#fff, 10%);
            }

            * {
                pointer-events: none;
            }
        }

        li + li {
            border-top: 1px solid #f1f1f1;
        }
    }
}
</style>
