<template>
    <div class="row mb-20">
        <div class="col-xs-12">
            <div class="map-nav _villages">
                <button 
                    @click="onVillageChange"
                    id="1" 
                    class="section__link _underline _acsent" 
                    type="button"
                    data-filter="all"
                >
                    Все поселки
                </button>
                <button 
                    @click="onVillageChange"
                    id="2" 
                    class="section__link _underline _acsent" 
                    type="button"
                    data-filter="moscow"
                >
                    Московская 
                область</button>
                <button 
                    @click="onVillageChange"
                    id="3" 
                    class="section__link _underline _acsent" 
                    type="button"
                    data-filter="yaroslavl"
                >
                    Ярославская
                 область</button>
                <button 
                    @click="onVillageChange"
                    id="4" 
                    class="section__link _underline _acsent" 
                    type="button"
                    data-filter="nnovgorod"
                >
                    Нижегородск
                ая область</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            actiiveFilter: 'all'
        };
    },
    methods: {
        onVillageChange(e) {
            this.$store.dispatch('setLoading', true);
            this.actiiveFilter = e.target.getAttribute('data-filter');
            this.$store.dispatch('villageChange', this.actiiveFilter);
        }
    },
};
</script>

<style>

</style>
