<template>
    <div class="map-nav-action" id="map-view" :class="{'loading': loading}">
        <yandex-map 
            :coords="center"
            zoom="10"
            style="width: 100%; height: 500px;"
            :cluster-options="{
                1: {clusterDisableClickZoom: true} 
            }"
            :behaviors="['drag']"
            :controls="['zoomControl']"
            map-type="map"
            @map-was-initialized="initHandler"
        >

            <ymap-marker 
                v-for="mark in villages"
                :key="mark.id"
                marker-id="1"
                marker-type="placemark"
                :coords="mark.coords"
                hint-content="Hint content 1"
                :balloon="{header: 'header', body: 'body', footer: 'footer'}"
                :icon="{
                    layout: 'default#image',
                    imageHref: '/assets/images/village-mark.png',
                    imageSize: [30, 40],
                    imageOffset: [-15, -20],
                }"
                @click="handleMarker"
            ></ymap-marker>

            <ymap-marker 
                v-for="mark in houses"
                :key="mark.id + 10"
                marker-id="1"
                marker-type="placemark"
                :coords="mark.coords"
                hint-content="Hint content 1"
                :balloon="{header: 'header', body: 'body', footer: 'footer'}"
                :icon="{
                    layout: 'default#image',
                    imageHref: '/assets/images/baloon-' + mark.icon.color + '.svg',
                    imageSize: [20, 30],
                    imageOffset: [-10, -30],
                }"
                @click="handleMarker"
            ></ymap-marker>
        </yandex-map>
        <atom-spinner
            class="map-spinner"
            v-if="loading"
            :color="'orange'"
        ></atom-spinner>
    </div>
</template>

<script>
const { yandexMap, ymapMarker } = require('vue-yandex-maps');
import { AtomSpinner } from 'epic-spinners'

export default {
    computed: {
        villages() {
            const { villages , filteredVillages } = this.$store.state.villages;

            if (filteredVillages.length > 0) return filteredVillages;

            return villages;
        },
        houses() {
            const { houses , filteredHouses } = this.$store.state.houses;

            if (filteredHouses.length > 0) return filteredHouses;

            return houses;
        },
        center() {
            return this.$store.state.villages.center;
        },
        loading() {
            return this.$store.state.villages.loading;
        }
    },
    components: {
        yandexMap,
        ymapMarker,
        AtomSpinner
    },
    methods: {
        initHandler() {
            this.$store.dispatch('setLoading', false);
        },
        handleMarker() {
            console.log('object');
        }
    },
};
</script>

<style scoped>
.map-nav-action {
    position: relative;
}

.map-nav-action.loading:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.map-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>

