<template>
    <div class="map-nav-action" id="map-view" :class="{'loading': loading}">
        <yandex-map 
            :coords="center"
            zoom="10"
            style="width: 100%; height: 450px;"
            :cluster-options="{
            }"
            :behaviors="['drag']"
            :controls="['zoomControl']"
            map-type="map"
            @map-was-initialized="initHandler"
        >

            <ymap-marker 
                v-for="mark in placemarks"
                :key="mark.id"
                marker-id="1"
                marker-type="placemark"
                :coords="mark.coords"
                hint-content="Hint content 1"
                :balloon="{header: 'header', body: 'body', footer: 'footer'}"
                :icon="{
                    layout: 'default#image',
                    imageHref: '/assets/images/baloon-' + mark.icon.color + '.svg',
                    imageSize: [20, 30],
                    imageOffset: [-10, -30],
                }"
                cluster-name="1"
                @click="handleMarker"
            ></ymap-marker>
        </yandex-map>
        <atom-spinner
            class="map-spinner"
            v-if="loading"
            :color="'orange'"
        ></atom-spinner>
    </div>
</template>

<script>
const { yandexMap, ymapMarker } = require('vue-yandex-maps');
import { AtomSpinner } from 'epic-spinners'

export default {
    computed: {
        placemarks() {
            return this.$store.state.houses.filteredHouses || this.$store.state.houses.houses;
        },
        center() {
            return this.$store.state.houses.center;
        },
        loading() {
            return this.$store.state.houses.loading;
        }
    },
    components: {
        yandexMap,
        ymapMarker,
        AtomSpinner
    },
    methods: {
        initHandler() {
            this.$store.dispatch('setLoading', false);
        },
        handleMarker() {
            console.log('object');
        }
    },
};
</script>

<style scoped>
.map-nav-action {
    position: relative;
}

.map-nav-action.loading:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.map-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

[class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    filter: grayscale(100%);
}
</style>

