<template>
  <div class="container" id="map-section">
      <div class="row">
            <div class="col-xs-12">
                <app-map-nav-villages></app-map-nav-villages>
            </div>
      </div>
      <div class="row">
            <div class="col-xs-12 col-md-8">
                <app-map-view></app-map-view>
            </div>
            <div class="col-xs-12 col-md-4">
                <app-map-list-result></app-map-list-result>
            </div>
      </div>
  </div>
</template>

<script>
import AppMapNavVillages from "vue-components/MapNavVillages";
import AppMapView from "vue-components/MapVillagesView";
import AppMapListResult from "vue-components/MapListVillagesResult";
import AppMapLegend from "vue-components/MapLegend";

export default {
    data() {
        return {
        title: 'Hello'
        }
    },
    components: {
        AppMapNavVillages,
        AppMapView,
        AppMapListResult,
        AppMapLegend,
    },
    methods: {

    },
};
</script>

<style lang="scss">
</style>
