<template>
    <div class="map-nav-action" id="map-view" :class="{'loading': loading}">
        <yandex-map 
            :coords="[40.55, 39.34]"
            zoom="10"
            style="width: 100%; height: 300px;"
            :cluster-options="{
            }"
            :behaviors="['drag']"
            :controls="['zoomControl']"
            map-type="map"
            @map-was-initialized="initHandler"
        >
            
            <ymap-marker 
                marker-id="1"
                marker-type="placemark"
                :coords="[40.55, 39.34]"
                hint-content="Hint content 1"
                :balloon="{header: 'header', body: 'body', footer: 'footer'}"
                :icon="{
                    layout: 'default#image',
                    imageHref: '/assets/images/baloon-orange.svg',
                    imageSize: [20, 30],
                    imageOffset: [-10, -30],
                }"
            ></ymap-marker>
        </yandex-map>

        <button class="btn _primary _shadow _map">
            <span class="btn__text">Смотреть объекты</span>
        </button>   

        <atom-spinner
            class="map-spinner"
            v-if="loading"
            :color="'orange'"
        ></atom-spinner>
    </div>
</template>

<script>
const { yandexMap, ymapMarker } = require('vue-yandex-maps');
import { AtomSpinner } from 'epic-spinners'

export default {
    data() {
        return {
            loading: true,
        };
    },
    methods: {
        initHandler() {
            this.loading = false;
        },
    },
    components: {
        AtomSpinner,
        yandexMap,
        ymapMarker
    }
};
</script>

<style>
.map-nav-action {
    position: relative;
}

.map-nav-action.loading:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.map-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
</style>
