{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' with { "headerParams": { "sticky": "true", "page": "sub" }} %}
{% endblock %}

{% block content %}
    {{ mixins.breadcrumbs([
        {  
            "title": "Главная",
            "path": "/"
        },
        {  
            "title": "Блог",
            "path": "/blog"
        },
        {  
            "title": "Рубрика",
            "path": "/"
        },
        {  
            "title": "Название статьи"
        }
    ]) }}
    
    <section class="section _article">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="article-item">
                        <div class="article-item__nav">
                            <div class="article-item__list _nav" data-name="categorys">
                                <div data-title="" class="article-item__nav-list-title">Рубрика:</div> 
                                <ul>
                                    <a href="/blog/category" data-category="" class="article-item__link _small">Рубрика-1</a>
                                </ul>
                            </div>
                            <div class="article-item__list _nav" data-name="tags">
                                <div data-title="" class="article-item__nav-list-title">Тег:</div> 
                                <ul class="article-item__list _nav">
                                    <a href="/blog/category" data-tag="" class="article-item__link">Тег-1</a>
                                    <a href="/blog/category" data-tag="" class="article-item__link">Тег-2</a>
                                    <a href="/blog/category" data-tag="" class="article-item__link">Тег-3</a>
                                </ul>
                            </div>
                        </div>
                        <h2 class="article-item__title _full _light">
                            <span>Заголовок статьи может быть в</span>
                            <span>2 строки</span>
                        </h2>
                        <div class="article-item__text _date" data-article-date="">21 марта 2017</div>

                        <div class="article-item__img">
                            <div class="slider">
                                <div class="slider _article-item _dots-full _dots-in" id="slider-article-item">
                                    {% for i in 1..4 %}
                                        <div class="slider__slide"> 
                                            <div class="slider__slide-img-bg" style="background-image: url('/assets/images/blog/article.jpg')"></div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis.</p>
                        <div class="article-item__content">
                            <h3 class="article-item__title _medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                            <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique.</p>
                        </div>
                        <div class="article-item__content">
                            <h3 class="article-item__title _medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                            <ul class="article-item__list _decor">
                                <li>
                                    <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</p>
                                </li>
                                <li>
                                    <p class="article-item__text">Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.</p>
                                </li>
                                <li>
                                    <p class="article-item__text">Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section _grey">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section__heading-wr">
                        <div class="section__heading">
                            Посмотрите, как это реализовано в наших проектах:
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section__content">
                        <div class="section__slider _padding-b-xs">
                            <div class="slider _projects" id="slider-projects">
                                {% for i in 1..6 %}
                                    <div class="slider__slide _projects">
                                        <div class="slider__slide-img _project" style="background-image: url('/assets/images/blog/popular.jpg')"></div>
                                        <div class="slider__slide-info _out">
                                            <span data-home-label="">
                                                125-Э                                            </span>
                                            <span data-home-size="">
                                                125 кв.м.
                                            </span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section _article">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="article-item">
                        <div class="article-item__content">
                            <h3 class="article-item__title _medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                            <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique.</p>
                        </div>
                        <div class="article-item__content">
                            <h3 class="article-item__title _medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                            <ul class="article-item__list _decor">
                                <li>
                                    <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</p>
                                </li>
                                <li>
                                    <p class="article-item__text">Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.</p>
                                </li>
                                <li>
                                    <p class="article-item__text">Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="article-item__content">
                            <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section _article _pt0">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section__heading-wr">
                        <div class="section__heading _text-left">Похожие статьи</div>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for i in 1..3 %}
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="article-item _list">
                            <div class="article-item__img">
                                <img src="/assets/images/blog/article.jpg" alt="Стастья">
                            </div>
                            <div class="article-item__text _date" data-article-date="">21 марта 2017</div>
                            <h5 class="article-item__title _bold"><span>Заголовок статьи может быть в</span><span>2 строки</span></h5>
                            <div class="article-item__text" data-article-short="">Краткое описание содержани статьи, чтобы зацепить на чтение</div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>

    <section class="section _article">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section__heading-wr">
                        <div class="section__heading _small _text-left _bold">Есть вопросы по статье? Мы ответим</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <div class="section__form _message">
                        <form class="js-static-form form _message">
                            <div class="form__content-wr">
                                <div class="form__group _left">
                                    <!--{{ form.input({title: 'Как к вам обращаться?', name: 'name', inputMod: 'js-form-name js-form-focus', placeholder: "Как к вам обращаться?"}) }}-->
                                    {{ form.input({name: 'name', inputMod: 'js-form-name js-form-focus', placeholder: "Как к вам обращаться?"}) }}
                                </div>
                                <div class="form__group">
                                    {{ form.textarea({ name: 'message', inputMod: 'js-form-message js-form-focus', placeholder: "Ваш коментарий"}) }}
                                </div>
                                <div class="form__submit _right">
                                    <button type="submit" class="btn btn-submit-js _medium">
                                        <span class="btn__text">Отправить</span>
                                    </button>
                                    <div class="form__info float-left-sm _left">
                                        Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь<br>
                                            с <a href="/politic/">Политикой конфиденциальности</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="section _artic">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <article class="section__content">
                        <div class="article-item _comment">
                            <div class="article-article__ask">
                                <div class="article-item__title _small" data-auth="">Мария</div>
                                <div class="article-item__text _date _medium" data-date="">21 марта 2017</div>
                                <div class="article-item__text" data-message="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.</div>
                            </div>
                        </div>
                        <div class="article-item _comment">
                            <div class="article-item__answer">
                                <div class="article-item__title _small" data-auth="">Отвечает эксперт, Имя Фамилия</div>
                                <div class="article-item__text _date _medium" data-date="">21 марта 2017</div>
                                <div class="article-item__text" data-message="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.</div>
                            </div>
                        </div>
                    </article>
                    <article class="section__content">
                        <div class="article-item _comment">
                            <div class="article-article__ask">
                                <div class="article-item__title _small" data-auth="">Мария</div>
                                <div class="article-item__text _date _medium" data-date="">21 марта 2017</div>
                                <div class="article-item__text" data-message="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.</div>
                            </div>
                        </div>
                        <div class="article-item _comment">
                            <div class="article-item__answer">
                                <div class="article-item__title _small" data-auth="">Отвечает эксперт, Имя Фамилия</div>
                                <div class="article-item__text _date _medium" data-date="">21 марта 2017</div>
                                <div class="article-item__text" data-message="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.</div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}
    {% include '../common/footer.twig' %}
{% endblock %}
