{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' with { "headerParams": { "sticky": "true", "page": "sub" }} %}
{% endblock %}

{% block content %}
    {{ mixins.breadcrumbs([
        {  
            "title": "Главная",
            "path": "/",
        },
        {  
            "title": "Как мы строим"
        }
    ]) }}
    
    <section class="section">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <div class="section__heading-wr">
                        <h1 class="section__heading _big _text-left">Пожалуй, самое прозрачное малоэтажное строительство</h1>
                        <p class="section__subtitle _left">А также самое надежное и спокойное</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p class="section__subtitle _left">Мы собрали все, что хотим рассказать. Просто выберите категорию:</p>
                    <div class="section__content">

                        <div class="tab _decored _form">
                            <ul class="tab__nav _flex" id="myTab" role="tablist">
                                <li class="tab__nav-item active">
                                    <a class="tab__nav-link" id="tab_1" data-toggle="tab" href="#tab_content_1" role="tab" aria-controls="tab_1" aria-selected="true">С нами спокойно</a>
                                </li>
                                <li class="tab__nav-item">
                                    <a class="tab__nav-link" id="tab_2" data-toggle="tab" href="#tab_content_2" role="tab" aria-controls="tab_2" aria-selected="true">Сервис</a>
                                </li>
                                <li class="tab__nav-item">
                                    <a class="tab__nav-link" id="tab_3" data-toggle="tab" href="#tab_content_3" role="tab" aria-controls="tab_3" aria-selected="true">Строительство</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="myTabContent">


                                <div class="tab-pane fade show active" id="tab_content_1" role="tabpanel" aria-labelledby="tab_1">
                                    <div class="section__heading-wr _small">
                                        <h2 class="section__heading _second">ГАРАНТИИ</h2>
                                    </div>  

                                    <div class="row mb-50">
                                        <div class="col-sm-4 mb-20-sm">
                                            <p class="section__text _big">С момента подписания договора <strong>вы знаете дату</strong>, когда ваш дом будет готов на 100%</p>
                                        </div>
                                        <div class="col-sm-4 mb-20-sm">
                                            <p class="section__text _big">
                                                <strong>Пожизненная гарантия</strong><br>
                                                на фундамент и «коробку»:<br>
                                                к нам смогут обращаться ваши дети и внуки
                                            </p>
                                        </div>
                                        <div class="col-sm-4">
                                            <p class="section__text _big">Гарантия до <strong>50 лет</strong> на отдельные части дома</p>
                                        </div>
                                        <div class="col-xs-12 mt-30">
                                            <div class="block-line _bottom">
                                                {{ svg.icon({ name: 'docs', mod: 'icon-svg_documents'  }) }}
                                                <a class="section__link _underline _big" href="#dogovor">
                                                    Смотреть<br>
                                                    типовой договор
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="section__heading-wr _small">
                                        <h2 class="section__heading _second">ПРОЗРАЧНОСТЬ</h2>
                                    </div>  

                                    <div class="flex-row mb-50 mb-0-sm">
                                        <div class="col-md-7 col-flex _column mb-20">
                                            <div class="section__text-wr mb-20">
                                                <p class="section__text _big">
                                                    Окончательная смета в момент подписания договора.
                                                    <strong>Стоимость строительства не увеличится ни на копейку!</strong>
                                                </p>
                                            </div>
                                            <div class="block-line _bottom">
                                                {{ svg.icon({ name: 'docs', mod: 'icon-svg_documents'  }) }}
                                                <a class="section__link _underline _big" href="#dogovor">
                                                    Смотреть<br>
                                                    пример сметы
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-5 mb-20">
                                            <div class="section__text-wr mb-20">
                                                <p class="section__text _big">Каждый этап работ (в т.ч. скрытых) сдается вам лично с подписанием акта и заверением его технадзором</p>
                                            </div>
                                            <div>
                                                <a href="#">{{ svg.icon({ name: 'docs', mod: 'icon-svg_documents'  }) }}</a>
                                                <a href="#">{{ svg.icon({ name: 'docs', mod: 'icon-svg_documents'  }) }}</a>
                                                <a href="#">{{ svg.icon({ name: 'docs', mod: 'icon-svg_documents'  }) }}</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-50 mb-0-sm">
                                        <div class="col-md-6">
                                            <div class="section__text-wr mb-20">
                                                <p class="section__text _big">
                                                    <strong>Еженедельные фото-отчеты</strong><br>
                                                    и общение с персональным менеджером
                                                </p>
                                            </div>
                                            <div class="section__image">
                                                <img src="/assets/images/as-we-build/report.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="section__text-wr mb-20">
                                                <p class="section__text _big">Ход строительства, фото и документы фиксируются в вашем личном кабинете</p>
                                            </div>
                                            <div class="section__image">
                                                <img src="/assets/images/as-we-build/lk.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="section__heading-wr _small">
                                        <h2 class="section__heading _second">ЗАБОТА</h2>
                                    </div>
                                    
                                    <div class="row mb-50 mb-0-sm">
                                        <div class="col-md-7">
                                            <div class="section__text-wr mb-20">
                                                <p class="section__text _big">За вашим спокойствием следит служба заботы о клиентах</p>
                                            </div>
                                            <div class="section__image">
                                                <img src="/assets/images/as-we-build/service.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="section__text-wr mb-20">
                                                <p class="section__text _big">С момента заключения договора у вас есть персональный менеджер</p>
                                            </div>
                                            <div class="section__image">
                                                <img src="/assets/images/as-we-build/manager.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-20">
                                        <div class="col-md-7">
                                            <p class="section__text _big">
                                                Все решается максимум в течение суток. И ничего не теряется. Вы звоните — мы тут же видим вас в CRM и общаемся предметно.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row mb-50">
                                        <div class="col-md-7 mb-40-md">
                                            <img src="/assets/images/as-we-build/crm.jpg" alt="">
                                            <div class="section__text-wr">
                                                <p class="section__text _medium">Переписка с менеджером. Вопрос решили за 40 минут</p>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-6">
                                                    <div class="block-line _wrap-xs _top mb-20">
                                                        <img class="mr-10 mb-10-sm" src="/assets/images/as-we-build/pay.jpg" alt="">
                                                        <p class="section__text">
                                                            Можем организовать<br>
                                                            оплату по этапам<br>
                                                            строительства
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-6">
                                                    <div class="block-line _wrap-xs _top">
                                                        <img class="mr-10 mb-10-sm" src="/assets/images/as-we-build/connect.jpg" alt="">
                                                        <p class="section__text">
                                                            Остаемся с вами<br>
                                                            даже после строительсва:<br>
                                                            мы всегда на связи
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               
                                    <div class="section__heading-wr _small">
                                        <h2 class="section__heading _second">ПОМОЩЬ ВО ВСЕМ</h2>
                                    </div>

                                    {% set helpList = [
                                        { title: ['Подбор и покупка', 'участка'], img: 'help-1.jpg' },
                                        { title: ['Поможем с продажей', 'недвижимости'], img: 'help-2.jpg' },
                                        { title: ['Кредитование,', 'материнский капитал'], img: 'help-3.jpg' },
                                        { title: ['Юридическая помощь по', 'оформлению документов', 'на дом'], img: 'help-4.jpg' },
                                    ] %}

                                    <div class="row mb-50">
                                        {% for item in helpList %}
                                            <div class="col-md-3 col-sm-5 mb-30-md">
                                                <div class="section__text-wr">
                                                    <p class="section__text _medium _custom-height _underline">
                                                        {% for t in item.title %}
                                                            {{ t }}
                                                            {% if not loop.last %}<br>{% endif %}
                                                        {% endfor %}
                                                    </p>
                                                </div>
                                                <img src="/assets/images/as-we-build/{{ item.img }}" alt="">
                                            </div>
                                        {% endfor %}
                                    </div>

                                    
                                    <div class="section__heading-wr _small">
                                        <h2 class="section__heading _second _custom-sm">А ГЛАВНОЕ, СТРОИМ,<br class="visible-md-block"> КАК ДЛЯ СЕБЯ</h2>
                                    </div>
                                    <p class="section__subtitle _bold _left">
                                        Используем пространство с умом и экономим площадь
                                    </p>

                                    {% set docList = [
                                        { text: "можем разместить душевую кабину под лестницей;" },
                                        { text: "спроектируем санузел на 3 кв.м. так, чтобы все поместилось;" },
                                        { text: "выведем окна на нужные стороны;" },
                                        { text: "рассчитаем высоту ступенек так, чтобы было удобно всей семье" },
                                    ] %}

                                    <div class="row">
                                        <div class="col-md-4 mb-30-md">
                                            <div class="section__text-wr mb-20">
                                                <p class="section__text">Например, простор возможен даже на 74 кв.м.:</p>
                                            </div>
                                            <ul class="section__list _padded-left">
                                                {% for item in docList %}
                                                    <li class="section__list-item">
                                                        <div class="block-line align-start _docs _flex _wrap">
                                                            {{ svg.icon({ name: 'check', mod: 'svg-icon--docs-list' }) }}
                                                            <p class="section__text">{{ item.text }}</p>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="section__slider">
                                                <div class="slider _build _dots-in" id="slider-build">
                                                    {% for i in 1..4 %}
                                                        <div class="slider__slide _projects">
                                                            <div class="respons-video _full">
                                                                <div class="respons-video__preview" style="background-image: url(/assets/images/no-image.jpg)">
                                                                    {{ svg.icon({"name": "play", "mod": "respons-video__icon"}) }}
                                                                </div>
                                                                <div class="respons-video__iframe-wr" data-src="https://www.youtube.com/embed/oBJ0rUbrLnA">
                                                                    <div class="respons-video__padding"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="slider-nav _dots-acsent visible-sm-block-min" id="slider-build-nav">
                                                <div class="slider__slide _nav">
                                                    <div class="slider-nav__thumbnails _big" style="background-image: url('/assets/images/no-image.jpg')">
                                                        {{ svg.icon({ name: 'play', mod: 'slider-nav__icon' }) }}
                                                    </div>                                       
                                                </div>
                                                <div class="slider__slide _nav">
                                                    <div class="slider-nav__thumbnails _big" style="background-image: url('/assets/images/no-image.jpg')">
                                                        {{ svg.icon({ name: 'play', mod: 'slider-nav__icon' }) }}
                                                    </div>                                                
                                                </div>
                                                <div class="slider__slide _nav">
                                                    <div class="slider-nav__thumbnails _big" style="background-image: url('/assets/images/no-image.jpg')">
                                                        {{ svg.icon({ name: 'play', mod: 'slider-nav__icon' }) }}
                                                    </div>
                                                </div>
                                                <div class="slider__slide _nav">
                                                    <div class="slider-nav__thumbnails _big" style="background-image: url('/assets/images/no-image.jpg')">
                                                        {{ svg.icon({ name: 'play', mod: 'slider-nav__icon' }) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="tab-pane fade" id="tab_content_2" role="tabpanel" aria-labelledby="tab_2">
                                    <div class="section__heading-wr">
                                        <h3 class="section__heading _small _text-left _bold mb-10">Упростили и сделали прозрачным все, что только можно</h3>
                                        <p class="section__text _medium">Фактически, от вас нужно только подписать договор, оплатить работу (можно по этапам) и въехать в готовый дом</p>
                                    </div>  
                                    <ul class="section__list _m-big">
                                        <li>
                                            <a class="section__link _underline _bold _medium" href="">Экологическая экспертиза</a>
                                            <br>
                                            <a class="section__link _underline _bold _medium" href="">Подбор участка</a>
                                        </li>
                                        <li>
                                            <a class="section__link _underline _bold _medium" href="">Юридическое сопровождение</a>
                                            <br>
                                            <a class="section__link _underline _bold _medium" href="">Кредитование</a>
                                        </li>
                                        <li>
                                            <a class="section__link _underline _bold _medium" href="">Технический надзор</a>
                                            <br>
                                            <a class="section__link _underline _bold _medium" href="">Строительная экспертиза</a>
                                        </li>
                                        <li>
                                            <a class="section__link _underline _bold _medium" href="">Онлайн-трансляция со стройки</a>
                                            <br>
                                            <a class="section__link _underline _bold _medium" href="">Личный кабинет</a>
                                        </li>
                                        <li>
                                            <a class="section__link _underline _bold _medium" href="">
                                                Федеральная программа<br>
                                                переселения северян
                                            </a>
                                        </li>
                                        <li>
                                            <a class="section__link _underline _bold _medium" href="">Служба заботы о клиентах</a>
                                        </li>
                                    </ul>
                                </div>


                                <div class="tab-pane fade" id="tab_content_3" role="tabpanel" aria-labelledby="tab_3">
                                    <div class="section__heading-wr _small">
                                        <h3 class="section__heading _small _text-left">Посмотрите: это пример графика строительства.</h3>
                                    </div>  
                                    <div class="section__image">
                                        <img src="/assets/images/as-we-build/graph.jpg" alt="">
                                    </div>
                                    <div class="section__heading-wr _small">
                                        <h3 class="section__heading _small _text-left _bold">Мы строим и быстро, и качественно</h3>
                                    </div>  
                                    <p class="section__subtitle _left">Каждый этап, в т.ч. скрытые работы, закрываем актом</p>

                                    <div class="row mb-50">
                                        <div class="col-md-6">
                                            <div class="zoom-gallery _bordered mb-30">
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <a class="section__image _bordered" href="/assets/images/as-we-build/act-1.jpg" title="Act">
                                                            <img src="/assets/images/as-we-build/act-1-t.jpg">
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <a class="section__image _bordered" href="/assets/images/as-we-build/act-2.jpg" title="Act">
                                                            <img src="/assets/images/as-we-build/act-2-t.jpg">
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <a class="section__image _bordered" href="/assets/images/as-we-build/act-3.jpg" title="Act">
                                                            <img src="/assets/images/as-we-build/act-3-t.jpg">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <p class="section__text _small">
                                                Можете посмотреть<br>
                                                все документы<br>
                                                в разделе<br>
                                                <a class="section__link _bold _underline" href="/company/documents">Документы для клиентов</a>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="section__subtitle-wr">
                                        <h3 class="section__subtitle _left">Еженедельно высылаем фотоотчеты, сохраняем в Личном кабинете</h3>
                                    </div>

                                    <div class="row mb-50">
                                        <div class="col-md-6">
                                            <img src="/assets/images/no-image.jpg" alt="">
                                            <div class="section__text">Подпись к скриншоту Личного кабинет. Например, Фотоотчет по фундаменту</div>
                                        </div>
                                        <div class="col-md-6">
                                            <img src="/assets/images/no-image.jpg" alt="">
                                            <div class="section__text">Подпись к скриншоту Личного кабинет. Например, Фотоотчет по фундаменту</div>
                                        </div>
                                    </div>

                                    <div class="section__heading-wr">
                                        <h2 class="section__heading _small _text-left _bold">
                                            Мы любим строить под ключ,<br>
                                            но беремся и за отдельные этапы
                                        </h2>
                                        <h3 class="section__subtitle _left">Можете почитать, как мы выполняем каждый из них</h3>
                                    </div>

                                    {% set stagesList = [
                                        { icon: 'command-3', text: ['Геология', 'и разметка участка'] },
                                        { icon: 'analise', text: ['Экологичекий анализ', 'участка'] },
                                        { icon: 'ready', text: ['Снос зданий', 'и подготовка участка'] },
                                        { icon: 'contract', text: ['Документационное', 'обеспечение участка'] },
                                        { icon: 'individual', text: ['Индивидуальное', 'проектирование'] },
                                        { icon: 'view3d', text: ['3D-моделирование'] },
                                        { icon: 'fundament', text: ['Устройство фундамента'] },
                                        { icon: 'roof', text: ['Возведение стен', 'и устройство кровли'] },
                                        { icon: 'credit', text: ['Кредитование', 'и рассрочка'] },
                                        { icon: 'homes', text: ['Программа переселения', 'северян'] },
                                        { icon: 'command-1', text: ['Юридическое сопровождение'] },
                                        { icon: 'electro', text: ['Инженерные коммуникации и', 'электрика'] },
                                    ] %}

                                    <div class="flex-row">
                                        
                                        {% for stage in stagesList %}
                                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-40">
                                            <div class="section__icon">
                                                {{ svg.icon({ name: stage.icon, mod: 'icon-svg_stages' }) }}
                                                <br>
                                                <a class="section__link _underline" href="">
                                                    {% for t in stage.text %}
                                                        {{ t }}
                                                        {% if loop.first %}<br>{% endif %}
                                                    {% endfor %}
                                                </a>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>


                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

           
        </div>
    </section>

    <section class="section _socials">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-sm-offset-2 col-xs-offset-2 visible-md-block-max">
                        <div class="section__content-wr mb-0">
                            <div class="section__heading-wr _small">
                                <h2 class="section__heading _small _text-left">
                                    Уже построено<br>
                                    <span class="acsent-color">274 дома</span>
                                </h2>
                                <div class="section__heading-wr">
                                    <p class="section__text">
                                        И прямо в этот момент<br>
                                        возводим еще по 28 домов.
                                    </p>
                                </div>
                            </div>
                            <div class="section__image">
                                <img src="/assets/images/as-we-build/map.jpg" alt="">
                            </div>
                            <div class="section__content">
                                <div class="section__heading-wr">
                                    <h2 class="section__heading _custom-mob">
                                        Давайте обсудим<br>
                                        ваш будущий дом?
                                    </h2>
                                </div>
                                <div class="section__heading-wr">
                                    <p class="section__text _center">
                                        Выберите, где вам удобнее<br>
                                        пообщаться<br>
                                        с нашим менеджером.<br>
                                        <br>
                                        Подберет проект, рассчитает,<br>
                                        ответит на все вопросы.<br>
                                    </p>
                                </div>
                                <div class="section__content-inner">
                                    <div class="block-line _flex _sb">
                                        <div class="block-line__left">
                                            <div class="section__text mb-20">Соц. сети:</div>
                                            {% include '../partials/socials.twig' with { size: "big"} %}
                                        </div>
                                        <div class="block-line__right">
                                            <div class="section__text mb-20">или мессенджер:</div>
                                            {% include '../partials/socials.twig' with { params: socials.messenger, size: "big" } %}
                                        </div>
                                    </div>
                                </div>
                                <div class="section__content-inner">
                                    <div class="section__content _center">
                                        <div class="block-line _flex _inline _text-left">
                                            <img src="/assets/images/houses270/manager-laptop.jpg" class="mr-20" alt="Менеджер">
                                            <div class="section__content">
                                                <div class="section__text _small">
                                                    <strong>Вам отвечу я, пишите :)</strong><br> 
                                                    <br>
                                                    <strong>Имя Фамилия,</strong><br>
                                                    менеджер службы<br> 
                                                    заботы о клиентах
                                                </div>
                                            </div>
                                        </div>
                                    </div>                     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    
{% endblock %}

{% block footer %}
    {% include '../common/footer.twig' %}
{% endblock %}
