{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' with { "headerParams": { "sticky": "true", "page": "sub" }} %}
{% endblock %}

{% block content %}
    {{ mixins.breadcrumbs([
        {  
            "title": "Главная",
            "path": "/",
        },
        {  
            "title": "Блог"
        }
    ]) }}
    
    <section class="section _blog">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section__heading-wr">
                        <h1 class="section__heading _big _text-left">Блог компании “Эверест”</h1>
                    </div>
                </div>
            </div>

            {% set blogSliderPopular = [
                {
                    "href": "#",
                    "img": "",
                    "title": "Заголовок статьи можеsdт быть в 2 строки, Заголовок статьи может быть в 2 строки"
                },
                {
                    "href": "#",
                    "img": "",
                    "title": "Заголовок статьи может быть в 2 строки"
                },
                {
                    "href": "#",
                    "img": "",
                    "title": "Заголовок статьи может быть в 2 строки, Заголовок статьи может быть в 2 строки"
                },
                {
                    "href": "#",
                    "img": "",
                    "title": "Заголовок статьи может быть в 2 строки"
                }
            ] %}

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section__heading-wr _small">
                        <h2 class="section__subheading _bold _text-left">Популярное</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12 mb-30">
                    <div class="section__content">
                        <div class="section__slider">
                            <div class="slider _article-item _dots-acsent" id="slider-article-item">
                                {% for slide in blogSliderPopular %}
                                    <div class="slider__slide _popular">
                                        <div class="slider__slide-img-bg" style="background-image: url('/assets/images/blog/popular.jpg')"></div>
                                        <div class="slider__slide-info _out">{{ slide.title }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="float-right-md col-md-4 col-sm-12 col-xs-12">
                    <div class="section__content">
                        <div class="section__sidebar _bg-light">
                            <h4 class="section__subtitle">Колонка директора</h4> 
                            <div class="section__image">
                                <img src="/assets/images/blog/director.jpg" alt="Директор">
                            </div>
                            <div class="article-item">
                                <div class="article-item__img">
                                    <img src="/assets/images/blog/article.jpg" alt="Стастья">
                                </div>
                                <h5 class="article-item__title"><span>Заголовок статьи может быть в</span><span>2 строки</span></h5>
                            </div>
                            <div class="article-item">
                                <div class="article-item__img">
                                    <img src="/assets/images/blog/article.jpg" alt="Стастья">
                                </div>
                                <h5 class="article-item__title"><span>Заголовок статьи может быть в</span><span>2 строки</span></h5>
                            </div>
                            <div class="section__sidebar-footer _center">
                                <a href="/blog/article/" class="section__link _underline _big">Читать колонку</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="section__content">
                        <div class="section__heading-wr _small">
                            <h2 class="section__subheading _bold _text-left">Новые статьи</h2>
                        </div>

                        <div class="row">
                            {% for i in 1..4 %}
                                <div class="col-md-6">
                                    <div class="article-item">
                                        <div class="article-item__img">
                                            <img src="/assets/images/blog/article.jpg" alt="Стастья">
                                        </div>
                                        <h5 class="article-item__title"><span>Заголовок статьи может быть в</span><span>2 строки</span></h5>
                                        <div class="article-item__category">
                                            <a href="/blog/category" class="article-item__link _acsent">Рубрика-1</a>
                                            <a href="/blog/category" class="article-item__link _acsent">Рубрика-2</a>
                                        </div>
                                        <div class="article-item__date">
                                            <a href="/blog/date" class="article-item__link">18.08.2018</a>
                                        </div>
                                        <a href="" data-type="link" class="article-item__link"></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="float-right-md col-md-4 col-xs-12">
                    <div class="section__content">
                        <div class="section__sidebar _bg-light">
                            <h4 class="section__subtitle">Заметки инженера</h4> 
                            <div class="section__image">
                                <img src="/assets/images/blog/engineer.jpg" alt="Директор">
                            </div>
                            <div class="article-item">
                                <div class="article-item__img">
                                    <img src="/assets/images/blog/article.jpg" alt="Стастья">
                                </div>
                                <h5 class="article-item__title"><span>Заголовок статьи может быть в</span><span>2 строки</span></h5>
                            </div>
                            <div class="article-item">
                                <div class="article-item__img">
                                    <img src="/assets/images/blog/article.jpg" alt="Стастья">
                                </div>
                                <h5 class="article-item__title"><span>Заголовок статьи может быть в</span><span>2 строки</span></h5>
                            </div>
                            <div class="section__sidebar-footer _center">
                                <a href="/blog/article/" class="section__link _underline _big">Читать колонку</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="section__content-wr">
                        <div class="section__content">
                            <div class="section__heading-wr _small">
                                <h2 class="section__subheading _bold _text-left">Рубрики</h2>
                            </div>

                            <div class="row">
                                {% for i in 1..3 %}
                                    <div class="col-md-3">
                                        <ul class="section__list">
                                            {% for i in 1..6 %}
                                                <div class="section__list-item">
                                                    <a href="#" class="section__link _underline">Рубрика-{{i}}</a>
                                                </div>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="section__content">
                        <div class="section__heading-wr _small">
                            <h2 class="section__subheading _bold _text-left">Видео, экскурсии, отзывы</h2>
                        </div>

                        <div class="row">
                            {% for i in 1..4 %}
                                <div class="col-md-6">
                                    <div class="article-item">
                                        <div class="article-item__video">
                                            <div class="respons-video">
                                                <div class="respons-video__preview" style="background-image: url(/assets/images/blog/video.jpg)">
                                                    {{ svg.icon({"name": "play", "mod": "respons-video__icon"}) }}
                                                </div>
                                                <div class="respons-video__iframe-wr" data-src="https://www.youtube.com/embed/oBJ0rUbrLnA">
                                                    <div class="respons-video__padding"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <h5 class="article-item__title"><span>Заголовок статьи может быть в</span><span>2 строки</span></h5>
                                        <div class="article-item__category">
                                            <a href="/blog/category" class="article-item__link _acsent">Рубрика-1</a>
                                            <a href="/blog/category" class="article-item__link _acsent">Рубрика-2</a>
                                        </div>
                                        <div class="article-item__date">
                                            <a href="/blog/date" class="article-item__link">18.08.2018</a>
                                        </div>
                                        <a href="" data-type="link" class="article-item__link"></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="float-right-md col-md-4 col-xs-12">
                    <div class="section__content">
                        <div class="section__form">
                            <form class="js-static-form form _sidebar">
                                <div class="row">

                                    <div class="col-md-12 col-sm-5">
                                        <div class="form__heading _big _left _small-lh">Подписывайтесь<br> на новые статьи</div>
                                        <div class="form__heading _sub _left">Будете в курсе новостей отрасли, узнаете первыми<br> о наших акциях</div>
                                    </div>

                                    <div class="col-md-12 col-sm-7">
                                        <div class="form__content-wr">
                                            <div class="form__group">
                                                {{ form.input({title: 'Введите почту', name: 'mail', inputMod: 'js-form-mail', placeholder: "yourmail@gmail.com"}) }}
                                            </div>
                                            <div class="form__submit _center">
                                                <button type="submit" class="btn btn-submit-js">
                                                    <span class="btn__text">Подписаться</span>
                                                </button>
                                            </div>
                                            <div class="form__info _center">
                                                Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь<br>
                                                    с <a href="/politic/">Политикой конфиденциальности</a>
                                            </div>
                                            <div class="form__info _center">
                                                <span class="form__info-text">Рассылка не чаще<br>1 раза в неделю</span>
                                                <span class="form__info-text">И никакого спама.</span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="section__content">
                        <div class="row">
                            <div class="col-md-12 col-sm-5">
                                <div class="section__heading-wr _small">
                                    <div class="section__heading _small">Или следите за нами<br> в соцсетях</div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-7">
                                    {% include '../partials/socials.twig' %}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    {# section BEGIN #}
        {% include '../partials/already-seen.twig' %}
    {# section END #}
{% endblock %}

{% block footer %}
    {% include '../common/footer.twig' %}
{% endblock %}
