{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' with { "headerParams": { "sticky": "true", "page": "sub" }} %}
{% endblock %}

{% block content %}
    {{ mixins.breadcrumbs([
        {  
            "title": "Главная",
            "path": "/"
        },
        {  
            "title": "Расчет стоимости дома",
        }
    ]) }}

    <section class="section pb-0 pt-20">
        <div class="container">

            <div class="flex-row">
                <div class="col-md-7 col-xs-12">
                    <div class="section__heading-wr _small">
                        <div class="section__heading _text-left">
                            Расчет стоимости дома
                        </div>
                    </div>
                    <div class="section__text">
                        Любые онлайн-калькуляторы дают лишь примерное представление о стоимости объекта. Но мы постарались сделать этот онлайн-расчет как можно более точным: <strong>наши менеджеры пользуются таким же.</strong>
                    </div>
                    <div class="section__text _big pb-30">
                        <strong>Укажите все известные вам параметры,</strong><br>
                        и увидите примерный порядок цен на желаемый дом.
                    </div>
                </div>

                <div class="col-md-5 col-xs-12">
                    <div class="section__content _full-height _border-custom _padded-sm">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="_shadow" src="/assets/images/calculator/manager.jpg" alt="">
                            </div>
                            <div class="col-xs-8">
                                <div class="section__text _small">
                                    <strong>Имя Фамилия,</strong><br>
                                    должность<br>
                                    <br>
                                    Ни одна строительная компания не сможет рассчитать точную стоимость фундамента без выезда на участок и геологических изысканий. Будьте осторожны!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <section class="section _grey pt-30 pb-30">
        <div class="container">
            <div class="calculator" style="background-image: url(/assets/images/calculator/calculator-bg.png)">
                <form class="form _no-bg" name="calculator" id="calculator-form">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section__content pl-10 pr-10">
                                <div class="form__group">
                                    <div class="section__text _bold _small mb-20">Общая площадь</div>

                                    <div class="slider-range _form">
                                        <div class="slider-range__wr">
                                            <div class="slider-range__ui" id="slider-range-square"></div>
                                            <div class="slider-range__descr">
                                                <input class="slider-range__out _left" name="userSquare" type="text" id="userSquare" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form__group mb-20">
                                    <div class="section__text _bold _small mb-20">Этажность</div>

                                    <div class="row">
                                        <div class="col-xs-4">
                                            {{ form.radio({title: '1', name: 'floors', inputMod: 'js-form-floors', value: '1', id: 'oneFloor', checked: true}) }}
                                            {{ form.radio({title: '2', name: 'floors', inputMod: 'js-form-floors', value: '2', id: 'twoFloor'}) }}
                                        </div>
                                        <div class="col-xs-8">
                                            {{ form.radio({title: 'с мансардой', name: 'add', inputMod: 'js-form-add', value: '1', id: 'mansarda', checked: true}) }}
                                            {{ form.radio({title: 'полный', name: 'add', inputMod: 'js-form-add', value: '2', id: 'full', disabled: true}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form__group">
                                    <div class="section__text _bold _small mb-20">Материалы</div>

                                    <ul class="calculator__list">
                                        <li class="calculator__item-hidden">
                                            <select name="fundament" id="fundament">
                                                <option value="0" selected>Фундамент свайно-ростверковый (в  т.ч. г/и)</option>
                                                <option value="1">Фундамент монолитная плита (в т.ч. Отмостка, цоколь, г/и)</option>
                                                <option value="2">Фундамент монолитная плита ( г/и)</option>
                                                <option value="3">Фундамент ленточный ФБС (без подвала с ПП, в т.ч. г/и)</option>
                                                <option value="4">Фундамент ленточный ФБС (без подвала с ПП, в т.ч. г/и)</option>
                                            </select>
                                        </li>
                                        <li>
                                            <select name="walls" id="walls">
                                                <option value="">Стены</option>
                                                <option value="g375">Газоблок 375</option>
                                                <option value="g400">Газоблок 400</option>
                                                <option value="k440">Керамоблок 440</option>
                                            </select>
                                        </li>
                                        <li>
                                            <select name="facing" id="facing">
                                                <option value="">Облицовка</option>
                                                <option value="0">Без облицовки</option>
                                                <option value="o65">Одинарный кирпич обычный (65мм)</option>
                                                <option value="b65">Одинарный кирпич Баварская кладка (65мм)</option>
                                                <option value="o88">Полуторный кирпич обычный (88мм)</option>
                                                <option value="b88">Полуторный кирпич Баварская кладка (88мм)</option>
                                            </select>
                                        </li>
                                        <li class="hidden calculator__item-hidden">
                                            <select name="facing-type" id="facing-type">
                                                <option value="0" selected>Без затирки швов</option>
                                                <option value="1">С затиркой швов</option>
                                            </select>
                                        </li>
                                        <li class="calculator__item-hidden">
                                            <select name="facing-work" id="facing-work">
                                                <option value="no" selected>Без отделки</option>
                                                <option value="sh">Штукатурка без окраски</option>
                                                <option value="shut">Штукатурка с окраской</option>
                                            </select>
                                        </li>
                                        <li>
                                            <select name="ceil" id="ceil">
                                                <option value="">Перекрытия</option>
                                                <option value="balka">Деревянные балки</option>
                                                <option value="plita">Сборные ЖБ плиты</option>
                                            </select>
                                        </li>
                                        <li>
                                            <select name="roof" id="roof">
                                                <option value="">Кровля</option>
                                                <option value="0">Гибкая с утеплением</option>
                                                <option value="1">Гибкая без утепления</option>
                                                <option value="2">Металлочерепица с утеплением </option>
                                                <option value="3">Металлочерепица без утепления</option>
                                            </select>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="section__content pl-30">
                                <div class="section__text mb-10">
                                    Предварительная<br>
                                    стоимость
                                </div>
                                <div class="calculator__result mb-10"><span id="js-calculator-result">0 ₽</span></div>
                                <div class="section__text _xs mb-10">Точная стоимость ВСЕГДА определяется после:</div>
                                <ul class="section__list _simple mb-30">
                                    <li class="_small"><span class="section__text _xs">разработки проекта</span></li>
                                    <li class="_small"><span class="section__text _xs">геологических изысканий</span></li>
                                    <li class="_small"><span class="section__text _xs">определения типа фундамента</span></li>
                                    <li class="_small"><span class="section__text _xs">разработки архитектурного проекта</span></li>
                                    <li class="_small"><span class="section__text _xs">сбора точной сметы с учетом всех материалов</span></li>
                                </ul>
                                <div class="section__text _bold mb-20">
                                    Кстати!<br>
                                    Смета в «Эвересте»<br>
                                    не меняется ни на рубль<br>
                                    после подписания договора!
                                </div>
                                <button class="btn _full">
                                    <span type="submit" class="btn__text">Рассчитать точную стоимость</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    
    <section class="section pb-25 pt-25">
        <div class="container">

            <div class="flex-row align-end">
                <div class="col-md-4 col-xs-12">
                    <div class="section__text _big _bold">
                        За этот год провели<br>
                        78 ипотечных сделок  
                    </div>
                    <div class="section__text">
                        Мы постоянные партнеры Сбербанка, ВТБ и Россельхозбанка.
                    </div>
                    <div class="section__text">
                        Давайте рассчитаем условия онлайн за несколько минут?                    
                    </div>
                    <div class="btn__wr _center-sm">
                        <button class="btn _border mt-30 ">
                            <span class="btn__text">Рассчитать условия</span>
                        </button>    
                    </div>
                </div>

                <div class="col-md-8 col-xs-12">
                    <div class="section__content _full-height _padded-sm">
                        <div class="flex-row">
                            <div class="col-md-6 mb-30">
                                <div class="block-line _flex _wrap">
                                    {{ svg.icon({'name': 'home-credit', 'mod': 'advantages__icons'}) }}
                                    <div class="block-line__list">
                                        <span class="section__text _acsent">Дом в кредит</span>
                                        <span class="section__text _xs mt-0">Являемся постоянными партнерами нескольких банков. Процентная ставка от 10,4%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-30">
                                <div class="block-line _flex _wrap">
                                    {{ svg.icon({'name': 'mat-capital', 'mod': 'advantages__icons'}) }}
                                    <div class="block-line__list">
                                        <span class="section__text _acsent">Материнский капитал</span>
                                        <span class="section__text _xs mt-0">Его также можно использовать на с троительство дома и приобретение участк</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-30-sm">
                                <div class="block-line _flex _wrap">
                                    {{ svg.icon({'name': 'home-discount', 'mod': 'advantages__icons'}) }}
                                    <div class="block-line__list">
                                        <span class="section__text _acsent">Дом в рассрочку 0%</span>
                                        <span class="section__text _xs mt-0">Оплачивайте работы по принятым этапам и после подписания актов</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="block-line _flex _wrap">
                                    {{ svg.icon({'name': 'subsidion', 'mod': 'advantages__icons'}) }}
                                    <div class="block-line__list">
                                        <span class="section__text _acsent">Субсидии</span>
                                        <span class="section__text _xs mt-0">Для получения подробной информации, звоните нашим юристам 8 800 123-45-67</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="section pb-25 pt-25 _grey">
        <div class="container">

            <div class="section__heading-wr">
                <div class="section__text _big">Мы не пытаемся заманить вас пустыми обещаниями</div>
                <h2 class="section__heading _text-left _bold">Наши цены — самые низкие среди КАЧЕСТВЕННЫХ домов</h2>
            </div>


            <div class="flex-row">
                <div class="col-xs-12 col-md-6 mb-30">
                    <div class="row">
                        <div class="col-md-4 col-xs-5">
                            <img src="/assets/images/calculator/advantage-1.jpg" alt="">
                        </div>
                        <div class="col-md-8 col-xs-7">
                            <h4 class="section__text _big _acsent">Дешевле на 15%</h4>
                            <p class="section__text _small pr-10-sm pr-70">За счет прямых оптовых поставок с заводов (Aerostone, Технониколь, BRAER)</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 mb-30">
                    <div class="row">
                        <div class="col-md-4 col-xs-5">
                            <img src="/assets/images/calculator/advantage-2.jpg" alt="">
                        </div>
                        <div class="col-md-8 col-xs-7">
                            <h4 class="section__text _big _acsent">Окончательная смета</h4>
                            <p class="section__text _small pr-10-sm pr-70">Цена для вас не растет, даже если во время строительства материалы подорожали</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 mb-30-sm">
                    <div class="row">
                        <div class="col-md-4 col-xs-5">
                            <img src="/assets/images/calculator/advantage-3.jpg" alt="">
                        </div>
                        <div class="col-md-8 col-xs-7">
                            <h4 class="section__text _big _acsent">Рабочие в штате</h4>
                            <p class="section__text _small pr-10-sm pr-70">Не пытаются заработать побольше на одном проекте, а знают, что загружены работой на год вперед</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="row">
                        <div class="col-md-4 col-xs-5">
                            <img src="/assets/images/calculator/advantage-4.jpg" alt="">
                        </div>
                        <div class="col-md-8 col-xs-7">
                            <h4 class="section__text _big _acsent">Головной офис в Ярославле</h4>
                            <p class="section__text _small pr-10-sm pr-70">Зарплаты архитекторов, сметчиков, инженеров на 15-40% ниже, чем в Москве  </p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>


    <section class="section pb-100">
        <div class="container">
            <div class="flex-row">
                <div class="col-xs-12 col-md-6">
                    <div class="respons-video _full">
                        <div class="respons-video__preview" style="background-image: url(/assets/images/blog/video.jpg)">
                            {{ svg.icon({"name": "play", "mod": "respons-video__icon"}) }}
                        </div>
                        <div class="respons-video__iframe-wr _big" data-src="https://www.youtube.com/embed/oBJ0rUbrLnA">
                            <div class="respons-video__padding"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <h2 class="section__heading-wr _small">
                        Никаких “картинок”:<br>
                        мы строим по проектам<br> 
                        с конструкторскими расчётами
                    </h2>
                    <div class="section__content _relative">
                        <p class="section__text">
                            Поверьте, к нам уже обращались люди,<br>
                            которые не смогли жить в домах, построенных<br>
                            горе-строитеями по картинке или смете, составленной на коленке.
                        </p>
                        <p class="section__text">
                            Это очень печально: люди навсегда теряют деньги, время, нервы.
                        </p>
                        <p class="section__text">
                            У нас же собственный архитектурный отдел,<br>
                            сметчики, инженеры. Все выверено на более чем<br>
                            270 построенных домах.
                        </p>
                        <p class="section__text _calculator">
                            <strong>Послушайте нашего конструктора</strong><br>
                            Это займет 3 минуты, но зато вы никогда<br>
                            не попадетесь на удочку недобросовестных строителей.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section _calculator">
        <div class="container">
            <div class="row">
                <div class="col-md-9 pl-70 pl-40-md pl-30-sm pr-30">
                    <div class="section__content _relative _grey _padded-sm">
                        <div class="section__content-sidebar">
                            <p class="section__text _big _bold">
                                Другая компания<br> 
                                обещает то же самое,<br>
                                но дешевле?
                            </p>
                            <p class="section__text _small">
                                Никогда не поздно найти более интересные условия и избежать уловок строителей.
                            </p>
                            <p class="section__text _small pb-30">
                                Мы сделаем бесплатный аудит сметы и укажем на возможные подводные камни.
                            </p>
                            <button class="btn _border">
                                <span class="btn__text">Да, посчитайте</span>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 visible-sm-block-max">
                                <div class="section__content-wr mb-0">
                                    <div class="section__heading-wr _small">
                                        <h2 class="section__heading _small">Запишитесь на просмотр готового дома</h2>
                                    </div>
                                    <div class="section__heading-wr">
                                        <div class="section__text _center">Выберите, где вам удобнее записаться</div>
                                    </div>
                                    <div class="section__content">
                                        <div class="section__content-inner">
                                            <div class="block-line _flex _sb">
                                                <div class="block-line__left">
                                                    <div class="section__text mb-20">Соц. сети:</div>
                                                    {% include '../partials/socials.twig' with { size: "big"} %}
                                                </div>
                                                <div class="block-line__right">
                                                    <div class="section__text mb-20">или мессенджер:</div>
                                                    {% include '../partials/socials.twig' with { params: socials.messenger, size: "big" } %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section__content-inner">
                                            <div class="section__content _center">
                                                <div class="block-line _flex _inline _text-left">
                                                    <img src="/assets/images/houses270/manager-laptop.jpg" class="mr-20" alt="Менеджер">
                                                    <div class="section__content">
                                                        <div class="section__text _small">
                                                            <strong>Я отвечу вам,<br> 
                                                            и подберем дом для показа</strong><br>
                                                            <br>
                                                            <strong>Имя Фамилия,</strong><br>
                                                            менеджер службы заботы<br> 
                                                            о клиентах
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                     
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 visible-sm-block-min">
                                <div class="section__image _offset-left _shadow">
                                    <img src="/assets/images/calculator/manager-big.jpg" alt="">
                                </div>
                                <div class="section__text pr-40 pr-0-md">
                                    <strong>Имя Фамилия,</strong><br>
                                    ведущий сметчик компании «Эверест»
                                </div>
                            </div>
                            <div class="col-sm-6 visible-sm-block-min">
                                <div class="section__form _no-padding">
                                    <form class="js-static-form form _no-bg">
                                        <div class="form__content-wr">
                                            <div class="section__text _bold _big mb-20">
                                                У вас есть проект?<br>
                                                Отправьте его на расчет
                                            </div>

                                            <div class="form__group mb-20 _title-left">
                                                {{ form.input({title: 'Загрузите файл проекта', name: 'project', inputMod: 'js-form-upload _file', placeholder: "Выбрать файл", type:"file"}) }}
                                                <button class="btn _file"><span class="btn__text">Выбрать файл</span></button>
                                            </div>

                                            <div class="form__group mb-20 _title-left">
                                                {{ form.input({title: 'или ссылку на проект в интернете', name: 'url', inputMod: 'js-form-url', placeholder: "Вставьте ссылку на проект"}) }}
                                            </div>

                                            <div class="form__group mb-20 _title-left">
                                                {{ form.input({title: 'Как с вами связаться?', name: 'phone', inputMod: 'js-form-phone', placeholder: "+7 (___) ___-__-__"}) }}
                                            </div>

                                            <div class="form__group _title-left">
                                                <label class="form-input ">
                                                    <span class="form-input__title">Куда отправить комплектации?</span>
                                                </label>
                                                <div class="tab _decored _form">
                                                    <ul class="tab__nav _flex" id="myTab" role="tablist">
                                                        <li class="tab__nav-item active">
                                                            <a class="tab__nav-link" id="tab_mail" data-toggle="tab" href="#tab_content_mail" role="tab" aria-controls="tab_mail" aria-selected="true">E-mail</a>
                                                        </li>
                                                        <li class="tab__nav-item">
                                                            <a class="tab__nav-link" id="tab_vk" data-toggle="tab" href="#tab_content_vk" role="tab" aria-controls="tab_vk" aria-selected="true">ВКонтакте</a>
                                                        </li>
                                                        <li class="tab__nav-item">
                                                            <a class="tab__nav-link" id="tab_fb" data-toggle="tab" href="#tab_content_fb" role="tab" aria-controls="tab_fb" aria-selected="true">Facebook</a>
                                                        </li>
                                                    </ul>
                        
                                                    <div class="tab-content" id="myTabContent">
                                                        <div class="tab-pane show active" id="tab_content_mail" role="tabpanel" aria-labelledby="tab_mail">
                                                            {{ form.input({ name: 'email', inputMod: 'js-form-email', type: "email", placeholder: 'yourmail@gmail.com'}) }}
                                                        </div>
                                                        <div class="tab-pane fade" id="tab_content_vk" role="tabpanel" aria-labelledby="tab_vk">
                                                            {{ form.input({ name: 'vk', type: "text", placeholder: 'vk'}) }}
                                                        </div>
                                                        <div class="tab-pane fade" id="tab_content_fb" role="tabpanel" aria-labelledby="tab_fb">
                                                            {{ form.input({ name: 'facebook', type: "text", placeholder: 'facebook'}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form__submit">
                                                <button type="submit" class="btn btn-submit-js">
                                                    <span class="btn__text">Рассчитать этот проект</span>
                                                </button>
                                            </div>
                                            <div class="form__info visible-md-block-max _center">Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с <a href="#politic" class="section__link">Политикой конфиденциальности</a></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form__info visible-md-block-min">Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с <a href="#politic" class="section__link">Политикой конфиденциальности</a></div>
                </div>
            </div>
        </div>
    </section>

    {% set indexNav = [{
		"title": [
			"Более чем ",
			"100 проектов"
		],
		"img": "projects",
		"href": "#",
	},
	{
		"title": [
			"Индивидуальное",
			"проектирование",
		],
		"img": "individual-project",
		"href": "#",
	},
	{
		"title": [
			"Участки",
			"и строящиеся дома"
		],
		"img": "places",
		"href": "#",
	}
] %}

<section class="section">
    <div class="container">
        <div class="materials-item__wr">
            {% for nav in indexNav %}    
            <a href="{{ nav.href }}" class="materials-item _nav _medium" style="background-image: url('/assets/images/calculator/nav-{{ loop.index }}.jpg')">
                <div class="materials-item__label _bottom">
                    <div class="materials-item__label-heading">
                        {% for line in nav.title %}
                            <span class="{% if loop.first %}materials-item__label-decor{% endif %}">{{ line }}</span>
                        {% endfor %}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
    {% include '../common/footer.twig' %}
{% endblock %}
