{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' with { "headerParams": { "sticky": "true", "page": "sub" }} %}
{% endblock %}

{% block content %}
    {{ mixins.breadcrumbs([
        {  
            "title": "Главная",
            "path": "/"
        },
        {  
            "title": "О компании",
        }
    ]) }}
    
    <section class="section _banner _overlay _company _white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section__heading-wr _small">
                        <div class="section__heading _text-left">
                            Строим, как для себя
                        </div>
                    </div>
                    <div class="section__text _big">
                        Не ради красивого словца.<br>
                        Наша компания в буквальном смысле началась с этого.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row mb-30">

                <div class="col-sm-6">
                    <div class="section__content">
                        <div class="person-item__iframe">
                            <div class="respons-video _full">
                                <div class="respons-video__preview" style="background-image: url(/assets/images/company/director.jpg)">
                                    {{ svg.icon({"name": "play", "mod": "respons-video__icon"}) }}
                                </div>
                                <div class="respons-video__iframe-wr" data-src="https://www.youtube.com/embed/oBJ0rUbrLnA">
                                    <div class="respons-video__padding"></div>
                                </div>
                            </div>
                        </div>
                        <p class="section__text _big-md _bold visible-sm-block-max">
                            Если вы посмотрели видео, возникает вопрос:<br>
                            ну как же можно так влипнуть? 
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="section__content visible-sm-block-min">
                        <p class="section__text">
                            Здравствуйте.<br>
                            Я Константин Разин, основатель и владелец строительного холдинга «Эверест». Рад, что вы решили познакомиться  с нами.
                        </p>
                        <p class="section__text">
                            В 2014 году я решил построить дом для родителей.                                         
                        <p class="section__text">
                            <strong>Хотел, как лучше:</strong> подобрал участок около заповедных лесов Ярославской области, выбрал проект, нашел по рекомендациям строителя с бригадой, его архитекторы   «улучшили»   проект.... и началось.
                        </p>
                        <p class="section__text">
                            Мало того, что дом строился полтора года (вместо 4 месяцев) и некачественно. Он еще и вышел на 11 миллионов, вместо 4.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="section__content mb-70-sm">
                        <p class="section__text">
                            <strong>Как так? Потому что я, как человек, ранее совершенно не связанный со стройкой, ничего в ней не понимал.</strong>  
                        </p>
                        <p class="section__text">
                            «А вам кирпич, как в смете, или получше все-таки?» — «Ну, получше, конечно» 
                        </p>
                        <p class="section__text">
                            «А утеплять будем?» — «Конечно, будем, а сколько стоит?» — «Недорого, 40 р. погонный метр» — «О, хорошо, а сколько метров надо?» — «15 000 на весь дом...» 
                        </p>
                        <p class="section__text">
                            «Вагончик бы прикупить для строителей, чтобы туда-сюда не ездили» 
                        </p>
                        <p class="section__text">
                            «Обрабатывать противопожаркой и инсектицидами будем?» — «Будем, а сколько стоит?»... 
                        </p>
                        <p class="section__text">
                            И так все полтора года.<br>
                            Когда строил для себя, напоролся на то же самое.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <div class="person-item__img" style="background-image: url('/assets/images/company/home.jpg')"></div>
                    <p class="section__text">
                        Тот самый дом, родители в него заехали, но только после того, как строители уже моей компании довели его до ума
                    </p>                  
                </div>                  
            </div>

        </div>
    </section>

    
    {% set indexSliderAlready = [
        {
            "href": "#",
            "img": "slide-1.jpg",
            "text": "Это наш первый бригадир, Кузин Александр Анатольевич. Работает с нами до сих пор, собрал сильную бригаду, обучает других"
        },
        {
            "href": "#",
            "img": "slide-2.jpg",
            "text": "Первый офис на ул.Революционная 18 в Ярославле. Нас было трое: я, менеджер и архитектор"
        },
        {
            "href": "#",
            "img": "slide-3.jpg",
            "text": "Построили первый дом. Долго, с ошибками и благодарностью клиентам. Из-за переделок за свой счет - ушли в минус"
        }
    ] %}

    {% set indexSliderAlready1 = [
        {
            "href": "#",
            "img": "slide-2.jpg",
            "text": "Это наш первый бригадир, Кузин Александр Анатольевич. Работает с нами до сих пор, собрал сильную бригаду, обучает других"
        },
        {
            "href": "#",
            "img": "slide-1.jpg",
            "text": "Первый офис на ул.Революционная 18 в Ярославле. Нас было трое: я, менеджер и архитектор"
        },
        {
            "href": "#",
            "img": "slide-3.jpg",
            "text": "Построили первый дом. Долго, с ошибками и благодарностью клиентам. Из-за переделок за свой счет - ушли в минус"
        }
    ] %}

    {% set indexSliderAlready2 = [
        {
            "href": "#",
            "img": "slide-3.jpg",
            "text": "Это наш первый бригадир, Кузин Александр Анатольевич. Работает с нами до сих пор, собрал сильную бригаду, обучает других"
        },
        {
            "href": "#",
            "img": "slide-1.jpg",
            "text": "Первый офис на ул.Революционная 18 в Ярославле. Нас было трое: я, менеджер и прораб"
        },
        {
            "href": "#",
            "img": "slide-2.jpg",
            "text": "Построили первый дом. Долго, с ошибками и благодарностью клиентам. Из-за переделок за свой счет - ушли в минус"
        }
    ] %}

    {% set indexSliderAlready3 = [
        {
            "href": "#",
            "img": "slide-3.jpg",
            "text": "Это наш первый бригадир, Кузин Александр Анатольевич. Работает с нами до сих пор, собрал сильную бригаду, обучает других"
        },
        {
            "href": "#",
            "img": "slide-1.jpg",
            "text": "Первый офис в ул.Революционная 18 в Ярославле. Нас было трое: я, менеджер и прораб"
        },
        {
            "href": "#",
            "img": "slide-2.jpg",
            "text": "Построили первый дом. Долго, с ошибками и благодарностью клиентам. Из-за переделок за свой счет - ушли в минус"
        }
    ] %}

    {% set indexSliderAlready4 = [
        {
            "href": "#",
            "img": "slide-3.jpg",
            "text": "Это наш первый бригадир, Кузин Александр Анатольевич. Работает с нами до сих пор, собрал сильную бригаду, обучает других"
        },
        {
            "href": "#",
            "img": "slide-1.jpg",
            "text": "Первый офис в ул.Революционная 18 в Ярославле. Нас было трое: я, менеджер и прораб"
        },
        {
            "href": "#",
            "img": "slide-2.jpg",
            "text": "Построили первый дом. Долго, с ошибками и благодарностью клиентам. Из-за переделок за свой счет - ушли в минус"
        }
    ] %}

    {% set indexSliderAlready5 = [
        {
            "href": "#",
            "img": "slide-3.jpg",
            "text": "Это наш первый бригадир, Кузин Александр Анатольевич. Работает с нами до сих пор, собрал сильную бригаду, обучает других"
        },
        {
            "href": "#",
            "img": "slide-1.jpg",
            "text": "Первый офис в ул.Революционная 18 в Ярославле. Нас было трое: я, менеджер и прораб"
        },
        {
            "href": "#",
            "img": "slide-2.jpg",
            "text": "Построили первый дом. Долго, с ошибками и благодарностью клиентам. Из-за переделок за свой счет - ушли в минус"
        }
    ] %}
    

    {# section BEGIN #}
    <section class="section _grey">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section__heading-wr _left">
                        <h2 class="section__heading">Я решил, что это не дело: рынок надо менять</h2>
                        <h4 class="section__subtitle">
                            Сначала построили «на пробу» 3 дома. Потом 10. В следующем году больше 60.
                        </h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <div class="slider-range">
                        <div class="slider-range__wr">
                            <div class="slider-range__ui" id="slider-range"></div>
                            <div class="slider-range__descr">
                                <span>2014</span>
                                <span>2015</span>
                                <span>2016</span>
                                <span>2017</span>
                                <span>2018</span>
                                <span>2019</span>
                            </div>
                        </div>

                        <ul class="slider-range__content">
                            <li data-range="0" class="slider-range__item active">
                                <div class="slider slider-history" id="slider-history-1">
                                    {% for slide in indexSliderAlready %}
                                        <div class="slider__slide slide-history">
                                            <div class="slider__slide-img" style="background-image: url('/assets/images/company/history/first/{{ slide.img }}')"></div>
                                            <div class="section__text _small">{{ slide.text }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </li>
                            <li data-range="1" class="slider-range__item">
                                <div class="slider slider-history" id="slider-history-2">
                                    {% for slide in indexSliderAlready1 %}
                                        <div class="slider__slide slide-history">
                                            <div class="slider__slide-img" style="background-image: url('/assets/images/company/history/first/{{ slide.img }}')"></div>
                                            <div class="section__text _small">{{ slide.text }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </li>
                            <li data-range="2" class="slider-range__item">
                                <div class="slider slider-history" id="slider-history-3">
                                    {% for slide in indexSliderAlready2 %}
                                        <div class="slider__slide slide-history">
                                            <div class="slider__slide-img" style="background-image: url('/assets/images/company/history/first/{{ slide.img }}')"></div>
                                            <div class="section__text _small">{{ slide.text }}</div>
                                        </div>
                                    {% endfor %}
                                </div>                               
                            </li>
                            <li data-range="3" class="slider-range__item">
                                <div class="slider slider-history" id="slider-history-4">
                                    {% for slide in indexSliderAlready3 %}
                                        <div class="slider__slide slide-history">
                                            <div class="slider__slide-img" style="background-image: url('/assets/images/company/history/first/{{ slide.img }}')"></div>
                                            <div class="section__text _small">{{ slide.text }}</div>
                                        </div>
                                    {% endfor %}
                                </div>                               
                            </li>
                            <li data-range="4" class="slider-range__item">
                                <div class="slider slider-history" id="slider-history-5">
                                    {% for slide in indexSliderAlready4 %}
                                        <div class="slider__slide slide-history">
                                            <div class="slider__slide-img" style="background-image: url('/assets/images/company/history/first/{{ slide.img }}')"></div>
                                            <div class="section__text _small">{{ slide.text }}</div>
                                        </div>
                                    {% endfor %}
                                </div>                               
                            </li>
                            <li data-range="5" class="slider-range__item">
                                <div class="slider slider-history" id="slider-history-6">
                                    {% for slide in indexSliderAlready5 %}
                                        <div class="slider__slide slide-history">
                                            <div class="slider__slide-img" style="background-image: url('/assets/images/company/history/first/{{ slide.img }}')"></div>
                                            <div class="section__text _small">{{ slide.text }}</div>
                                        </div>
                                    {% endfor %}
                                </div>                               
                            </li>
                        </ul>
                    </div>

                </div>              
            </div>
        </div>
    </section>
    {# section END #}

    <section class="section pb-0-sm">
        <div class="container">
            <div class="row">

                <div class="col-sm-8 col-xs-12">
                    <div class="section__content">
                        <h3 class="section__text _big mb-70 mb-50-md visible-sm-block-min">
                            Сейчас благодаря нашему подходу обладателями добротных 
                            домов по честным ценам стали <a class="section__link _underline" href="/family">более 270 семей</a>
                        </h3>
                        <div class="section__text-wrap pr-50">
                            <h3 class="section__heading _text-left _big mb-30 visible-sm-block-max">
                                Вам будет спокойно за будущий дом с первого обращения и до заселения. 
                            </h3>
                            <p class="section__text  visible-sm-block-min">
                                Вам будет спокойно за будущий дом с первого обращения и до заселения. 
                            </p>                                   
                            <p class="section__text">
                                Хотя, нет... Даже позже: у нас есть служба заботы о клиентах, которая в течение 5 лет после сдачи дома отвечает на любые вопросы. 
                            </p>                                   
                            <p class="section__text">
                                И пожизненная гарантия.<br>
                                И окончательная смета.<br>
                                И строители с опытом от 10 лет (между прочим, из 10 соискателей на объект допускаем только одного, у нас жесткий контроль).<br>
                                И качественные материалы.<br>
                                И фотоотчеты каждую неделю.<br>
                                И...
                            </p>                                    
                            <p class="section__text">
                                Нам столько всего хочется вам рассказать!<br>
                                Поэтому сделали отдельный раздел <a href="/as-we-build.html" class="section__link _underline _bold-sm">«Как мы строим»</a>.<br>
                                Обязательно почитайте.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-xs-12 visible-sm-block-min">
                    <div class="section__content _grey">
                        <div class="section__text-wr pr-30 pt-30 mb-20">
                            <div class="section__text _right">
                                <div class="section__text _medium _line-height-s">
                                    Приезжайте<br>
                                    на текущие стройки
                                </div>
                                <span class="section__text _xs">
                                        Лучше увидеть все своими глазами, верно?
                                </span>
                            </div>
                        </div>

                        <a href="/ready-and-build.html" class="section__image _button-abs">
                            <img src="/assets/images/company/map.jpg" alt="карта">  
                            <button class="btn _primary _shadow">
                                <span class="btn__text">Смотреть объекты</span>
                            </button>             
                        </a>                  
                    </div>                  
                </div>                  

            </div>
        </div>
    </section>

    {# section BEGIN #}
    <section class="section _nav">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section__heading-wr _center">
                        <h2 class="section__heading">У каждой семьи должен быть свой дом</h2>
                        <h4 class="section__subtitle">
                            Мы работаем ради этой воодушевляющей цели.<br>
                            Хотите, осуществим и вашу мечту?
                        </h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section__content">
                        <a href="/team.html" class="materials-item _nav _full" style="background-image: url('/assets/images/team/team.jpg')">
                            <div class="materials-item__label _bottom">
                                <div class="materials-item__label-heading">
                                    <span class="materials-item__label-decor">Познакомьтесь с компанией</span>
                                    <span>и командой</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    {# section END #}

    {# section BEGIN #}
    <section class="section">
        <div class="container">

            <div class="row _reversed">
                <div class="col-sm-6 col-xs-12">
                    <div class="section__content">
                        <div class="section__image _center-sm">
                            <img src="/assets/images/company/director.jpg">             
                        </div>
                    </div>
                    <p class="section__text _small _bold _center visible-sm-block-max">
                        Константин Разин,<br>
                        основатель строительного холдинга «Эверест»
                    </p>
                </div>  

                <div class="col-sm-6 col-xs-12">
                    <div class="section__content">
                        <div class="section__heading-wr _small">
                            <h4 class="section__heading _small _text-left-sm-min">
                                Я всегда на связи
                            </h4>
                        </div>
                        <p class="section__text _bold">
                            Все звонки записываются, а жалобы и спорные вопросы заносятся в журнал обращений клиентов.<br>
                            Этот журнал я проверяю каждый день. Радует, что записей там обычно нет.
                        </p>                                
                        <p class="section__text _bold mb-30-sm">
                            Если же вам принципиально нужно поговорить со мной напрямую, просто скажите об этом менеджеру: он запишет вас, и я перезвоню лично.
                        </p>
                        <p class="section__text _small visible-sm-block-min">
                            Константин Разин,<br>
                            основатель строительного холдинга «Эверест»
                        </p>
                    </div>
                </div>                
            </div>

        </div>
    </section>
    {# section END #}

    {# section BEGIN #}
        {% include '../partials/already-seen.twig' %}
    {# section END #}
{% endblock %}

{% block javascripts %}
    {# <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> #}
    {# <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> #}
{% endblock %}

{% block footer %}
    {% include '../common/footer.twig' %}
{% endblock %}
