{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' with { "headerParams": { "sticky": "true", "page": "sub" }} %}
{% endblock %}

{% block content %}
    {{ mixins.breadcrumbs([
        {  
            "title": "Главная",
            "path": "/",
        },
        {  
            "title": "Контакты"
        }
    ]) }}
    
    <section class="section _contacts">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section__heading-wr">
                        <h1 class="section__heading _big _text-left">Контакты компании “Эверест”</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="section__content">
                        <ul class="section__list _contacts contacts-list">
                            <li class="contacts-list__item">
                                <div class="block-line _flex _at _contacts">
                                    {{ svg.icon({ "name": "clock", "mod": "contacts-list__icon" }) }}
                                    <div class="contacts-list__content">
                                        <span>Часы работы:</span>
                                        <span>По будням 9:00 - 20:00</span>
                                        <span>Суббота 10:00 - 16:00</span>
                                    </div>
                                </div>
                            </li>
                            <li class="contacts-list__item">
                                <div class="block-line _flex _at _contacts">
                                    {{ svg.icon({ "name": "phone", "mod": "contacts-list__icon" }) }}
                                    <div class="contacts-list__content">
                                        <span>Телефон (многоканальный)</span>
                                        <span>
                                            <div href="tel:88001234567" class="nav-info__phone _acsent">8 800 123-45-67</div>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="contacts-list__item">
                                <div class="block-line _flex _at _contacts">
                                    {{ svg.icon({ "name": "mail", "mod": "contacts-list__icon" }) }}
                                    <div class="contacts-list__content">
                                        <span>Email</span>
                                        <span>
                                            <a href="mailto:email@sdkfj.ru">email@sdkfj.ru</a>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="contacts-list__item hidden-sm hidden-xs">
                                <div class="block-line _flex _at _contacts">
                                    {{ svg.icon({ "name": "paper", "mod": "contacts-list__icon" }) }}
                                    <div class="contacts-list__content">
                                        <span>Реквизиты</span>

                                        <span>ООО «Эверест Стройхолдинг»</br>
                                            ОГРН 1157604001136</br>
                                            ИНН 7604273740</br>
                                            КПП 760401001</br>
                                            <br>
                                            Директор</br>
                                            Копыль Александр Борисович, действует на<br>
                                            основании Устава<br>
                                            <br>
                                            Адрес:  150000, Ярославль, Революционная, 18, 2<br>
                                            Банк: ИКБР «Яринтербанк»<br>
                                            БИК 047888728<br>
                                            кор/сч 30101810300000000728<br>
                                            р/сч 40702810900000006042<br>
                                            <br>
                                            Проверить данные о нас можно на сайте:<br>
                                            https://egrul.nalog.ru/</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="section__content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section__content-wr _m-top-md">
                                    <div class="block-line _flex _at _contacts">
                                        {{ svg.icon({ "name": "online", "mod": "contacts-list__icon" }) }}
                                        <div class="contacts-list__content">
                                            <span>Онлайн-трансляция из главного офиса,<br class="hidden-xs"> Ярославль</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="section__iframe">
                                    <div class="iframe-responsive _max-w">
                                        <div class="iframe-responsive__wrap"></div>
                                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/oBJ0rUbrLnA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>                    
                                    </div>
                                </div>
                                <div class="contacts-list__item hidden-md hidden-lg hidden-vl hidden-fh">
                                    <div class="block-line _flex _at _contacts">
                                        {{ svg.icon({ "name": "paper", "mod": "contacts-list__icon" }) }}
                                        <div class="contacts-list__content">
                                            <span>Реквизиты</span>
    
                                            <span>ООО «Эверест Стройхолдинг»</br>
                                                ОГРН 1157604001136</br>
                                                ИНН 7604273740</br>
                                                КПП 760401001</br>
                                                <br>
                                                Директор</br>
                                                Копыль Александр Борисович, действует на<br>
                                                основании Устава<br>
                                                <br>
                                                Адрес:  150000, Ярославль, Революционная, 18, 2<br>
                                                Банк: ИКБР «Яринтербанк»<br>
                                                БИК 047888728<br>
                                                кор/сч 30101810300000000728<br>
                                                р/сч 40702810900000006042<br>
                                                <br>
                                                Проверить данные о нас можно на сайте:<br>
                                                https://egrul.nalog.ru/</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-1 col-xs-12">
                                <div class="section__form _contacts">
                                    <form class="js-static-form form">
                                        <div class="form__heading">Оставьте заявку на звонок</div>
                                        <div class="form__content-wr">
                                            <div class="form__group">
                                                {{ form.input({title: 'Как к вам обращаться?', name: 'name', inputMod: 'js-form-name', placeholder: "Впишите Ваше имя"}) }}
                                            </div>
                                            <div class="form__group">
                                                {{ form.input({title: 'Введите телефон', name: 'phone', inputMod: 'js-form-phone', placeholder: "+7 (___) ___-__-__"}) }}
                                            </div>
                                            <div class="form__group">
                                                <label class="form-input">
                                                    <span class="form-input__title">Когда вам позвонить?</span>                                                    
                                                    <select name="data" class="form-input__field">
                                                        <option value="сейчас">Cейчас</option>
                                                        <option value="завтра">Завтра</option>
                                                    </select>
                                                </label>
                                            </div>
                                            <div class="form__submit">
                                                <button type="submit" class="btn _full btn-submit-js">
                                                    <span class="btn__text">Заказать звонок</span>
                                                </button>
                                            </div>
                                            <div class="form__info _center">
                                                Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь<br>
                                                    с <a href="/politic/">Политикой конфиденциальности</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="col-sm-6 col-sm-offset-1 col-xs-12 hidden-md hidden-lg hidden-vl hidden-fh">
                                <div class="section__content-wr _m-bottom">
                                    <div class="section__heading-wr">
                                        <h2 class="section__heading _small">Или пишите нам в соцсети<br> и мессенджеры</h2>
                                    </div>
                                    <div class="section__content">
                                        <div class="section__content-inner">
                                            <div class="block-line _flex _sb">
                                                <div class="block-line__left">
                                                    <div class="section__text mb-20">Соц. сети:</div>
                                                    {% include '../partials/socials.twig' with { size: "big"} %}
                                                </div>
                                                <div class="block-line__right">
                                                    <div class="section__text mb-20">или мессенджер:</div>
                                                    {% include '../partials/socials.twig' with { params: socials.messenger, size: "big" } %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section__content-inner">
                                            <p class="section__text _center">Менеджеры ждут вас там<br> практически в любое время дня и ночи</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-50-md">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section__content">
                        <div class="block-line _flex _at _contacts">
                            {{ svg.icon({ "name": "baloon", "mod": "contacts-list__icon" }) }}
                            <div class="contacts-list__content">
                                <span>Адреса офисов</span>
                                <div class="tab">
                                    <ul class="tab__nav" id="myTab" role="tablist">
                                        <li class="tab__nav-item active">
                                            <a class="tab__nav-link" data-coord="57.624058,39.893706" data-header="Ярославль" data-body="ул. Революционная, д.18, офис 200" id="yaroslavl-tab" data-toggle="tab" href="#yaroslavl" role="tab" aria-controls="home" aria-selected="true">Ярославль (главный офис)</a>
                                        </li>
                                        <li class="tab__nav-item">
                                            <a class="tab__nav-link" data-coord="47.624058,39.893706" data-header="Москва" data-body="ул. Революционная, д.18, офис 200" id="moscow-tab" data-toggle="tab" href="#moscow" role="tab" aria-controls="profile" aria-selected="false">Москва</a>
                                        </li>
                                        <li class="tab__nav-item">
                                            <a class="tab__nav-link" data-coord="67.624058,39.893706" data-header="Нижний Новгород" data-body="ул. Революционная, д.18, офис 200" id="n-novgorod-tab" data-toggle="tab" href="#nnovgorod" role="tab" aria-controls="contact" aria-selected="false">Нижний Новгород</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content _contacts" id="myTabContent">
                                        <div class="tab-pane fade show active" id="yaroslavl" role="tabpanel" aria-labelledby="yaroslavl-tab">
                                            <div>
                                                Главный офис в Ярославле
                                                <br>
                                                123456 г. Ярославль, ул. Революционная, д.18, офис 200
                                                <br>
                                                <br>
                                                +7 1234 12-34-56
                                                <br>
                                                mail@mail.ru
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="moscow" role="tabpanel" aria-labelledby="moscow-tab">
                                            <div>
                                                Главный офис в Москве
                                                <br>
                                                123456 г. Ярославль, ул. Революционная, д.18, офис 200
                                                <br>
                                                <br>
                                                +7 1234 12-34-56
                                                <br>
                                                mail@mail.ru
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nnovgorod" role="tabpanel" aria-labelledby="n-novgorod-tab">
                                            <div>
                                                Главный офис в Нижнем Новгороде
                                                <br>
                                                123456 г. Ярославль, ул. Революционная, д.18, офис 200
                                                <br>
                                                <br>
                                                +7 1234 12-34-56
                                                <br>
                                                mail@mail.ru
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <div id="map" class="map"></div>

    {# section BEGIN #}
        {% include '../partials/already-seen.twig' %}
    {# section END #}
{% endblock %}

{% block footer %}
    {% include '../common/footer.twig' %}
{% endblock %}
