{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' with { "headerParams": { "sticky": "true", "page": "sub" }} %}
{% endblock %}

{% block content %}
    {{ mixins.breadcrumbs([
        {  
            "title": "Главная",
            "path": "/",
        },
        {  
            "title": "Как мы строим",
            "path": "/as-we-build",
        },
        {  
            "title": "Индивидуальное проектирование"
        }
    ]) }}
    
    <section class="section pb-0">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <div class="section__heading-wr">
                        <h1 class="section__heading _big _text-left">Индивидуальное проектирование</h1>
                        <p class="section__subtitle _left">У нас собственный архитектурный отдел, поэтому мы не только создаем проекты для каталога 
                            самостоятельно, но и разрабатываем с нуля проекты любой сложности под индивидуальные 
                            требования
                        </p>
                    </div>
                </div>
            </div>

            {% set articlesList = [
                {
                    title: '1. Консультация',
                    descr: 'Рассказываете архитектору  все пожелания. Консультируем. Заполняем анкету и техническое задание.',
                    imgSrc: 'article-1.jpg',
                },
                {
                    title: '2. Разбивка на функциональные зоны',
                    descr: 'Формируем объемно-планировочные решения, состав помещений и определяем функциональные зоны дома  ',
                    imgSrc: 'article-2.jpg',
                },
                {
                    title: '3. Привязка дома на участок',
                    descr: 'Архитектор привязывает будущий дом с учетом всех норм и правил, чтобы в будущем не было проблем с документами',
                    imgSrc: 'article-3.jpg',
                },
                {
                    title: '4. Планы этажей',
                    descr: 'Архитектор создает поэтажные планы дома с размерами и расстановкой мебели. Не будет ситуации, когда диван заслоняет проход',
                    imgSrc: 'article-4.jpg',
                },
                {
                    title: '5. Планировки в 3D',
                    descr: 'Для тех, кому легче воспринимать пространство в объемном отображении',
                    imgSrc: 'article-5.jpg',
                },
                {
                    title: '6. Разрезы',
                    descr: 'Режем вертикально вдоль и поперек в ответственных точках, чтобы исключить возможные наложения',
                    imgSrc: 'article-6.jpg',
                },
                {
                    title: '7. Фасады',
                    descr: 'Подбираем отделочные материалы и архитектурные стили будущего дома',
                    imgSrc: 'article-7.jpg',
                },
                {
                    title: '8. Визуализация',
                    descr: 'Наконец-то! Архитектор прорабатывает внешний вид и отделочные материалы: увидите будущий дом воочию',
                    imgSrc: 'article-8.jpg',
                },
                {
                    title: '9. Пояснительная записка',
                    descr: 'Ваш дом в цифрах: все технико-экономические показатели и основные объемы дома',
                    imgSrc: 'article-9.jpg',
                },
                {
                    title: '10. Фундамент',
                    descr: 'Разработка и расчет фундамента на основании геологических изысканий (их тоже делаем самостоятельно)',
                    imgSrc: 'article-10.jpg',
                },
                {
                    title: '11. Рабочие чертежи и узлы',
                    descr: 'На основании архитектурной части разрабатываем все сборочные планы и узлы для строительства дома',
                    imgSrc: 'article-11.jpg',
                },
                {
                    title: '12. Кровля',
                    descr: 'Расчет материалов и порядок сборки кровельного пирога и доборных элементов',
                    imgSrc: 'article-12.jpg',
                },
                {
                    title: '13. Итоговая спецификация',
                    descr: 'Раздел, в котором собраны и объединены все спецификации проекта. И теперь можно составлять смету проекта.',
                    imgSrc: 'article-13.jpg',
                },
                {
                    title: '14. Инженерные сети',
                    descr: 'Рассчитываются параллельно с основными разделами проекта',
                    imgSrc: 'article-14.jpg',
                },
                {
                    title: '15. Проверка проекта',
                    descr: 'Главный конструктор проверяет все по регламенту и заверяет проект своей подписью',
                    imgSrc: 'article-15.jpg',
                },
            ] %}

            <div class="row mb-40">
                <div class="col-xs-12">

                    <div class="section__heading-wr _small">
                        <h2 class="section__heading _small _text-left">Что же именно входит в эту услугу?</h2>
                    </div>
                    <ul class="flex-row">

                        {% for article in articlesList %}                           
                            <li class="col-md-4 col-sm-6 col-xs-6">
                                <div class="section__content mb-30">
                                    <div class="section__image mb-0">
                                        <img src="/assets/images/custom-design/{{ article.imgSrc }}" alt="">
                                    </div>
                                    <h4 class="section__text _big _acsent">{{ article.title }}</h4>
                                    <p class="section__text">{{ article.descr }}</p>
                                </div>
                            </li>
                        {% endfor %}

                        <li class="col-md-12 col-sm-6 col-xs-12">
                            <div class="section__content">
                                <div class="section__info">
                                    <p>Кстати: смета не меняется после подписания договора ни на рубль!</p>
                                </div>
                            </div>
                        </li>

                   </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h3 class="section__heading _small _acsent _text-left">
                        Мы в любом случае делаем весь этот комплекс работ,<br class="hidden-xs">
                        даже если вы выбираете проект из каталога
                    </h3>
                    <p class="section__subtitle _left">Потому что дело не только во внешнем виде дома и планировках</p>
                </div>
            </div>

            <div class="row">

                <div class="col-md-8 col-sm-12">
                    <div class="section__content">
                        <div class="row mb-30">
                            <div class="col-sm-4">
                                <div class="section__image-bg" style="background-image: url(/assets/images/custom-design/estimates.jpg); height: 230px"></div>
                            </div>
                            <div class="col-sm-8">
                                <div class="section__content">
                                    <h4 class="section__subtitle _bold _left">Детальная смета без изменений</h4>
                                    <p class="section__text">Вы получите всю информацию о количестве материалов до последнего гвоздя. Это позволит контролировать возведение и расход средств.</p>
                                    <p class="section__text">После заключения договора смета не изменится ни на рубль.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-30">
                            <div class="col-sm-4">
                                <div class="section__image-bg" style="background-image: url(/assets/images/custom-design/fundament.jpg); height: 230px"></div>
                            </div>
                            <div class="col-sm-8">
                                <div class="section__content">
                                    <h4 class="section__subtitle _bold _left">Проект фундамента точно рассчитан под ваш участок</h4>
                                    <p class="section__text">На основании геологических изысканий. </p>
                                    <p class="section__text">Вы можете быть уверены, что через несколько лет фундамент не сдвинется с места, а в стенах не образуются трещины.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-30">
                            <div class="col-sm-4">
                                <div class="section__image-bg" style="background-image: url(/assets/images/custom-design/binding.jpg); height: 230px"></div>
                            </div>
                            <div class="col-sm-8">
                                <div class="section__content">
                                    <h4 class="section__subtitle _bold _left">Привязка к земле и участку</h4>
                                    <p class="section__text">Конструкторы и архитекторы вписывают коттедж в местность.</p>
                                    <p class="section__text">Это делается с учетом геологических условий, климата, направления ветров, глубины промерзания грунта и многих других факторов.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="row mb-30">
                        <div class="col-md-12 col-sm-4">
                            <div class="section__image-bg" style="background-image: url(/assets/images/custom-design/optimization.jpg); height: 190px"></div>
                        </div>
                        <div class="col-md-12 col-sm-8">
                            <div class="section__content">
                                <h4 class="section__subtitle _bold _left">Оптимизация затрат</h4>
                                <p class="section__text">Специалисты могут рассчитать конструкции и материалы таким образом, чтобы не было перерасхода.</p>
                                <p class="section__text">Подскажут на чем можно сэкономить, а на чем – нет.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-30 hidden-xs hidden-sm">
                        <div class="col-xs-12">
                            <div class="section__form _contacts">
                                <form class="js-static-form form">
                                    <div class="section__text _center _out">
                                            Кстати, можем рассчитать,<br>
                                            <strong>
                                                на какой дом вы можете рассчитывать<br>
                                                исходя из вашего бюджета.
                                            </strong>
                                    </div>
                                    <div class="section__text _center _small mb-20">
                                        Свяжемся с вами, уточним<br>
                                        пожелания и подберем варианты.
                                    </div>
                                    <div class="form__content-wr">
                                        <div class="form__group">
                                            <div class="section__text _bold _small _center mb-20">На какую сумму рассчитываете?</div>

                                            <div class="slider-range _coast">
                                                <div class="slider-range__wr">
                                                    <div class="slider-range__ui" id="slider-range"></div>
                                                    <div class="slider-range__descr">
                                                        <input class="slider-range__out _left" name="min" type="text" id="amount-min" readonly>
                                                        <input class="slider-range__out _right" name="max" type="text" id="amount-max" readonly>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="form__group">
                                            {{ form.input({title: 'Введите телефон', name: 'phone', inputMod: 'js-form-phone', placeholder: "+7 (___) ___-__-__"}) }}
                                        </div>
                                        <div class="form__submit">
                                            <button type="submit" class="btn _full btn-submit-js">
                                                <span class="btn__text">Узнать стоимость</span>
                                            </button>
                                        </div>
                                        <div class="form__info _center">
                                            Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь<br>
                                                с <a href="/politic/">Политикой конфиденциальности</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>

    <section class="section pt-0 pb-0 hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="section__content-wr _padding-v">
                        <div class="section__content _padded _bg" style="background-image: url('/assets/images/custom-design/form-bg.jpg')">
                            <div class="section__heading-wr">
                                <div class="section__heading _small _bold">Оставьте заявку на индивидуальный проект прямо сейчас</div>
                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="section__text _bold">Это вас ни к чему не обязывает.</div>
                                    <div class="section__text _bold">Мы свяжемся с вами, узнаем о пожеланиях, бюджете и уже по телефону сможем обозначить варианты. Если вас все устроит, назначим встречу с архитектором.</div>
                                </div>

                                <div class="col-md-6 col-md-offset-1">
                                    <div class="section__form _no-padding">
                                        <form class="js-static-form form _no-bg">
                                            <div class="form__content-wr">
                                                <div class="form__group mb-20 _title-left">
                                                    {{ form.input({title: 'Как с вами связаться?', name: 'phone', inputMod: 'js-form-phone', placeholder: "+7 (___) ___-__-__"}) }}
                                                </div>


                                                <div class="form__group _title-left">
                                                    <label class="form-input ">
                                                        <span class="form-input__title">Куда отправить будущий проект?</span>
                                                    </label>
                                                    <div class="tab _decored _form">
                                                        <ul class="tab__nav _flex" id="myTab" role="tablist">
                                                            <li class="tab__nav-item active">
                                                                <a class="tab__nav-link" id="tab_1" data-toggle="tab" href="#tab_content_1" role="tab" aria-controls="tab_1" aria-selected="true">E-mail</a>
                                                            </li>
                                                            <li class="tab__nav-item">
                                                                <a class="tab__nav-link" id="tab_2" data-toggle="tab" href="#tab_content_2" role="tab" aria-controls="tab_2" aria-selected="true">ВКонтакте</a>
                                                            </li>
                                                            <li class="tab__nav-item">
                                                                <a class="tab__nav-link" id="tab_3" data-toggle="tab" href="#tab_content_3" role="tab" aria-controls="tab_3" aria-selected="true">Facebook</a>
                                                            </li>
                                                        </ul>
                            
                                                        <div class="tab-content" id="myTabContent">
                                                            <div class="tab-pane show active" id="tab_content_1" role="tabpanel" aria-labelledby="tab_1">
                                                                {{ form.input({ name: 'email', inputMod: 'js-form-email', type: "email", placeholder: 'yourmail@gmail.com'}) }}
                                                            </div>
                                                            <div class="tab-pane fade" id="tab_content_2" role="tabpanel" aria-labelledby="tab_2">
                                                                {{ form.input({ name: 'vk', type: "text", placeholder: 'vk'}) }}
                                                            </div>
                                                            <div class="tab-pane fade" id="tab_content_3" role="tabpanel" aria-labelledby="tab_3">
                                                                    {{ form.input({ name: 'facebook', type: "text", placeholder: 'facebook'}) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form__submit">
                                                    <button type="submit" class="btn btn-submit-js">
                                                        <span class="btn__text">Оставить заявку на проект</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="col-xs-12">                                                
                                    <div class="form__info _center">
                                        Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь<br>
                                        с <a href="/politic/">Политикой конфиденциальности</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="section _socials">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-sm-offset-2 col-xs-offset-2 visible-md-block-max">
                    <div class="section__content-wr mb-0">
                        <div class="section__content">

                            <div class="section__heading-wr">
                                <p class="section__text _center">
                                    Оставьте заявку <br>
                                    на индивидуальный проект<br>
                                    прямо сейчас<br>
                                </p>
                                <p class="section__text _xs _center _bold">
                                    Выберите, где вам удобнее записаться
                                </p>
                            </div>
                            <div class="section__content-inner">
                                <div class="block-line _flex _sb">
                                    <div class="block-line__left">
                                        <div class="section__text mb-20">Соц. сети:</div>
                                        {% include '../partials/socials.twig' with { size: "big"} %}
                                    </div>
                                    <div class="block-line__right">
                                        <div class="section__text mb-20">или мессенджер:</div>
                                        {% include '../partials/socials.twig' with { params: socials.messenger, size: "big" } %}
                                    </div>
                                </div>
                            </div>
                            <div class="section__content-inner">
                                <div class="section__content _center">
                                    <div class="section__text-wr mb-20">
                                        <p class="section__text _bold _xs">
                                            Я отвечу вам,<br>
                                            и подберем дом для показа 
                                        </p>
                                    </div>
                                    <div class="block-line _flex _text-left">
                                        <img src="/assets/images/houses270/manager-laptop.jpg" class="mr-20" alt="Менеджер">
                                        <div class="section__content">
                                            <div class="section__text _small">
                                                <strong>Имя Фамилия,</strong><br>
                                                менеджер службы<br> 
                                                заботы о клиентах
                                            </div>
                                        </div>
                                    </div>
                                </div>                     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock %}

{% block footer %}
    {% include '../common/footer.twig' %}
{% endblock %}
