{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' with { "headerParams": { "sticky": "true", "page": "sub" }} %}
{% endblock %}

{% block content %}
    {{ mixins.breadcrumbs([
        {  
            "title": "Главная",
            "path": "/"
        },
        {  
            "title": "О компании",
            "path": "/company"
        },
        {  
            "title": "Документы",
        }
    ]) }}

    {% set docsList = {
        "client": {
            "before": {
                "left": [
                    {
                        "title": "Типовой договор",
                        "date": "",
                        "size": ""
                    },
                    {
                        "title": "Пример сметы",
                        "date": "",
                        "size": ""
                    },
                    {
                        "title": "Договор на архитектурный проект",
                        "date": "",
                        "size": ""
                    }
                ],
                "right": [
                    {
                        "title": "Акт приемки-передачи фундамента",
                        "date": "",
                        "size": ""
                    },
                    {
                        "title": "Акт приемки-передачи стен",
                        "date": "",
                        "size": ""
                    },
                    {
                        "title": "Акт приемки-передачи отделки",
                        "date": "",
                        "size": ""
                    }
                ]
            },
            "during": {
                "left": [
                    {
                        "title": "Пример архитектурного проекта",
                        "date": "",
                        "size": ""
                    },
                    {
                        "title": "Пример проекта электрики",
                        "date": "",
                        "size": ""
                    },
                    {
                        "title": "Пример геологического заключения",
                        "date": "",
                        "size": ""
                    },
                    {
                        "title": "Пример заключения по воде",
                        "date": "",
                        "size": ""
                    }
                ],
                "right": [
                    {
                        "title": "Акт приемки-передачи финишных работ",
                        "date": "",
                        "size": ""
                    },
                    {
                        "title": "Акт приемки-передачи устройства крыши",
                        "date": "",
                        "size": ""
                    }
                ]
            },
            "after": {
                "left": [
                    {
                        "title": "Пример архитектурного проекта",
                        "date": "",
                        "size": ""
                    },
                    {
                        "title": "Пример проекта электрики",
                        "date": "",
                        "size": ""
                    },
                    {
                        "title": "Пример геологического заключения",
                        "date": "",
                        "size": ""
                    },
                    {
                        "title": "Пример заключения по воде",
                        "date": "",
                        "size": ""
                    }
                ],
                "right": [
                    {
                        "title": "Акт приемки-передачи финишных работ",
                        "date": "",
                        "size": ""
                    },
                    {
                        "title": "Акт приемки-передачи устройства крыши",
                        "date": "",
                        "size": ""
                    }
                ]
            }
        },
        "company": [
            {
                "title": "Решение об учреждении",
                "date": "",
                "size": ""
            },
            {
                "title": "Свидетельство ИНН",
                "date": "",
                "size": ""
            },
            {
                "title": "Свидетельство ОГРН",
                "date": "",
                "size": ""
            },
            {
                "title": "Устав",
                "date": "",
                "size": ""
            },
            {
                "title": "План развития до 2050 года",
                "date": "",
                "size": ""
            }
        ],
        "material": {
            "fundament": {
                "left": [
                    {
                        "title": "Сертификат Ричмон Гудвин",
                        "date": "",
                        "size": ""
                    },
                    {
                        "title": "Декларация о соответствии Стекломакс",
                        "date": "",
                        "size": ""
                    }
                ],
                "right": [
                    {
                        "title": "Изовер, скатная кровля (утеплитель)",
                        "date": "",
                        "size": ""
                    },
                    {
                        "title": "Сертификат ЭКО",
                        "date": "",
                        "size": ""
                    }
                ]
            },
            "roof": {
                "left": [
                    {
                        "title": "Сертификат Монблан",
                        "date": "",
                        "size": ""
                    },
                    {
                        "title": "Сертификат Керма (Строма)",
                        "date": "",
                        "size": ""
                    },
                    {
                        "title": "Изовер, скатная кровля",
                        "date": "",
                        "size": ""
                    }
                ],
                "right": [
                    {
                        "title": "Сертификат ГКЛ",
                        "date": "",
                        "size": ""
                    },
                    {
                        "title": "Сертификат кирпич BRAER",
                        "date": "",
                        "size": ""
                    },
                    {
                        "title": "Сертификат Унистром",
                        "date": "",
                        "size": ""
                    }
                ]
            }
        }
    } %}
    
    <section class="section _banner _overlay _documents _white">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section__heading-wr _small">
                        <div class="section__heading _text-left">
                            Мы работаем всерьез<br class="visible-xs-block"> и надолго         
                        </div>
                    </div>
                    <div class="section__text _big">
                        С документами все в порядке и у компании, и у клиентов: мы стабильная честная<br>
                        компания с собственным юридическим отделом.<br>
                    </div>
                    <div class="section__text _big">
                        Кстати, есть план развития на 30 лет вперед. Можете увидеть его в разделе «Документы компании».       
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section__content">
                        <div class="section__tabs">
                            <div class="tab _decored">
                                <ul class="tab__nav hidden-xs" id="myTab" role="tablist">
                                    <li class="tab__nav-item active">
                                        <a class="tab__nav-link" id="client-tab" data-toggle="tab" href="#client" role="tab" aria-controls="client" aria-selected="true" aria-expanded="true">Документы для клиентов</a>
                                    </li>
                                    <li class="tab__nav-item">
                                        <a class="tab__nav-link" id="company-tab" data-toggle="tab" href="#company" role="tab" aria-controls="company" aria-selected="false" aria-expanded="false">Документы компании</a>
                                    </li>
                                    <li class="tab__nav-item">
                                        <a class="tab__nav-link" id="material-tab" data-toggle="tab" href="#material" role="tab" aria-controls="material" aria-selected="false" aria-expanded="false">Документы на материалы</a>
                                    </li>
                                </ul>

                                <div class="tab-content _documents" id="myTabContent">
                                    <div class="tab-pane active show" id="client" role="tabpanel" aria-labelledby="client-tab">
                                        <div>
                                            <div class="row">

                                                <div class="col-md-6 col-sm-7">
                                                    <div class="section__heading-wr _small visible-xs">
                                                        <h2 class="section__heading _text-left _small _bold">
                                                            Поможем оформить<br>
                                                            строительство и дом
                                                        </h2>
                                                    </div>
                                                    <div class="respons-video">
                                                        <div class="respons-video__label _text-right visible-xs">
                                                                Посмотрите видео:<br>
                                                                эта папка полна документов.<br>
                                                                Все они необходимы.</div>
                                                        <div class="respons-video__preview" style="background-image: url(/assets/images/blog/video.jpg)">
                                                            {{ svg.icon({"name": "play", "mod": "respons-video__icon"}) }}
                                                        </div>
                                                        <div class="respons-video__iframe-wr _full" data-src="https://www.youtube.com/embed/oBJ0rUbrLnA">
                                                            <div class="respons-video__padding"></div>
                                                            <iframe frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                            <div class="spinner">
                                                                <div class="bounce1"></div>
                                                                <div class="bounce2"></div>
                                                                <div class="bounce3"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-5">
                                                    <div class="section__heading-wr _small">
                                                        <h2 class="section__heading _text-left _small _bold  hidden-xs">
                                                            Поможем оформить<br>
                                                            строительство и дом
                                                        </h2>
                                                    </div>
                                                    <p class="section__text hidden-xs">
                                                        Посмотрите видео: эта папка полна документов. Все они необходимы.
                                                    </p>
                                                    <p class="section__text">
                                                        В другой компании вам пришлось бы самостоятельно собирать весь пакет, ходить по инстанциям (иногда по нескольку раз).
                                                    </p>
                                                    <div class="section__text-wr _bg">
                                                        <p class="section__text _after">
                                                            У нас же для вас работает юридический отдел: экономите время <strong>и получаете на 100% правильно оформленные документы.</strong>          
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mt-50">
                                                <div class="col-sm-12">
                                                    <div class="section__heading-wr hidden-xs">
                                                        <h2 class="section__heading _text-left _small _bold">
                                                            Документы, необходимые до начала строительства
                                                        </h2>
                                                    </div>
                                                    <div class="section__heading-wr visible-xs-block">
                                                        <h2 class="section__heading _text-left _mob">
                                                            Документы, необходимые<br>
                                                            <strong>уже до начала</strong> строительства   
                                                        </h2>
                                                    </div>
                                                    
                                                    <div class="section__content">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                {% for doc in docsList.client.before.left %}
                                                                    <div class="documents-item">
                                                                        <div class="documents-item__icon-wr">
                                                                            {{ svg.icon({"name": "docs", "mod": "documents-item__icon" }) }}
                                                                        </div>
                                                                        <div class="documents-item__info">
                                                                            <div class="documents-item__title">{{ doc.title}}</div>
                                                                            <div class="documents-item__date">11/12/2014</div>
                                                                            <div class="documents-item__size">544 Кб</div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                            <div class="col-sm-6">
                                                                {% for doc in docsList.client.before.right %}
                                                                    <div class="documents-item">
                                                                        <div class="documents-item__icon-wr">
                                                                            {{ svg.icon({"name": "docs", "mod": "documents-item__icon" }) }}
                                                                        </div>
                                                                        <div class="documents-item__info">
                                                                            <div class="documents-item__title">{{ doc.title}}</div>
                                                                            <div class="documents-item__date">11/12/2014</div>
                                                                            <div class="documents-item__size">544 Кб</div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row mt-50">
                                                <div class="col-sm-12">
                                                    <div class="section__heading-wr visible-xs-block">
                                                        <h2 class="section__heading _text-left _mob">
                                                            Документы, необходимые<br>
                                                            <strong>во время строительства</strong>
                                                        </h2>
                                                    </div>
                                                    <div class="section__heading-wr hidden-xs">
                                                        <h2 class="section__heading _text-left _small _bold">
                                                            Документы, необходимые во время строительства
                                                        </h2>
                                                    </div>

                                                    <div class="section__content">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                {% for doc in docsList.client.during.left %}
                                                                    <div class="documents-item">
                                                                        <div class="documents-item__icon-wr">
                                                                            {{ svg.icon({"name": "docs", "mod": "documents-item__icon" }) }}
                                                                        </div>
                                                                        <div class="documents-item__info">
                                                                            <div class="documents-item__title">{{ doc.title}}</div>
                                                                            <div class="documents-item__date">11/12/2014</div>
                                                                            <div class="documents-item__size">544 Кб</div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                            <div class="col-sm-6">
                                                                {% for doc in docsList.client.during.right %}
                                                                    <div class="documents-item">
                                                                        <div class="documents-item__icon-wr">
                                                                            {{ svg.icon({"name": "docs", "mod": "documents-item__icon" }) }}
                                                                        </div>
                                                                        <div class="documents-item__info">
                                                                            <div class="documents-item__title">{{ doc.title}}</div>
                                                                            <div class="documents-item__date">11/12/2014</div>
                                                                            <div class="documents-item__size">544 Кб</div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row mt-50">
                                                <div class="col-sm-12">
                                                    <div class="section__heading-wr hidden-xs">
                                                        <h2 class="section__heading _text-left _small _bold">
                                                            Документы, необходимые после окончания строительства
                                                        </h2>
                                                    </div>
                                                    <div class="section__heading-wr visible-xs-block">
                                                        <h2 class="section__heading _text-left _mob">
                                                            Документы, необходимые<br>
                                                            <strong>после окончания</strong><br>
                                                            строительства
                                                        </h2>
                                                    </div>

                                                    <div class="section__content">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                {% for doc in docsList.client.after.left %}
                                                                    <div class="documents-item">
                                                                        <div class="documents-item__icon-wr">
                                                                            {{ svg.icon({"name": "docs", "mod": "documents-item__icon" }) }}
                                                                        </div>
                                                                        <div class="documents-item__info">
                                                                            <div class="documents-item__title">{{ doc.title}}</div>
                                                                            <div class="documents-item__date">11/12/2014</div>
                                                                            <div class="documents-item__size">544 Кб</div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                            <div class="col-sm-6">
                                                                {% for doc in docsList.client.after.right %}
                                                                    <div class="documents-item">
                                                                        <div class="documents-item__icon-wr">
                                                                            {{ svg.icon({"name": "docs", "mod": "documents-item__icon" }) }}
                                                                        </div>
                                                                        <div class="documents-item__info">
                                                                            <div class="documents-item__title">{{ doc.title}}</div>
                                                                            <div class="documents-item__date">11/12/2014</div>
                                                                            <div class="documents-item__size">544 Кб</div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="company" role="tabpanel" aria-labelledby="company-tab">
                                        <div>
                                                <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="section__heading-wr">
                                                                <h2 class="section__heading _text-left _small _bold">
                                                                    Документы на материалы для устройства кровли
                                                                </h2>
                                                            </div>
        
                                                            <div class="section__content">
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        {% for doc in docsList.company %}
                                                                            <div class="documents-item">
                                                                                <div class="documents-item__icon-wr">
                                                                                    {{ svg.icon({"name": "docs", "mod": "documents-item__icon" }) }}
                                                                                </div>
                                                                                <div class="documents-item__info">
                                                                                    <div class="documents-item__title">{{ doc.title}}</div>
                                                                                    <div class="documents-item__date">11/12/2014</div>
                                                                                    <div class="documents-item__size">544 Кб</div>
                                                                                </div>
                                                                            </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <h2 class="section__heading-under _bold">Реквизиты</h2>
                                
                                                                        <div>ООО «Эверест»</br>
                                                                            ОГРН 1177627028435<br>
                                                                            ИНН 7604331167<br>
                                                                            КПП 760401001<br>
                                                                            <br>
                                                                            Директор Копыль Александр Борисович, действует на основании Устава<br>
                                                                            Адрес: 150000, Ярославль, Революционная, 18, 7<br>
                                                                            Банк: СЕВЕРНЫЙ БАНК ПАО СБЕРБАНК г.Ярославль<br>
                                                                            БИК 047888670<br>
                                                                            кор/сч 30101810500000000670<br>
                                                                            р/сч 40702810377030012059<br>
                                                                            тел. 89201220209
                                                                        </div>
                                                                    </div>
                                                                </div>
        
                                                            </div>
        
                                                        </div>
                                                    </div>
    
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="material" role="tabpanel" aria-labelledby="material-tab">
                                        <div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="section__heading-wr">
                                                        <h2 class="section__heading _text-left _small _bold">
                                                            Документы на материалы для устройства фундамента                                                           
                                                         </h2>
                                                    </div>

                                                    <div class="section__content">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                {% for doc in docsList.material.fundament.left %}
                                                                    <div class="documents-item">
                                                                        <div class="documents-item__icon-wr">
                                                                            {{ svg.icon({"name": "docs", "mod": "documents-item__icon" }) }}
                                                                        </div>
                                                                        <div class="documents-item__info">
                                                                            <div class="documents-item__title">{{ doc.title}}</div>
                                                                            <div class="documents-item__date">11/12/2014</div>
                                                                            <div class="documents-item__size">544 Кб</div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                            <div class="col-sm-6">
                                                                {% for doc in docsList.material.fundament.right %}
                                                                    <div class="documents-item">
                                                                        <div class="documents-item__icon-wr">
                                                                            {{ svg.icon({"name": "docs", "mod": "documents-item__icon" }) }}
                                                                        </div>
                                                                        <div class="documents-item__info">
                                                                            <div class="documents-item__title">{{ doc.title}}</div>
                                                                            <div class="documents-item__date">11/12/2014</div>
                                                                            <div class="documents-item__size">544 Кб</div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row mt-50">
                                                <div class="col-sm-12">
                                                    <div class="section__heading-wr">
                                                        <h2 class="section__heading _text-left _small _bold">
                                                            Документы на материалы для устройства кровли
                                                        </h2>
                                                    </div>

                                                    <div class="section__content">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                {% for doc in docsList.material.roof.left %}
                                                                    <div class="documents-item">
                                                                        <div class="documents-item__icon-wr">
                                                                            {{ svg.icon({"name": "docs", "mod": "documents-item__icon" }) }}
                                                                        </div>
                                                                        <div class="documents-item__info">
                                                                            <div class="documents-item__title">{{ doc.title}}</div>
                                                                            <div class="documents-item__date">11/12/2014</div>
                                                                            <div class="documents-item__size">544 Кб</div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                            <div class="col-sm-6">
                                                                {% for doc in docsList.material.roof.right %}
                                                                    <div class="documents-item">
                                                                        <div class="documents-item__icon-wr">
                                                                            {{ svg.icon({"name": "docs", "mod": "documents-item__icon" }) }}
                                                                        </div>
                                                                        <div class="documents-item__info">
                                                                            <div class="documents-item__title">{{ doc.title}}</div>
                                                                            <div class="documents-item__date">11/12/2014</div>
                                                                            <div class="documents-item__size">544 Кб</div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# section BEGIN #}
        {% include '../partials/already-seen.twig' %}
    {# section END #}
   
{% endblock %}

{% block footer %}
    {% include '../common/footer.twig' %}
{% endblock %}
