{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' with { "headerParams": { "sticky": "true", "page": "sub" }} %}
{% endblock %}

{% block content %}
    {{ mixins.breadcrumbs([
        {  
            "title": "Главная",
            "path": "/",
        },
        {  
            "title": "Наши дома"
        }
    ]) }}
    
    <section class="section">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section__heading-wr _small">
                        <h1 class="section__heading _big _text-left">С 2014 года построили 274 дома</h1>
                    </div>
                </div>
            </div>

        </div>
    </section>
    
    <section class="section _grey _p-small visible-md-block-min">
        <div class="container">

            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <div class="section__form _contacts">
                        <form class="js-static-form form _fields-inline">
                            <div class="form__heading-wr">
                                <div class="form__heading _big _left">Запишитесь на экскурсию: посмотрите, как мы строим</div>
                            </div>
                            <div class="form__content-wr">
                                <div class="form__group">
                                    {{ form.input({name: 'name', inputMod: 'js-form-name', placeholder: "Впишите Ваше имя"}) }}
                                </div>
                                <div class="form__group">
                                    {{ form.input({name: 'phone', inputMod: 'js-form-phone', placeholder: "+7 (___) ___-__-__"}) }}
                                </div>
                                <div class="form__group">
                                    <button type="submit" class="btn _full btn-submit-js">
                                        <div class="btn__text visible-lg-block-min">Записаться на экскурсию</div>
                                        <div class="btn__text visible-lg-block-max">Записаться</div>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                   <div class="section__content">
                       <div class="block-line _flex">
                           <img src="/assets/images/houses270/manager.jpg" class="section__image _abs" alt="Менеджер">
                           <div class="section__content">
                               <div class="section__text _small">Вам твечу я:<br>
                                <br>
                                <strong>Перелыгина Юлия,</strong><br>
                                менеджер<br>
                                службы заботы<br> 
                                о клиентах
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
            </div>

        </div>
    </section>

    <section class="section">
        <div id="app-map"></div>
    </section>

    <!-- <section class="section">
        <div class="container">
            <div class="row mb-50">
                <div class="col-xs-12">
                    <div class="map-nav">
                        <div class="map-nav-city">
                            <button type="button" class="btn _icon">
                                <span class="btn__text">Ярославль</span>
                                <span class="btn__remove"></span>
                            </button>
                            <button type="button" class="section__link _underline">Выбрать другой</button>
                        </div>
                        <div class="map-nav-filters">
                            <button type="button" class="btn" id="js-show-filtered">
                                <span class="btn__text">Показать</span>
                            </button>
                            <div class="map-nav-filters__wr">
                                <label for="map-nav-filters-sort">Сортировать по: </label>
                                <select name="map-nav-filters" id="map-filters-sort">
                                    <option value="square">общей площади</option>
                                    <option value="color">этажности</option>
                                    <option value="material">материалу</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="map-nav-action">
                        <img src="/assets/images/houses270/yaroslavl-map.jpg" alt="" class="map-nav-action__img">
                        <div class="map-nav-action__legends">
                            <div class="map-nav-action__legend">
                                <span class="legend-color" style="background-color: lightblue"></span>
                                <span>Фундаметн</span>
                            </div>
                            <div class="map-nav-action__legend">
                                <span class="legend-color" style="background-color: hotpink"></span>
                                <span>Возводим стены</span>
                            </div>
                            <div class="map-nav-action__legend">
                                <span class="legend-color" style="background-color: coral"></span>
                                <span>Устройство кровли</span>
                            </div>
                            <div class="map-nav-action__legend">
                                <span class="legend-color" style="background-color: blueviolet"></span>
                                <span>Коробка</span>
                            </div>
                            <div class="map-nav-action__legend">
                                <span class="legend-color" style="background-color: seagreen"></span>
                                <span>Можно вселяться</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <ul class="map-nav-result" id="map-nav-result">

                         {% for n in 1..8 %}                           
                            <li class="map-nav-result__item">
                                <div class="home-item">
                                    <div class="home-item__img" style="background-image: url('/assets/images/houses270/map/home-1.jpg')"></div>
                                    <div class="home-item__descr">
                                        <div class="home-item__title">
                                            <strong>
                                                Дом из кирпича, <br>
                                                150 кв.м.
                                            </strong>
                                        </div>
                                        <div class="home-item__data">
                                            Начало стройки<br>
                                            2 апреля 2018 г.
                                        </div>
                                        <div class="home-item__data">
                                            Сдадим<br>
                                            20 сентября 2018 г.
                                        </div>
                                        <a class="section__link _underline" href="/#homes">Подробнее</a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %} 

                    </ul>
                </div>
            </div>
        </div>
    </section> -->

    <section class="section _socials">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-sm-offset-2 col-xs-offset-2 visible-md-block-max">
                    <div class="section__content-wr mb-0">
                        <div class="section__heading-wr _small">
                            <h2 class="section__heading _small">Запишитесь на просмотр готового дома</h2>
                        </div>
                        <div class="section__heading-wr">
                            <div class="section__text _center">Выберите, где вам удобнее записаться</div>
                        </div>
                        <div class="section__content">
                            <div class="section__content-inner">
                                <div class="block-line _flex _sb">
                                    <div class="block-line__left">
                                        <div class="section__text mb-20">Соц. сети:</div>
                                        {% include '../partials/socials.twig' with { size: "big"} %}
                                    </div>
                                    <div class="block-line__right">
                                        <div class="section__text mb-20">или мессенджер:</div>
                                        {% include '../partials/socials.twig' with { params: socials.messenger, size: "big" } %}
                                    </div>
                                </div>
                            </div>
                            <div class="section__content-inner">
                                <div class="section__content _center">
                                    <div class="block-line _flex _inline _text-left">
                                        <img src="/assets/images/houses270/manager-laptop.jpg" class="mr-20" alt="Менеджер">
                                        <div class="section__content">
                                            <div class="section__text _small">
                                                <strong>Я отвечу вам,<br> 
                                                и подберем дом для показа</strong><br>
                                                <br>
                                                <strong>Имя Фамилия,</strong><br>
                                                менеджер службы заботы<br> 
                                                о клиентах
                                            </div>
                                        </div>
                                    </div>
                                </div>                     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    



    {# section BEGIN #}
        {% include '../partials/already-seen.twig' %}
    {# section END #}
{% endblock %}

{% block footer %}
    {% include '../common/footer.twig' %}
{% endblock %}
