{% extends '../base.twig' %}

{% set slider = [
    {
        "home": "НАЗВАНИЕ",
        "addres": "п. Лебедево Лайв, в черте Ярославля",
        "coast": "23 400"
    },
    {
        "home": "НАЗВАНИЕ",
        "addres": "п. Лебедево Лайв, в черте Ярославля",
        "coast": "33 400"
    },
    {
        "home": "НАЗВАНИЕ",
        "addres": "п. Лебедево Лайв, в черте Ярославля",
        "coast": "43 400"
    }
] %}

{% block header %}
    {% include '../common/header.twig' with { "headerParams": { "sticky": "true" }} %}
{% endblock %}

{% block content %}
    <section class="section _hero">
        <div class="section__slider">
            <div class="slider _hero" id="slider-hero">
                {% for slide in slider %}
                    <div class="slider__slide _hero" style="background-image: url(/assets/images/index/hero-slider/slide-1.jpg)">
                        <div class="container _flex-center _relative align-end-max-xs">
                            <div class="slider__slide-label hidden-sm hidden-xs">Дом готов! Можно вселяться!</div>
                            <div class="slider-slide__content">
                                <h2 class="slider-slide__heading _spaced">Дом <span class="uppercase">{{ slide.home }}</span></h2>
                                <div class="slider-slide__heading _small">{{ slide.addres }}</div>
                                <div class="slider-slide__heading">от {{ slide.coast }} р./мес</div>
                                <div class="slider-slide__btn">
                                    <a href="#" class="btn _primary"><span class="btn__text">Подробнее</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {# section BEGIN #}
    <section class="section _advantages">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section__content">
                        {% include '../common/advantages.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# section END #}

    {% set indexHomes = [
        {
            "material": "из бруса",
            "num": 29,
            "img": "home-1",
            "href": "#" 
        },
        {
            "material": "из кирпича",
            "num": 29,
            "img": "home-2",
            "href": "#" 
        },
        {
            "material": "из пеноблока",
            "num": 29,
            "img": "home-3",
            "href": "#" 
        },
        {
            "material": "из бруса",
            "num": 29,
            "img": "home-1",
            "href": "#" 
        },
        {
            "material": "из кирпича",
            "num": 29,
            "img": "home-2",
            "href": "#" 
        },
        {
            "material": "из пеноблока",
            "num": 29,
            "img": "home-3",
            "href": "#" 
        }
    ] %}

    {# section BEGIN #}
    <section class="section _materials">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section__heading-wr _center">
                        <h2 class="section__heading">Строим из проверенных материалов</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section__content">

                        <div class="row">
                            {% for home in indexHomes %}
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <a href="{{ home.href }}" class="materials-item" style="background-image: url('/assets/images/index/materials/{{ home.img }}.jpg')">
                                        <div class="materials-item__label">
                                            <div class="materials-item__label-heading">
                                                <span class="materials-item__label-decor">Дома</span>
                                                <span>{{ home.material }}</span>
                                            </div>
                                            <div class="materials-item__label-subheading">{{ home.num }} проектов</div>
                                        </div>
                                        <span class="materials-item__btn">Cмотреть</span>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    {# section END #}
 

    {% set popularHomes = [
        {
            "title": "По особенностям",
            "list": [
                {
                    "title": "С балконом",
                    "href": "#"
                },
                {
                    "title": "Панорамные окна",
                    "href": "#"
                },
                {
                    "title": "С баней",
                    "href": "#"
                },
                {
                    "title": "С гаражом",
                    "href": "#"
                },
                {
                    "title": "С террасой",
                    "href": "#"
                },
                {
                    "title": "С зимним садом",
                    "href": "#"
                }
            ]
        },
        {
            "title": "По общей площади",
            "list": [
                {
                    "title": "Компактные до 80 кв.м.",
                    "href": "#"
                },
                {
                    "title": "Комфортные от 150 кв.м.",
                    "href": "#"
                },
                {
                    "title": "Особняки от 250 кв.м.",
                    "href": "#"
                },
                {
                    "title": "Усадьбы от 350 кв.м.",
                    "href": "#"
                }
            ]
        },
        {
            "title": "По этажности",
            "list": [
                {
                    "title": "1-этажные",
                    "href": "#"
                },
                {
                    "title": "2-этажные",
                    "href": "#"
                },
                {
                    "title": "3-этажные",
                    "href": "#"
                },
                {
                    "title": "С мансардой",
                    "href": "#"
                }
            ]
        },
        {
            "title": "По участку",
            "list": [
                {
                    "title": "6 на 6",
                    "href": "#"
                },
                {
                    "title": "5 на 9",
                    "href": "#"
                },
                {
                    "title": "10 на 12",
                    "href": "#"
                },
                {
                    "title": "12 на 14",
                    "href": "#"
                },
                {
                    "title": "6 на 6",
                    "href": "#"
                },
                {
                    "title": "5 на 9",
                    "href": "#"
                },
                {
                    "title": "10 на 12",
                    "href": "#"
                },
                {
                    "title": "12 на 14",
                    "href": "#"
                }
            ]
        },
    ] %}

    {# section BEGIN #}
    <section class="section _popular-homes">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section__heading-wr _center">
                        <h2 class="section__heading">Популярные категории проектов домов</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section__content">
                        <div class="section__list _inline _popular">
                            
                            <div class="decor-pen" data-bottom-top="transform:translateY(0px);transform-origin:center;" data-top-bottom="transform: translateY(-150px);" style="transform: translateY(0px); transform-origin: center center 0px;"></div>
                            
                            {% for item in popularHomes %}
                                <div class="nav-block _inline">
                                    <div class="nav-block__title">{{ item.title }}</div>
                                    <ul class="nav-block__list">  
                                        {% for list in item.list %}
                                            <li class="nav-block__item">
                                                <a class="nav-block__link _underline" href="{{ list.href }}">{{ list.title }}</a>
                                            </li>  
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# section END #}


    {# section BEGIN #}
    <section class="section _map">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="section__content">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-6">
                                <div class="section__heading-wr _small">
                                    <h2 class="section__heading _text-left _custom">
                                        <div>С 2015г.<br class="visible-sm-block">  сдано</div>
                                        <div class="color-acsent">274 дома</div>
                                    </h2>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6">
                                <div class="section__content-inner "></div>
                                <p class="section__text _big">Вы можете зайти в карточку каждого из них и увидеть:</p>
                                <ul class="section__list _map _padded">
                                    <li>- фотоотчеты</li>
                                    <li>- график строительства</li>
                                    <li>- документы</li>
                                    <li>- отзывы клиентов</li>
                                </ul>
                                <div class="section__btn-wr visible-md-block-min">
                                    <a href="/houses270.html" class="btn _primary _shadow"><span class="btn__text">Смотреть эти дома</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="section__map">
                         <a class="map-block" href="/houses270.html">
                            <img src="/assets/images/index/map.jpg" alt="карта">
                            <div class="section__btn-wr visible-sm-block visible-xs-block">
                                <a href="#" class="btn _primary _shadow"><span class="btn__text">Смотреть проекты</span></a>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    {# section END #}


    {# section BEGIN #}
    <section class="section _special _white _overlay ">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="section__content">
                        <div class="section__heading-wr _center">
                            <p class="section__heading-under _center">Специальное предложение<br class="visible-xs-block"> от наших партнеров</p>
                            <h2 class="section__heading _bold _custom">Участки со скидками<br class="visible-xs-block"> 5-10% для тех,<br />кто строит<br class="visible-xs-block"> дом с нами</h2>
                        </div>
                        <div class="section__btn-wr _center">
                            <a href="#" class="btn _primary"><span class="btn__text">Смотреть участки</span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    {# section END #}

    {% set indexNav = [{
		"title": [
			"Рассчитайте",
			"стоимость"
		],
		"img": "coast",
		"href": "/calculator.html",
		"layout": "triple"
	},
	{
		"title": [
			"Закажите",
			"индивидуальный",
			"проект"
		],
		"img": "project",
		"href": "#",
		"layout": "triple"
	},
	{
		"title": [
			"Посмотрите каталог",
			"проектов"
		],
		"img": "catalog",
		"href": "#",
		"layout": "triple"
	},
	{
		"title": [
			"Познакомьтесь с компанией",
			"и командой"
		],
		"img": "command",
		"href": "#",
		"layout": "full"
	},
	{
		"title": [
			"Колонка директора"
		],
		"img": "director",
		"href": "#",
		"layout": "double"
	},
	{
		"title": [
			"Заметки инженера"
		],
		"img": "enginer",
		"href": "#",
		"layout": "double"
	}

] %}


    {# section BEGIN #}
    <section class="section _nav">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section__heading-wr _center">
                        <h2 class="section__heading">Популярные категории проектов домов</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section__content">
                        <div class="row">

                            {% for nav in indexNav %}    
                                <div class="{% if nav.layout == 'full' %}col-md-12 col-sm-6{% endif %}{% if nav.layout == 'double' %}col-md-6 col-sm-6{% endif %}{% if nav.layout == 'triple' %}col-md-4 col-sm-6{% endif %}">
                                    <a href="{{ nav.href }}" class="materials-item _nav{% if nav.layout == 'triple' %} _small{% endif %}{% if nav.layout == 'double' %} _medium{% endif %}{% if nav.layout == 'full' %} _big _small-md{% endif %}" style="background-image: url('/assets/images/index/nav/nav-{{ loop.index }}.jpg')">
                                        <div class="materials-item__label _bottom">
                                            <div class="materials-item__label-heading">
                                                {% for line in nav.title %}
                                                    <span class="{% if loop.first %}materials-item__label-decor{% endif %}">{{ line }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# section END #}

    {# section BEGIN #}
        {% include '../partials/already-seen.twig' %}
    {# section END #}
 
{% endblock %}

{% block footer %}
    {% include '../common/footer.twig' %}
{% endblock %}
