{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' with { "headerParams": { "sticky": "true", "page": "sub" }} %}
{% endblock %}

{% block content %}
    {{ mixins.breadcrumbs([
        {  
            "title": "Главная",
            "path": "/",
        },
        {  
            "title": "Каталог проектов",
            "path": "/projects-catalog",
        },
        {  
            "title": "Одноэтажные",
            "path": "/projects-catalog",
        },
        {  
            "title": "Название проекта"
        }
    ]) }}
    
    <section class="section">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <div class="section__heading-wr">
                        <h1 class="section__heading _big _text-left">Название проекта</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <div class="project-item">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="section__content">
                                    <div class="section__slider">
                                        <div class="slider _dots-in _project" id="slider-project">
                                            {% for i in 1..4 %}
                                                <div class="slider__slide _projects">
                                                    <div class="project-item__info  _acsent">
                                                        {{ svg.icon({ name: 'clock', mod: 'project-item__info-icon' }) }}
                                                        <span>
                                                            Будет готов<br>
                                                            за 4 месяца
                                                        </span>
                                                    </div>
                                                    <div class="project-item__info _right _align-t">
                                                        {{ svg.icon({ name: 'rub', mod: 'project-item__info-icon' }) }}
                                                        <div>
                                                            <div class="section__text _acsent">
                                                                В кредит<br>
                                                                от 26 400 р./мес*
                                                            </div>
                                                            <a href="#more" class="section__link _small _underline">Подробнее</a>
                                                        </div>
                                                    </div>
                                                    <div class="slider__slide-img _project" style="background-image: url('/assets/images/blog/popular.jpg')"></div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <div class="slider-nav" id="slider-project-nav">
                                            <div class="slider__slide _nav">
                                                <div class="slider-nav__thumbnails" style="background-image: url('/assets/images/blog/popular.jpg')"></div>
                                            </div>
                                            <div class="slider__slide _nav">
                                                <div class="slider-nav__thumbnails" style="background-image: url('/assets/images/blog/popular.jpg')"></div>
                                            </div>
                                            <div class="slider__slide _nav">
                                                <div class="slider-nav__thumbnails" style="background-image: url('/assets/images/blog/popular.jpg')">
                                                    {{ svg.icon({ name: 'view3d', mod: 'slider-nav__icon' }) }}
                                                </div>
                                            </div>
                                            <div class="slider__slide _nav">
                                                <div class="slider-nav__thumbnails" style="background-image: url('/assets/images/blog/popular.jpg')">
                                                    {{ svg.icon({ name: 'play', mod: 'slider-nav__icon' }) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="section__heading-under _bold">Преимущества проекта К 164:</h4>

                                    {% set projectInfo = [
                                     { text: 'комфорт в использовании помещений на одном уровне исключает необходимость переходить 
                                     в этажа на этаж;' },   
                                     { text: 'открытая кухня зрительно увеличивает пространство дневной зоны;' },   
                                     { text: 'вместительная кладовая с входом из кухни очень удобна для хранения кухонного инвентяря 
                                     и запасов;' },   
                                     { text: 'крытая терасса;' },   
                                     { text: 'гараж на два автомобиля.' },   
                                     { text: 'крытая терасса;' },   
                                     { text: 'гараж на два автомобиля.' },   
                                     { text: 'открытая кухня зрительно увеличивает пространство дневной зоны;' },   
                                     { text: 'вместительная кладовая с входом из кухни очень удобна для хранения кухонного инвентяря 
                                     и запасов;' }
                                    ]%}

                                    <ul class="section__list _dotted pl-20">
                                        {% for item in projectInfo %}                                            
                                            <li>
                                                <p class="section__text _small">{{ item.text }}</p>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>

                            {% set servicesList = {
                                line: [
                                    {
                                        name: 'Общая площадь',
                                        value: '152кв.м.',
                                    },
                                    {
                                        name: 'Жилая площадь',
                                        value: '126 кв.м.',
                                    },
                                    {
                                        name: 'Min участок',
                                        value: '6X4',
                                    },
                                    
                                ],
                                icons: [
                                    {
                                        name: 'bed',
                                        text: 'спальни',
                                        number: '3',
                                    },
                                    {
                                        name: 'bath',
                                        text: 'ванна',
                                        number: '1',
                                    },
                                    {
                                        name: 'libra',
                                        text: 'к сравнению',
                                        number: false,
                                        link: '#compare',
                                    },
                                ],
                                coast: '4,3 млн.р.'
                            } %}

                            <div class="col-md-4">
                                <div class="section__content _m-small _grey">
                                    <div class="section__inner">
                                        <div class="section__list">
                                            <ul class="project-item-service__list _item-flex mb-30">

                                                {% for item in servicesList.line %}
                                                    <li>
                                                        <span>{{ item.name }}</span>
                                                        <span class="acsent-color">{{ item.value }}</span>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                            <ul class="project-item-service__list _horizontal">

                                                {% for item in servicesList.icons %}
                                                    <li>
                                                        {% if item.number != false %}
                                                        <span class="project-item-service__number">{{ item.number }}</span>
                                                        {% endif %}                                                        

                                                        <div class="center">
                                                            {{ svg.icon({ name: item.name, mod: 'project-item-service__icon' }) }}
                                                            {% if not item.link %}
                                                                <span class="project-item-service__descr">{{ item.text }}</span>
                                                            {% else %}
                                                                <a class="project-item-service__descr _underline" href="{{ item.link }}">{{ item.text }}</a>
                                                            {% endif %}
                                                        </div>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="section__content _m-small">
                                    <div class="section__inner _paddet-h _flex">
                                        <div class="section__inner _no-padding _nowrap">
                                            <div class="section__text _medium-big">
                                                Без предоплаты.<br>
                                                Возможны рассрочка и кредит
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="section__content _m-small _border">
                                    <div class="section__inner">

                                        <div class="section__tabs mb-40">
                                            <div class="tab _decored _single">
                                                <ul class="tab__nav hidden-xs mb-30" id="myTab" role="tablist">
                                                    <li class="tab__nav-item active">
                                                        <a class="tab__nav-link" id="roof-tab" data-toggle="tab" href="#roof" role="tab" aria-controls="roof" aria-selected="true" aria-expanded="true">Под крышу</a>
                                                    </li>
                                                    <li class="tab__nav-item">
                                                        <a class="tab__nav-link" id="key-tab" data-toggle="tab" href="#key" role="tab" aria-controls="key" aria-selected="false" aria-expanded="false">Под ключ</a>
                                                    </li>
                                                </ul>

                                                {% set projectList = [
                                                    { title: 'Брус', coast: 'от 500 000 е'},
                                                    { title: 'Клееный брус', coast: 'от 650 000 е' },
                                                    { title: 'Кирпич', coast: 'от 286 000 е' },
                                                    { title: 'Газобетон', coast: 'от 129 599 е' },
                                                    { title: 'Керамзитобетон', coast: 'от 1 200 009 е' },
                                                    { title: 'Силикатные блоки', coast: 'от 908 558 е' },
                                                    { title: 'SIP-панели', coast: 'от 999 999 е' },
                                                    { title: 'Оцилиндровка', coast: 'от 230 888 е' },
                                                ] %}
                

                                                {% set projectList2 = [
                                                    { title: 'Клееный брус', coast: 'от 500 000 е'},
                                                    { title: 'Брус', coast: 'от 650 000 е' },
                                                    { title: 'Кирпич', coast: 'от 286 000 е' },
                                                    { title: 'Газобетон', coast: 'от 129 599 е' },
                                                    { title: 'Керамзитобетон', coast: 'от 1 200 009 е' },
                                                    { title: 'Силикатные блоки', coast: 'от 908 558 е' },
                                                    { title: 'SIP-панели', coast: 'от 999 999 е' },
                                                    { title: 'Оцилиндровка', coast: 'от 230 888 е' },
                                                ] %}
                
                                                <div class="tab-content" id="myTabContent">
                                                    <div class="tab-pane active show" id="roof" role="tabpanel" aria-labelledby="roof-tab">
                                                        <div>
                                                            <div class="section__content">
                                                                <ul class="section__list">
                                                                    {% for item in projectList %}
                                                                        <li>
                                                                            <div class="block-line _flex _sb mb-10">
                                                                                <span class="">{{ item.title }}</span>
                                                                                <span class="color-acsent">{{ item.coast }}</span>
                                                                            </div>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="key" role="tabpanel" aria-labelledby="key-tab">
                                                        <div>
                                                            <div class="section__content">
                                                                <ul class="section__list">
                                                                    {% for item in projectList2 %}
                                                                        <li>
                                                                            <div class="block-line _flex _sb mb-10">
                                                                                <span>{{ item.title }}</span>
                                                                                <span class="color-acsent">{{ item.coast }}</span>
                                                                            </div>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn__wr _margin">
                                            <button class="btn _primary _shadow _full">
                                                <span class="btn__text">Скачать проект</span>
                                            </button>  
                                        </div>
                                        
                                        <div class="btn__wr _margin">
                                            <button class="btn _primary _shadow _full">
                                                <span class="btn__text">Рассчитать стоимость</span>
                                            </button>  
                                        </div>

                                        <div class="row">
                                            <p class="section__text _center _xs">Цены указаны при 100% соответствии проекту</p>
                                            <p class="section__text _center _xs">
                                                * Кредит рассчитан по программе АО “Альфа-Банк” (Генеральная лицензия Банка России № 1326 от 16 января 2015). Сумма кредита от 300 000 до 3 000 000 рублей. Без первоначального взноса. Срок кредитования до 7 лет. Ставка по кредиту 15,5% годовых. Расчет ориентировочный и не является окончательным. Не является офертой.
                                                <a class="section__link _underline _acsent" href="#more">Узнать подробнее.</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">

                </div>
            </div>

        </div>
    </section>

    {% set Slider1 = [
        {
            "href": "#",
            "img": "slide-1.jpg",
            "text": "Акт выполненных скрытых работ по фундаменту"
        },
        {
            "href": "#",
            "img": "slide-2.jpg",
            "text": "Завезли кирпич для возведения стен"
        },
        {
            "href": "#",
            "img": "slide-3.jpg",
            "text": "Разметили сетку под стены"
        },
        {
            "href": "#",
            "img": "slide-2.jpg",
            "text": "Разметили сетку под стены"
        }
    ] %}


    {% set dataTab = [
        { title: 'Галерея' },
        { title: 'Комплектации' },
        { title: 'Планировки' },
        { title: 'С нами спокойно' },
    ] %}

    <section class="section pt-0">
        <div class="container">
            
            <div class="row">
                <div class="col-xs-12">
                    <div class="section__heading-wr">
                        <h3 class="section__subtitle _bold _left">Как идет строительство:</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="section__content">
                        <div class="tab _decored">

                            <ul class="tab__nav _flex" id="myTab" role="tablist">
                                {% for tab in dataTab %}
                                    <li class="tab__nav-item {% if loop.first %} active{% endif %}">
                                        <a class="tab__nav-link" id="tab_{{ loop.index }}" data-toggle="tab" href="#tab_content_{{ loop.index }}" role="tab" aria-controls="tab_{{ loop.index }}" aria-selected="true">{{ tab.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane show active" id="tab_content_1" role="tabpanel" aria-labelledby="tab_1">
                                    <div>
                                            
                                        <!-- Gallery here -->

                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab_content_2" role="tabpanel" aria-labelledby="tab_2">
                                    <div>
                                        
                                        {% set dataTabSub = [
                                            { title: 'Пеноблоки' },
                                            { title: 'Кирпич' },
                                            { title: 'Газобетон' },
                                            { title: 'Каркасный' },
                                            { title: 'Фахверк' },
                                        ] %}

                                        <div class="sction__content">
                                            <div class="tab _simple">
                                                <ul class="tab__nav _flex" id="myTab" role="tablist">
                                                    {% for tab in dataTabSub %}
                                                        <li class="tab__nav-item _under">
                                                            <a class="tab__nav-link _big" id="tab_{{ loop.index + 10 }}" data-toggle="tab" href="#tab_content_{{ loop.index + 10 }}" role="tab" aria-controls="tab_{{ loop.index + 10 }}" aria-selected="true">{{ tab.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>

                                                <div class="tab-content" id="myTabContent">
                                                    {% for tab in dataTabSub %}
                                                        <div class="tab-pane fade" id="tab_content_{{ loop.index + 10 }}" role="tabpanel" aria-labelledby="tab_{{ loop.index + 10 }}">
                                                            <div>
                                                                <div class="section__heading-wr _small">
                                                                    <h4 class="section__heading _small _text-left">Фундамент</h4>
                                                                </div>

                                                                <div class="flex-row mb-40">
                                                                    <div class="col-md-6">
                                                                        <div class="section__content _flex _column">
                                                                            <div class="section__heading-under _bold">Свайно-винтовой</div>
                                                                            <ul class="section__list _dotted">
                                                                                <li><p>ВС-108/300/2500мм, ТУ 5260-001-84045723-2011</p></li>
                                                                                <li><p>Сваи закручиваются с использованием спецтехники</p></li>
                                                                                <li><p>Толщина стенки сваи 4 мм, толщина лопасти 5 мм</p></li>
                                                                                <li><p>Внутри сваи заполняются бетонной смесью М300</p></li>
                                                                                <li><p>Сваривается металлический оголовок, 200*200 мм</p></li>
                                                                                <li><p>Свая покрыта 2-х компонентным заводским защитным составом</p></li>
                                                                            </ul>
                                                                            <div class="section__image mt-a mb-0">
                                                                                <img src="/assets/images/project-map/picking/pile.jpg" alt="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="section__content _flex _column">
                                                                            <div class="section__heading-under _bold">Ленточный</div>
                                                                            <ul class="section__list _dotted">
                                                                                <li><p>Высота цоколя 600 мм, ширина ленты 300 мм</p></li>
                                                                                <li><p>Песчаная подушка: 300 мм</p></li>
                                                                                <li><p>Высокопрочная арматура d12 мм класса АIII</p></li>
                                                                                <li><p>Бетон заводского изготовления, марки М300 (B22,5)</p></li>
                                                                            </ul>
                                                                            <div class="section__image mt-a mb-0">
                                                                                <img src="/assets/images/project-map/picking/tape.jpg" alt="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="section__heading-wr _small">
                                                                    <h4 class="section__heading _small _text-left">Силовой каркас</h4>
                                                                </div>

                                                                <div class="row mb-40">
                                                                    <div class="col-md-6">
                                                                        <div class="section__content">
                                                                            <div class="section__heading-under _bold">Цокольные и межэтажные перекрытия</div>
                                                                            <ul class="section__list _dotted">
                                                                                <li><p>Лаги цокольного перекрытия усиленные, изготавливаются из доски 50*200 мм, с шагом не более 580 мм</p></li>
                                                                                <li><p>Лаги межэтажного перекрытия усиленные, изготавливаются из строганной доски камерной сушки 1 сорта 50*200 мм (14-18% влажность), с шагом не более 580 мм</p></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="section__content">
                                                                            <div class="section__heading-under _bold">Наружные и внутренние несущие стены</div>
                                                                            <ul class="section__list _dotted">
                                                                                <li><p>Обвязка каркаса: брус 150*150 мм</p></li>
                                                                                <li><p>Вертикальные стойки из строганной доски камерной сушки (14-18% влажность), 1 сорта, 150*50 мм</p></li>
                                                                                <li><p>Шаг стоек не более 580 мм, с использованием усиленной крепежной системы и дополнительной защитой каркаса от «мостиков холода»</p></li>
                                                                                <li><p>Для защиты каркаса: внешняя сторона — четырехслойная диффузионная мембрана, внутренняя сторона трёхслойная полиэтиленовая плёнка</p></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row mb-40">
                                                                    <div class="col-md-6">
                                                                        <div class="section__content">
                                                                            <div class="section__heading-under _bold">Межкомнатные перегородки</div>
                                                                            <ul class="section__list _dotted">
                                                                                <li><p>Вертикальные стойки из строганной доски камерной сушки (14-18% влажность), 1 сорта, 100*50 мм.</p></li>
                                                                                <li><p>С обеих сторон стойки каркаса монтируются паропроницаемой мембраной Изоспан.</p></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="section__content">
                                                                            <div class="section__heading-under _bold">Внутренние несущие стены и перегородки</div>
                                                                            <ul class="section__list _dotted">
                                                                                <li><p>Усиленная стропильная система из доски 200*50 мм, 1 сорта, с шагом 580 мм.</p></li>
                                                                                <li><p>Для защиты кровельной системы: внешняя сторона — четырехслойная диффузионная мембрана, внутренняя сторона —  трёхслойная полиэтиленовая плёнка.</p></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row mb-40">
                                                                    <div class="col-md-6 col-md-offset-3">
                                                                        <img src="/assets/images/project-map/picking/ceil.jpg" alt="">
                                                                    </div>
                                                                </div>

                                                                <div class="divider"></div>

                                                                <div class="row mb-40">
                                                                    <div class="col-xs-12">
                                                                        <div class="section__heading-wr _small">
                                                                            <h4 class="section__heading _small _text-left">Теплоизоляция из экологически чистого плитного базальтового утеплителя ROCKWOOL ЛАЙТ БАТТС или Paroc EXTRA</h4>
                                                                        </div>
                                                                        <div class="section__content">
                                                                            <ul class="section__list _dotted">
                                                                                <li><p>Наружные стены —  в 3 слоя (150 мм).</p></li>
                                                                                <li><p>Межкомнатные перегородки — в 2 слоя (100 мм)</p></li>
                                                                                <li><p>Межэтажные перекрытия — в 2 слоя (100 мм)</p></li>
                                                                                <li><p>Чердачное перекрытие (потолок второго этажа) — в 3 слоя (150 мм)</p></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="divider"></div>

                                                                <div class="row mb-40">
                                                                    <div class="col-xs-12">
                                                                        <div class="section__heading-wr _small">
                                                                            <h4 class="section__heading _small _text-left">Кровля — металлочерепица</h4>
                                                                        </div>
                                                                        <div class="section__content">
                                                                            <ul class="section__list _dotted">
                                                                                <li><p>Покрытие: полиэстер, с гарантией качества 15 лет</p></li>
                                                                                <li><p>Первый класс цинкования – 275 г/кв.м</p></li>
                                                                                <li><p>Толщина стали: 0,5 мм</p></li>
                                                                                <li><p>Цвета в ассортименте</p></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row mb-40">
                                                                    <div class="col-xs-12">
                                                                        <img src="/assets/images/project-map/picking/roof.jpg" alt="">
                                                                    </div>
                                                                </div>

                                                                <div class="divider"></div>

                                                                <div class="row mb-40">
                                                                    <div class="col-xs-12">
                                                                        <div class="section__heading-wr _small">
                                                                            <h4 class="section__heading _small _text-left">Наружная отделка фасада</h4>
                                                                        </div>
                                                                        <div class="section__content">
                                                                            <ul class="section__list _dotted">
                                                                                <li><p>Влагостойкая плита OSB-3, 2500*1250*9 мм (Egger/Kalevala, класс Е1)</p></li>
                                                                                <li><p>Вентилируемый фасад: контробрешетка из бруса 35*35 мм</p></li>
                                                                                <li><p>Монтируются крашеные оцинкованные отливы на цоколь по наружному периметру</p></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="divider"></div>

                                                                <div class="row mb-40">
                                                                    <div class="col-xs-12">
                                                                        <div class="section__heading-wr _small">
                                                                            <h4 class="section__heading _small _text-left">Внутренняя отделка стен</h4>
                                                                        </div>
                                                                        <div class="section__content">
                                                                            <ul class="section__list _dotted">
                                                                                <li><p>Влагостойкая плита OSB-3, 2500*1250*9 мм</p></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="divider"></div>

                                                                <div class="row mb-40">
                                                                    <div class="col-xs-12">
                                                                        <div class="section__heading-wr _small">
                                                                            <h4 class="section__heading _small _text-left">Окна</h4>
                                                                        </div>
                                                                        <div class="section__content">
                                                                            <ul class="section__list _dotted">
                                                                                <li><p>Оконные конструкции ПВХ REHAU SIB-Design, стандартных размеров</p></li>
                                                                                <li><p>Толщина профиля 70мм</p></li>
                                                                                <li><p>2-х камерный стеклопакет (3 стекла), 5-ти камерный профиль (цвет белый), противомоскитные сетки</p></li>
                                                                                <li><p>Фурнитура: ROTO NT</p></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <div class="section__content _padded _bg" style="background-image: url('/assets/images/project-map/picking/form-bg.jpg')">
                                                                            <div class="section__heading-wr">
                                                                                <div class="section__heading-under mb-0 _center">Выше указаны типовые комплектации</div>
                                                                                <div class="section__heading _small _bold">Мы всегда можем изменить их под ваш бюджет и пожелания</div>
                                                                            </div>
                                                                            <div class="row">
                                                
                                                                                <div class="col-md-5">
                                                                                    <div class="section__text _bold mb-30">
                                                                                        Давайте рассчитаем, на какую комплектацию<br>
                                                                                        вы можете рассчитывать с вашим бюджетом?
                                                                                    </div>

                                                                                    <div class="section__content _center">
                                                                                        <div class="block-line _flex _inline _text-left">
                                                                                            <img src="/assets/images/houses270/manager-laptop.jpg" class="mr-20" alt="Менеджер">
                                                                                            <div class="section__content">
                                                                                                <div class="section__text _small">
                                                                                                    <strong>Вам отвечу я:</strong><br> 
                                                                                                    <br>
                                                                                                    <strong>Перелыгина Юлия,</strong><br>
                                                                                                    менеджер службы<br> 
                                                                                                    заботы о клиентах
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>   
                                                                                </div>
                                                
                                                                                <div class="col-md-4 col-md-offset-1">
                                                                                    <div class="section__form _no-padding">
                                                                                        <form class="js-static-form form _no-bg">
                                                                                            <div class="form__content-wr">
                                                                                                <div class="form__group">
                                                                                                    <div class="section__text _bold _small mb-20">На какую сумму рассчитываете?</div>
                                                        
                                                                                                    <div class="slider-range _form _left">
                                                                                                        <div class="slider-range__wr">
                                                                                                            <div class="slider-range__ui" id="slider-range"></div>
                                                                                                            <div class="slider-range__descr">
                                                                                                                <input class="slider-range__out _left" name="min" type="text" id="amount-min" readonly>
                                                                                                                <input class="slider-range__out _right" name="max" type="text" id="amount-max" readonly>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>

                                                                                                <div class="form__group mb-20 _title-left">
                                                                                                    {{ form.input({title: 'Как с вами связаться?', name: 'phone', inputMod: 'js-form-phone', placeholder: "+7 (___) ___-__-__"}) }}
                                                                                                </div>
                                                
                                                
                                                                                                <div class="form__group _title-left">
                                                                                                    <label class="form-input ">
                                                                                                        <span class="form-input__title">Куда отправить комплектации?</span>
                                                                                                    </label>
                                                                                                    <div class="tab _decored _form">
                                                                                                        <ul class="tab__nav _flex" id="myTab" role="tablist">
                                                                                                            <li class="tab__nav-item active">
                                                                                                                <a class="tab__nav-link" id="tab_mail" data-toggle="tab" href="#tab_content_mail" role="tab" aria-controls="tab_mail" aria-selected="true">E-mail</a>
                                                                                                            </li>
                                                                                                            <li class="tab__nav-item">
                                                                                                                <a class="tab__nav-link" id="tab_vk" data-toggle="tab" href="#tab_content_vk" role="tab" aria-controls="tab_vk" aria-selected="true">ВКонтакте</a>
                                                                                                            </li>
                                                                                                            <li class="tab__nav-item">
                                                                                                                <a class="tab__nav-link" id="tab_fb" data-toggle="tab" href="#tab_content_fb" role="tab" aria-controls="tab_fb" aria-selected="true">Facebook</a>
                                                                                                            </li>
                                                                                                        </ul>
                                                                            
                                                                                                        <div class="tab-content" id="myTabContent">
                                                                                                            <div class="tab-pane show active" id="tab_content_mail" role="tabpanel" aria-labelledby="tab_mail">
                                                                                                                {{ form.input({ name: 'email', inputMod: 'js-form-email', type: "email", placeholder: 'yourmail@gmail.com'}) }}
                                                                                                            </div>
                                                                                                            <div class="tab-pane fade" id="tab_content_vk" role="tabpanel" aria-labelledby="tab_vk">
                                                                                                                {{ form.input({ name: 'vk', type: "text", placeholder: 'vk'}) }}
                                                                                                            </div>
                                                                                                            <div class="tab-pane fade" id="tab_content_fb" role="tabpanel" aria-labelledby="tab_fb">
                                                                                                                {{ form.input({ name: 'facebook', type: "text", placeholder: 'facebook'}) }}
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                
                                                                                                <div class="form__submit">
                                                                                                    <button type="submit" class="btn btn-submit-js">
                                                                                                        <span class="btn__text">Да, рассчитайте</span>
                                                                                                    </button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                
                                                                                <div class="col-xs-12">                                                
                                                                                    <div class="form__info _center">
                                                                                        Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь<br>
                                                                                        с <a href="/politic/">Политикой конфиденциальности</a>
                                                                                    </div>
                                                                                </div>
                                                
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab_content_3" role="tabpanel" aria-labelledby="tab_3">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="section__heading-under _center _bold">1-этаж</div>
                                                <div class="section__image _block">
                                                    <img src="/assets/images/project-map/project/project-plan-1.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="section__heading-under _center _bold">2-этаж</div>
                                                <div class="section__image _block">
                                                    <img src="/assets/images/project-map/project/project-plan-2.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab_content_4" role="tabpanel" aria-labelledby="tab_4">
                                    <div>
                                        <div class="section__heading-wr _small">
                                            <h2 class="section__heading _second">ГАРАНТИИ</h2>
                                        </div>  
    
                                        <div class="row mb-50">
                                            <div class="col-sm-4 mb-20-sm">
                                                <p class="section__text _big">С момента подписания договора <strong>вы знаете дату</strong>, когда ваш дом будет готов на 100%</p>
                                            </div>
                                            <div class="col-sm-4 mb-20-sm">
                                                <p class="section__text _big">
                                                    <strong>Пожизненная гарантия</strong><br>
                                                    на фундамент и «коробку»:<br>
                                                    к нам смогут обращаться ваши дети и внуки
                                                </p>
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="section__text _big">Гарантия до <strong>50 лет</strong> на отдельные части дома</p>
                                            </div>
                                            <div class="col-xs-12 mt-30">
                                                <div class="block-line _bottom">
                                                    {{ svg.icon({ name: 'docs', mod: 'icon-svg_documents'  }) }}
                                                    <a class="section__link _underline _big" href="#dogovor">
                                                        Смотреть<br>
                                                        типовой договор
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="section__heading-wr _small">
                                            <h2 class="section__heading _second">ПРОЗРАЧНОСТЬ</h2>
                                        </div>  
    
                                        <div class="flex-row mb-50 mb-0-sm">
                                            <div class="col-md-7 col-flex _column mb-20">
                                                <div class="section__text-wr mb-20">
                                                    <p class="section__text _big">
                                                        Окончательная смета в момент подписания договора.
                                                        <strong>Стоимость строительства не увеличится ни на копейку!</strong>
                                                    </p>
                                                </div>
                                                <div class="block-line _bottom">
                                                    {{ svg.icon({ name: 'docs', mod: 'icon-svg_documents'  }) }}
                                                    <a class="section__link _underline _big" href="#dogovor">
                                                        Смотреть<br>
                                                        пример сметы
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-5 mb-20">
                                                <div class="section__text-wr mb-20">
                                                    <p class="section__text _big">Каждый этап работ (в т.ч. скрытых) сдается вам лично с подписанием акта и заверением его технадзором</p>
                                                </div>
                                                <div>
                                                    <a href="#">{{ svg.icon({ name: 'docs', mod: 'icon-svg_documents'  }) }}</a>
                                                    <a href="#">{{ svg.icon({ name: 'docs', mod: 'icon-svg_documents'  }) }}</a>
                                                    <a href="#">{{ svg.icon({ name: 'docs', mod: 'icon-svg_documents'  }) }}</a>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="row mb-50 mb-0-sm">
                                            <div class="col-md-6">
                                                <div class="section__text-wr mb-20">
                                                    <p class="section__text _big">
                                                        <strong>Еженедельные фото-отчеты</strong><br>
                                                        и общение с персональным менеджером
                                                    </p>
                                                </div>
                                                <div class="section__image">
                                                    <img src="/assets/images/as-we-build/report.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="section__text-wr mb-20">
                                                    <p class="section__text _big">Ход строительства, фото и документы фиксируются в вашем личном кабинете</p>
                                                </div>
                                                <div class="section__image">
                                                    <img src="/assets/images/as-we-build/lk.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="section__heading-wr _small">
                                            <h2 class="section__heading _second">ЗАБОТА</h2>
                                        </div>
                                        
                                        <div class="row mb-50 mb-0-sm">
                                            <div class="col-md-7">
                                                <div class="section__text-wr mb-20">
                                                    <p class="section__text _big">За вашим спокойствием следит служба заботы о клиентах</p>
                                                </div>
                                                <div class="section__image">
                                                    <img src="/assets/images/as-we-build/service.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="section__text-wr mb-20">
                                                    <p class="section__text _big">С момента заключения договора у вас есть персональный менеджер</p>
                                                </div>
                                                <div class="section__image">
                                                    <img src="/assets/images/as-we-build/manager.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="row mb-20">
                                            <div class="col-md-7">
                                                <p class="section__text _big">
                                                    Все решается максимум в течение суток. И ничего не теряется. Вы звоните — мы тут же видим вас в CRM и общаемся предметно.
                                                </p>
                                            </div>
                                        </div>
    
                                        <div class="row mb-50">
                                            <div class="col-md-7 mb-40-md">
                                                <img src="/assets/images/as-we-build/crm.jpg" alt="">
                                                <div class="section__text-wr">
                                                    <p class="section__text _medium">Переписка с менеджером. Вопрос решили за 40 минут</p>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-6">
                                                        <div class="block-line _wrap-xs _top mb-20">
                                                            <img class="mr-10 mb-10-sm" src="/assets/images/as-we-build/pay.jpg" alt="">
                                                            <p class="section__text">
                                                                Можем организовать<br>
                                                                оплату по этапам<br>
                                                                строительства
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-6">
                                                        <div class="block-line _wrap-xs _top">
                                                            <img class="mr-10 mb-10-sm" src="/assets/images/as-we-build/connect.jpg" alt="">
                                                            <p class="section__text">
                                                                Остаемся с вами<br>
                                                                даже после строительсва:<br>
                                                                мы всегда на связи
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                   
                                        <div class="section__heading-wr _small">
                                            <h2 class="section__heading _second">ПОМОЩЬ ВО ВСЕМ</h2>
                                        </div>
    
                                        {% set helpList = [
                                            { title: ['Подбор и покупка', 'участка'], img: 'help-1.jpg' },
                                            { title: ['Поможем с продажей', 'недвижимости'], img: 'help-2.jpg' },
                                            { title: ['Кредитование,', 'материнский капитал'], img: 'help-3.jpg' },
                                            { title: ['Юридическая помощь по', 'оформлению документов', 'на дом'], img: 'help-4.jpg' },
                                        ] %}
    
                                        <div class="row mb-50">
                                            {% for item in helpList %}
                                                <div class="col-md-3 col-sm-5 mb-30-md">
                                                    <div class="section__text-wr">
                                                        <p class="section__text _medium _custom-height _underline">
                                                            {% for t in item.title %}
                                                                {{ t }}
                                                                {% if not loop.last %}<br>{% endif %}
                                                            {% endfor %}
                                                        </p>
                                                    </div>
                                                    <img src="/assets/images/as-we-build/{{ item.img }}" alt="">
                                                </div>
                                            {% endfor %}
                                        </div>
    
                                        
                                        <div class="section__heading-wr _small">
                                            <h2 class="section__heading _second _custom-sm">А ГЛАВНОЕ, СТРОИМ,<br class="visible-md-block"> КАК ДЛЯ СЕБЯ</h2>
                                        </div>
                                        <p class="section__subtitle _bold _left">
                                            Используем пространство с умом и экономим площадь
                                        </p>
    
                                        {% set docList = [
                                            { text: "можем разместить душевую кабину под лестницей;" },
                                            { text: "спроектируем санузел на 3 кв.м. так, чтобы все поместилось;" },
                                            { text: "выведем окна на нужные стороны;" },
                                            { text: "рассчитаем высоту ступенек так, чтобы было удобно всей семье" },
                                        ] %}
    
                                        <div class="row">
                                            <div class="col-md-4 mb-30-md">
                                                <div class="section__text-wr mb-20">
                                                    <p class="section__text">Например, простор возможен даже на 74 кв.м.:</p>
                                                </div>
                                                <ul class="section__list _padded-left">
                                                    {% for item in docList %}
                                                        <li class="section__list-item">
                                                            <div class="block-line align-start _docs _flex _wrap">
                                                                {{ svg.icon({ name: 'check', mod: 'svg-icon--docs-list' }) }}
                                                                <p class="section__text">{{ item.text }}</p>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="section__slider">
                                                    <div class="slider _build _dots-in" id="slider-build">
                                                        {% for i in 1..4 %}
                                                            <div class="slider__slide _projects">
                                                                <div class="respons-video _full">
                                                                    <div class="respons-video__preview" style="background-image: url(/assets/images/no-image.jpg)">
                                                                        {{ svg.icon({"name": "play", "mod": "respons-video__icon"}) }}
                                                                    </div>
                                                                    <div class="respons-video__iframe-wr" data-src="https://www.youtube.com/embed/oBJ0rUbrLnA">
                                                                        <div class="respons-video__padding"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="slider-nav _dots-acsent visible-sm-block-min" id="slider-build-nav">
                                                    <div class="slider__slide _nav">
                                                        <div class="slider-nav__thumbnails _big" style="background-image: url('/assets/images/no-image.jpg')">
                                                            {{ svg.icon({ name: 'play', mod: 'slider-nav__icon' }) }}
                                                        </div>                                       
                                                    </div>
                                                    <div class="slider__slide _nav">
                                                        <div class="slider-nav__thumbnails _big" style="background-image: url('/assets/images/no-image.jpg')">
                                                            {{ svg.icon({ name: 'play', mod: 'slider-nav__icon' }) }}
                                                        </div>                                                
                                                    </div>
                                                    <div class="slider__slide _nav">
                                                        <div class="slider-nav__thumbnails _big" style="background-image: url('/assets/images/no-image.jpg')">
                                                            {{ svg.icon({ name: 'play', mod: 'slider-nav__icon' }) }}
                                                        </div>
                                                    </div>
                                                    <div class="slider__slide _nav">
                                                        <div class="slider-nav__thumbnails _big" style="background-image: url('/assets/images/no-image.jpg')">
                                                            {{ svg.icon({ name: 'play', mod: 'slider-nav__icon' }) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
   
    {# section BEGIN #}
        {% include '../partials/similar-projects.twig' %}
    {# section END #}

    {# section BEGIN #}
        {% include '../partials/already-seen.twig' %}
    {# section END #}
{% endblock %}

{% block footer %}
    {% include '../common/footer.twig' %}
{% endblock %}
