{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' with { "headerParams": { "sticky": "true", "page": "sub" }} %}
{% endblock %}

{% block content %}
    {{ mixins.breadcrumbs([
        {  
            "title": "Главная",
            "path": "/",
        },
        {  
            "title": "Каталог готовых и строящихся домов",
            "path": "/ready-and-build",
        },
        {  
            "title": "Карточка проекта"
        }
    ]) }}
    
    <section class="section">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <div class="section__heading-wr">
                        <h1 class="section__heading _big _text-left">Название проекта</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <div class="project-item">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="section__content">
                                    <div class="section__slider">
                                        <div class="slider _dots-in _project" id="slider-project">
                                            {% for i in 1..4 %}
                                                <div class="slider__slide _projects">
                                                    <div class="project-item__info  _acsent">
                                                        {{ svg.icon({ name: 'clock', mod: 'project-item__info-icon' }) }}
                                                        <span>
                                                            Будет готов<br>
                                                            за 4 месяца
                                                        </span>
                                                    </div>
                                                    <div class="project-item__info _right _align-t">
                                                        {{ svg.icon({ name: 'rub', mod: 'project-item__info-icon' }) }}
                                                        <div>
                                                            <div class="section__text _acsent">
                                                                В кредит<br>
                                                                от 26 400 р./мес*
                                                            </div>
                                                            <a href="#more" class="section__link _small _underline">Подробнее</a>
                                                        </div>
                                                    </div>
                                                    <div class="slider__slide-img _project" style="background-image: url('/assets/images/blog/popular.jpg')"></div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <div class="slider-nav" id="slider-project-nav">
                                                <div class="slider__slide _nav">
                                                    <div class="slider-nav__thumbnails" style="background-image: url('/assets/images/blog/popular.jpg')"></div>
                                                </div>
                                                <div class="slider__slide _nav">
                                                    <div class="slider-nav__thumbnails" style="background-image: url('/assets/images/blog/popular.jpg')"></div>
                                                </div>
                                                <div class="slider__slide _nav">
                                                    <div class="slider-nav__thumbnails" style="background-image: url('/assets/images/blog/popular.jpg')">
                                                        {{ svg.icon({ name: 'view3d', mod: 'slider-nav__icon' }) }}
                                                    </div>
                                                </div>
                                                <div class="slider__slide _nav">
                                                    <div class="slider-nav__thumbnails" style="background-image: url('/assets/images/blog/popular.jpg')">
                                                        {{ svg.icon({ name: 'play', mod: 'slider-nav__icon' }) }}
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <p class="section__text pr-50">
                                        Очень современный и практичный дом для 5-6 человек и одной машины.<br>
                                        Хранение машины в теплом, пристроенном к дому гараже позволит продлить срок ее эксплуатации. Кроме того, в гараже есть кладовая, где можно хранить разный садовый инвентарь, это же очень удобно! Изюминка дома – огромная спальня на 2 этаже, из которой можно выйти на балкон и полюбоваться на ночное небо…
                                    </p>
                                </div>
                            </div>

                            {% set servicesList = {
                                line: [
                                    {
                                        name: 'Общая площадь',
                                        value: '152кв.м.',
                                    },
                                    {
                                        name: 'Жилая площадь',
                                        value: '126 кв.м.',
                                    },
                                    {
                                        name: 'Участок в черте города',
                                        value: '4 сотки',
                                    },
                                    {
                                        name: 'Электричество',
                                        value: '15 кВт',
                                    },
                                    {
                                        name: 'Водопровод',
                                        value: 'Скважина 50 м',
                                    },
                                    {
                                        name: 'Канализация',
                                        value: 'Топас-5',
                                    },
                                ],
                                icons: [
                                    {
                                        name: 'bed',
                                        text: 'спальни',
                                        number: '3',
                                    },
                                    {
                                        name: 'bath',
                                        text: 'ванна',
                                        number: '1',
                                    },
                                    {
                                        name: 'libra',
                                        text: 'к сравнению',
                                        number: false,
                                        link: '#compare',
                                    },
                                ],
                                coast: '4,3 млн.р.'
                            } %}

                            <div class="col-md-4">
                                <div class="section__content _m-small _grey">
                                    <div class="section__inner">
                                        <div class="section__list">
                                            <ul class="project-item-service__list _item-flex mb-30">

                                                {% for item in servicesList.line %}
                                                    <li>
                                                        <span>{{ item.name }}</span>
                                                        <span class="acsent-color">{{ item.value }}</span>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                            <ul class="project-item-service__list _horizontal">

                                                {% for item in servicesList.icons %}
                                                    <li>
                                                        {% if item.number != false %}
                                                        <span class="project-item-service__number">{{ item.number }}</span>
                                                        {% endif %}                                                        

                                                        <div class="center">
                                                            {{ svg.icon({ name: item.name, mod: 'project-item-service__icon' }) }}
                                                            {% if not item.link %}
                                                                <span class="project-item-service__descr">{{ item.text }}</span>
                                                            {% else %}
                                                                <a class="project-item-service__descr _underline" href="{{ item.link }}">{{ item.text }}</a>
                                                            {% endif %}
                                                        </div>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="section__content _m-small">
                                    <div class="section__inner _paddet-h _flex">
                                        <div class="section__inner _no-padding _nowrap">
                                            <div class="section__text _small">
                                                Стоимость<br>
                                                на этом этапе<br>
                                                без доплат
                                            </div>
                                        </div>
                                        <div class="section__inner _center _no-padding">
                                            <span class="section__text _xl">{{ servicesList.coast }}</span>
                                            <a class="section__link _medium _underline _inherit">Узнать цену готового</a>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="section__content _m-small _grey">
                                    <div class="section__inner _flex">
                                        <form class="js-static-form form _no-bg _p0">
                                            <div class="form__heading _small _light">Запишитесь на просмотр дома</div>
                                            <div class="form__content-wr">
                                                <div class="form__group">
                                                    {{ form.input({title: 'Введите телефон', name: 'phone', inputMod: 'js-form-phone', placeholder: "+7 (___) ___-__-__"}) }}
                                                </div>
                                                <div class="form__submit">
                                                    <button type="submit" class="btn _full btn-submit-js">
                                                        <span class="btn__text">Заказать звонок</span>
                                                    </button>
                                                </div>
                                                <div class="form__info _center">
                                                    Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь<br>
                                                        с <a href="/politic/">Политикой конфиденциальности</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    {% set Slider1 = [
        {
            "href": "#",
            "img": "slide-1.jpg",
            "text": "Акт выполненных скрытых работ по фундаменту"
        },
        {
            "href": "#",
            "img": "slide-2.jpg",
            "text": "Завезли кирпич для возведения стен"
        },
        {
            "href": "#",
            "img": "slide-3.jpg",
            "text": "Разметили сетку под стены"
        },
        {
            "href": "#",
            "img": "slide-2.jpg",
            "text": "Разметили сетку под стены"
        }
    ] %}


    {% set dataTab = [
        { title: '9 апреля 2017' },
        { title: '15 апреля 2017' },
        { title: '21 апреля 2017' },
        { title: '25 апреля 2017' },
        { title: '1 мая 2017' },
        { title: '5 мая 2017' },
    ] %}

    <section class="section pt-0 pb-0">
        <div class="container">
            
            <div class="row">
                <div class="col-xs-12">
                    <div class="section__heading-wr">
                        <h3 class="section__subtitle _bold _left">Как идет строительство:</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="section__content">
                        <div class="tab">

                            <ul class="tab__nav _flex" id="myTab" role="tablist">
                                {% for tab in dataTab %}
                                    <li class="tab__nav-item {% if loop.first %} active{% endif %}">
                                        <a class="tab__nav-link" id="tab_{{ loop.index }}" data-toggle="tab" href="#tab_content_{{ loop.index }}" role="tab" aria-controls="tab_{{ loop.index }}" aria-selected="true">{{ tab.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>

                            <div class="tab-content _contacts" id="myTabContent">
                                {% for num in 1..6 %}
                                    <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="tab_content_{{ num }}" role="tabpanel" aria-labelledby="tab_{{ num }}">
                                        <div>
                                            <div class="slider slider-history">
                                                {% for slide in Slider1 %}
                                                    <div class="slider__slide slide-history">
                                                        <div class="slider__slide-img" style="background-image: url('/assets/images/our-homes/projects/1/history/{{ slide.img }}')"></div>
                                                        <div class="section__text _small">{{ slide.text }}</div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
   
    {# section BEGIN #}
        {% include '../partials/house-plan.twig' %}
    {# section END #}
   
    {# section BEGIN #}
        {% include '../partials/documents.twig' %}
    {# section END #}
   
    {# section BEGIN #}
        {% include '../partials/ipoteca.twig' %}
    {# section END #}
   
    {# section BEGIN #}
        {% include '../partials/call-us.twig' %}
    {# section END #}

    {# section BEGIN #}
    <section class="section pb-0">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section__heading-wr _small">
                        <h2 class="section__heading _small _text-left">Расположен в поселке НАЗВАНИЕ</h2>
                    </div>
                </div>
            </div>

           <!-- <div class="row">                
                <div class="col-xs-12">
                    <div class="section__content">
                        <div class="section__content _grey">    
                            <div class="section__image _button-abs">
                                <img src="/assets/images/our-homes/map.jpg" alt="карта">  
                                <button class="btn _primary _shadow">
                                    <span class="btn__text">Больше о посеке</span>
                                </button>             
                            </div>                  
                        </div>
                    </div>
                </div>
            </div> -->            
        </div>

        <div id="simple-map"></div>
    </section>
    {# section END #}

   
    {# section BEGIN #}
        {% include '../partials/similar-projects.twig' %}
    {# section END #}


    <section class="section _socials">
        <div class="container">

            <div class="row">
                <div class="col-xs-8 col-sm-8 col-sm-offset-2 col-xs-offset-2 visible-md-block-max">
                    <div class="section__content-wr mb-0">
                        <div class="section__heading-wr _small">
                            <h2 class="section__heading _small">Запишитесь на просмотр готового дома</h2>
                        </div>
                        <div class="section__heading-wr">
                            <div class="section__text _center">Выберите, где вам удобнее записаться</div>
                        </div>
                        <div class="section__content">
                            <div class="section__content-inner">
                                <div class="block-line _flex _sb">
                                    <div class="block-line__left">
                                        <div class="section__text mb-20">Соц. сети:</div>
                                        {% include '../partials/socials.twig' with { size: "big"} %}
                                    </div>
                                    <div class="block-line__right">
                                        <div class="section__text mb-20">или мессенджер:</div>
                                        {% include '../partials/socials.twig' with { params: socials.messenger, size: "big" } %}
                                    </div>
                                </div>
                            </div>
                            <div class="section__content-inner">
                                <div class="section__content _center">
                                    <div class="block-line _flex _inline _text-left">
                                        <img src="/assets/images/houses270/manager-laptop.jpg" class="mr-20" alt="Менеджер">
                                        <div class="section__content">
                                            <div class="section__text _small">
                                                <strong>Я отвечу вам,<br> 
                                                и подберем дом для показа</strong><br>
                                                <br>
                                                <strong>Имя Фамилия,</strong><br>
                                                менеджер службы заботы<br> 
                                                о клиентах
                                            </div>
                                        </div>
                                    </div>
                                </div>                     
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    {# section BEGIN #}
        {% include '../partials/already-seen.twig' %}
    {# section END #}
{% endblock %}

{% block footer %}
    {% include '../common/footer.twig' %}
{% endblock %}
