{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' with { "headerParams": { "sticky": "true", "page": "sub" }} %}
{% endblock %}

{% block content %}
    {{ mixins.breadcrumbs([
        {  
            "title": "Главная",
            "path": "/",
        },
        {  
            "title": "Каталог проектов"
        }
    ]) }}
    
    <section class="section">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section__heading-wr">
                        <h1 class="section__heading _big _text-left">Проекты домов</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class=" col-sm-6 col-sm-offset-3 col-md-offset-0 col-md-12">
                    <div class="section__content">
                        <div class="advantages _triple">
                            <div class="advantages__list">
                                <div class="advantages__item">
                                    <div class="block-line _at _flex _wrap">
                                        {{ svg.icon({'name': 'home-universal', 'mod': 'advantages__icons'}) }}
                                        <div class="block-line__list">
                                            <span class="section__text _acsent">Универсальные</span>
                                            <span class="section__text _xs">По одному проекту можно строиться из разных строительных материалов</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="advantages__item">
                                    <div class="block-line _at _flex _wrap">
                                        {{ svg.icon({'name': 'home-reliable', 'mod': 'advantages__icons'}) }}
                                        <div class="block-line__list">
                                            <span class="section__text _acsent">100% надежные</span>
                                            <span class="section__text _xs">Проверены временем, нашими клиентами, внутренним и внешним техническим надзором</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="advantages__item">
                                    <div class="block-line _at _flex _wrap">
                                        {{ svg.icon({'name': 'home-simple', 'mod': 'advantages__icons'}) }}
                                        <div class="block-line__list">
                                            <span class="section__text _acsent">Легко изменить</span>
                                            <span class="section__text _xs">Лучше, быстрее и дешевле изменить типовой проект, чем разрабатывать индивидуальный</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    {# section BEGIN #}
    <section class="section">
        <div class="container">

            <div class="flex-row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="section__content _grey" style="height: 100%"></div>
                </div>

                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="filters-nav mb-30 mt-30-md">
                        <div class="filters-nav__inner">
                            <label for="projects-filters">Сортировать по: </label>
                            <select name="projects-filters" id="projects-filters">
                                <option data-filter="default" value="all">всем домам</option>
                                <option data-filter="square" value="squareUp">возрастанию общей площади</option>
                                <option data-filter="square" value="squareDown">убыванию общей площади</option>
                                <option data-filter="material" value="brick">материалу из кирпича</option>
                                <option data-filter="material" value="plaster">материалу из штукатурки</option>
                                <option data-filter="material" value="wood">материалу из дерева</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">

                        {% for num in 1..6 %}
                            <div class="col-md-4 col-sm-6 mb-30">
                                <div class="catalog-project-item">
                                    <div class="catalog-project-item__backface{% if loop.index == 2 %} active{% endif %}">
                                        <div class="catalog-project-item__backface-content">
                                            <div class="btn__wr _center">
                                                <button class="btn _primary _small _shadow">
                                                    <span class="btn__text">Подробнее</span>
                                                </button>
                                            </div>
                                            <div class="catalog-project-item__backface-text">
                                                Большая жилая площадь. Возможен свайный фундамент. Высота потолка 
                                                на мансарде — от 1,6 м.
                                            </div>
                                        </div>             
                                    </div>
                                    <div class="catalog-project-item__image" style="background-image: url(/assets/images/projects-catalog/project-1.jpg)">
                                        <div class="catalog-project-item__special{% if loop.index == 1 %} active{% endif %}">
                                            {{ svg.icon({ name: "shape-special"}) }}
                                            <span class="catalog-project-item__special-title"> 
                                                Лидер<br>
                                                2017
                                            </span>
                                        </div>
                                    </div>
                                    <div class="catalog-project-item__bottom">
                                        <div class="catalog-project-item__line _flex">
                                            <div class="catalog-project-item__title">Проект К-191</div>
                                            <button class="catalog-project-item__compare">
                                                {{ svg.icon({ name: "libra"}) }}
                                            </button>

                                        </div>
                                        <div class="catalog-project-item__line">
                                            <div class="catalog-project-item__square">153 кв.м.</div>
                                        </div>
                                        <div class="catalog-project-item__line _right">
                                            <div class="catalog-project-item__coast">от 2 300 000 р.</div>
                                            <div class="catalog-project-item__coast-sub">от 45 т.р. за 1 кв.м.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                    <div class="section__content _grey _padded-sm mb-30">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="/assets/images/projects-catalog/manager.jpg" alt="">
                                <div class="section__text _xs">
                                    <strong>Нина Курылева,</strong><br>
                                    специалист<br>
                                    по работе с клиентами
                                </div>
                            </div>  
                            <div class="col-md-9">
                                <div class="section__form _contacts">
                                    <div class="section__text _big">
                                        Сложно сориентироваться?
                                    </div>
                                    <div class="section__heading-wr _small">
                                        <div class="section__heading _text-left _bold _small-custom">
                                            Подберу проект под ваш бюджет и желания
                                        </div>
                                    </div>
                                    <form class="js-static-form form _p0">
                                        <div class="form__content-wr">
                                            <div class="row">
                                                <div class="col-md-6">  
                                                    <div class="form__group">
                                                        <div class="section__text _bold _small mb-20">На какую сумму рассчитываете?</div>
            
                                                        <div class="slider-range _form _left">
                                                            <div class="slider-range__wr">
                                                                <div class="slider-range__ui" id="slider-range"></div>
                                                                <div class="slider-range__descr">
                                                                    <input class="slider-range__out _left" name="min" type="text" id="amount-min" readonly>
                                                                    <input class="slider-range__out _right" name="max" type="text" id="amount-max" readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
            
                                                    <div class="form__group">
                                                        <div class="section__text _bold _small mb-20">Какой метраж нужен?</div>
            
                                                        <div class="slider-range _form _left">
                                                            <div class="slider-range__wr">
                                                                <div class="slider-range__ui" id="slider-range-2"></div>
                                                                <div class="slider-range__descr">
                                                                    <input class="slider-range__out _left" name="min" type="text" id="amount-min-2" readonly>
                                                                    <input class="slider-range__out _right" name="max" type="text" id="amount-max-2" readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form__submit">
                                                        <button type="submit" class="btn btn-submit-js">
                                                            <span class="btn__text">Да, подберите</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form__group _title-left mb-10">
                                                        {{ form.input({title: 'Как с вами связаться?', name: 'phone', inputMod: 'js-form-phone', placeholder: "+7 (___) ___-__-__"}) }}
                                                    </div>
                                                    <div class="form__group _title-left">
                                                        <label class="form-input ">
                                                            <span class="form-input__title">Куда отправить будущий проект?</span>
                                                        </label>
                                                        <div class="tab _decored _form">
                                                            <ul class="tab__nav _flex" id="myTab" role="tablist">
                                                                <li class="tab__nav-item active">
                                                                    <a class="tab__nav-link" id="tab_1" data-toggle="tab" href="#tab_content_1" role="tab" aria-controls="tab_1" aria-selected="true">E-mail</a>
                                                                </li>
                                                                <li class="tab__nav-item">
                                                                    <a class="tab__nav-link" id="tab_2" data-toggle="tab" href="#tab_content_2" role="tab" aria-controls="tab_2" aria-selected="true">ВКонтакте</a>
                                                                </li>
                                                                <li class="tab__nav-item">
                                                                    <a class="tab__nav-link" id="tab_3" data-toggle="tab" href="#tab_content_3" role="tab" aria-controls="tab_3" aria-selected="true">Facebook</a>
                                                                </li>
                                                            </ul>
                                
                                                            <div class="tab-content" id="myTabContent">
                                                                <div class="tab-pane show active" id="tab_content_1" role="tabpanel" aria-labelledby="tab_1">
                                                                    {{ form.input({ name: 'email', inputMod: 'js-form-email', type: "email", placeholder: 'yourmail@gmail.com'}) }}
                                                                </div>
                                                                <div class="tab-pane fade" id="tab_content_2" role="tabpanel" aria-labelledby="tab_2">
                                                                    {{ form.input({ name: 'vk', type: "text", placeholder: 'vk'}) }}
                                                                </div>
                                                                <div class="tab-pane fade" id="tab_content_3" role="tabpanel" aria-labelledby="tab_3">
                                                                        {{ form.input({ name: 'facebook', type: "text", placeholder: 'facebook'}) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>    
                                                <div class="col-xs-12">
                                                    <div class="form__info _small">
                                                        Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с <a href="/politic/">Политикой конфиденциальности</a>
                                                    </div>
                                                </div>                        
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="row">
                        {% for num in 1..6 %}
                            <div class="col-md-4 col-sm-6 mb-30">
                                <div class="catalog-project-item">
                                    <div class="catalog-project-item__backface">
                                        <div class="catalog-project-item__backface-content">
                                            <div class="btn__wr _center">
                                                <button class="btn _primary _small _shadow">
                                                    <span class="btn__text">Подробнее</span>
                                                </button>
                                            </div>
                                            <div class="catalog-project-item__backface-text">
                                                Большая жилая площадь. Возможен свайный фундамент. Высота потолка 
                                                на мансарде — от 1,6 м.
                                            </div>
                                        </div>             
                                    </div>
                                    <div class="catalog-project-item__image" style="background-image: url(/assets/images/projects-catalog/project-1.jpg)">
                                        <div class="catalog-project-item__special{% if loop.index == 1 %} active{% endif %}">
                                            {{ svg.icon({ name: "shape-special"}) }}
                                            <span class="catalog-project-item__special-title"> 
                                                -15%
                                            </span>
                                        </div>
                                    </div>
                                    <div class="catalog-project-item__bottom">
                                        <div class="catalog-project-item__line _flex">
                                            <div class="catalog-project-item__title">Проект К-191</div>
                                            <button class="catalog-project-item__compare">
                                                {{ svg.icon({ name: "libra"}) }}
                                            </button>

                                        </div>
                                        <div class="catalog-project-item__line">
                                            <div class="catalog-project-item__square">153 кв.м.</div>
                                        </div>
                                        <div class="catalog-project-item__line _right">
                                            <div class="catalog-project-item__coast">от 2 300 000 р.</div>
                                            <div class="catalog-project-item__coast-sub">от 45 т.р. за 1 кв.м.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
    
                    <section class="section _special _white _overlay mb-30">
                        <div class="row">
            
                            <div class="col-md-12">
                                <div class="section__content pl-50">
                                    <div class="section__heading-wr _small">
                                        <p class="section__heading-under _small">Специальное предложение<br class="visible-xs-block"> от наших партнеров</p>
                                        <h2 class="section__heading _lh-samll _text-left _bold _custom">Участки со скидками<br class="visible-xs-block"> 5-10% для тех,<br />кто строит<br class="visible-xs-block"> дом с нами</h2>
                                    </div>
                                    <div class="section__btn-wr">
                                        <a href="#" class="btn _primary"><span class="btn__text">Смотреть участки</span></a>
                                    </div>
                                </div>
                            </div>
            
                        </div>
                    </section>

                    <div class="row">
                        {% for num in 1..6 %}
                            <div class="col-md-4 col-sm-6 mb-30">
                                <div class="catalog-project-item">
                                    <div class="catalog-project-item__backface">
                                        <div class="catalog-project-item__backface-content">
                                            <div class="btn__wr _center">
                                                <button class="btn _primary _small _shadow">
                                                    <span class="btn__text">Подробнее</span>
                                                </button>
                                            </div>
                                            <div class="catalog-project-item__backface-text">
                                                Большая жилая площадь. Возможен свайный фундамент. Высота потолка 
                                                на мансарде — от 1,6 м.
                                            </div>
                                        </div>             
                                    </div>
                                    <div class="catalog-project-item__image" style="background-image: url(/assets/images/projects-catalog/project-1.jpg)">
                                        <div class="catalog-project-item__special{% if loop.index == 1 %} active{% endif %}">
                                            {{ svg.icon({ name: "shape-special"}) }}
                                            <span class="catalog-project-item__special-title"> 
                                                -15%
                                            </span>
                                        </div>
                                    </div>
                                    <div class="catalog-project-item__bottom">
                                        <div class="catalog-project-item__line _flex">
                                            <div class="catalog-project-item__title">Проект К-191</div>
                                            <button class="catalog-project-item__compare">
                                                {{ svg.icon({ name: "libra"}) }}
                                            </button>

                                        </div>
                                        <div class="catalog-project-item__line">
                                            <div class="catalog-project-item__square">153 кв.м.</div>
                                        </div>
                                        <div class="catalog-project-item__line _right">
                                            <div class="catalog-project-item__coast">от 2 300 000 р.</div>
                                            <div class="catalog-project-item__coast-sub">от 45 т.р. за 1 кв.м.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <section class="section _special _white _overlay mb-30" style="background-image: url(/assets/images/projects-catalog/banner-2.jpg)">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section__content pl-50">
                                    <div class="section__heading-wr _small">
                                        <p class="section__heading-under _small">Полезное из <a href="#" class="_underline">блога</a>:</p>
                                        <h2 class="section__heading _lh-samll _text-left _bold _custom">5 критериев выбора проекта дома</h2>
                                        <p class="section__text _small mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui</p>
                                        <a href="#" class="section__link _underline">Читать статью</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
    
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="article-item">
                                <div class="article-item__content">
                                    <h3 class="article-item__title _medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                                    <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique.</p>
                                </div>
                                <div class="article-item__content">
                                    <h3 class="article-item__title _medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                                    <ul class="article-item__list _decor">
                                        <li>
                                            <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</p>
                                        </li>
                                        <li>
                                            <p class="article-item__text">Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.</p>
                                        </li>
                                        <li>
                                            <p class="article-item__text">Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="article-item__content">
                                    <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis.</p>
                                </div>
                                <div class="article-item__content">
                                    <h3 class="article-item__title _medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                                    <ul class="article-item__list _line mb-50">
                                        <li>
                                            <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</p>
                                        </li>
                                        <li>
                                            <p class="article-item__text">Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.</p>
                                        </li>
                                        <li>
                                            <p class="article-item__text">Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis.</p>
                                        </li>
                                    </ul>
                                    <ul class="article-item__list _num">
                                        <li>
                                            <span class="article-item__list-count">1</span>
                                            <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</p>
                                        </li>
                                        <li>
                                            <span class="article-item__list-count">2</span>
                                            <p class="article-item__text">Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.</p>
                                        </li>
                                        <li>
                                            <span class="article-item__list-count">3</span>
                                            <p class="article-item__text">Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>    
        </div>
    </section>    
    {# section END #}


          
   
    {# section BEGIN #}
        {% include '../partials/already-seen.twig' %}
    {# section END #}
{% endblock %}

{% block footer %}
    {% include '../common/footer.twig' %}
{% endblock %}
