{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' with { "headerParams": { "sticky": "true", "page": "sub" }} %}
{% endblock %}

{% block content %}
    {{ mixins.breadcrumbs([
        {  
            "title": "Главная",
            "path": "/",
        },
        {  
            "title": "Каталог готовых и строящихся домов"
        }
    ]) }}
    
    <section class="section">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section__heading-wr">
                        <h1 class="section__heading _big _text-left">Сейчас мы одновременно строим 56 домов</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class=" col-sm-6 col-sm-offset-3 col-md-offset-0 col-md-12">
                    <div class="section__content">
                        <div class="advantages _triple">
                            <div class="advantages__list">
                                <div class="advantages__item">
                                    <div class="block-line _at _flex _wrap">
                                        {{ svg.icon({'name': 'allin', 'mod': 'advantages__icons'}) }}
                                        <div class="block-line__list">
                                            <span class="section__text _acsent">Все включено</span>
                                            <span class="section__text _xs">Участок, электричество, канализация, отопление, газ, водопровод</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="advantages__item">
                                    <div class="block-line _at _flex _wrap">
                                        {{ svg.icon({'name': 'docs-simple', 'mod': 'advantages__icons'}) }}
                                        <div class="block-line__list">
                                            <span class="section__text _acsent">Полный комплект документов</span>
                                            <span class="section__text _xs">Участок, дом, коммуникации. Вам останется оформить только право собственности</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="advantages__item">
                                    <div class="block-line _at _flex _wrap">
                                        {{ svg.icon({'name': 'guaranty', 'mod': 'advantages__icons'}) }}
                                        <div class="block-line__list">
                                            <span class="section__text _acsent">Пожизненная гарантия</span>
                                            <span class="section__text _xs">К нам смогут обращаться ваши дети и внуки: поможем, если случай гарантийный</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    
    <section class="section _grey _p-small visible-md-block-min">
        <div class="container">

            <div class="row">

                <div class="col-sm-8 col-xs-12">
                    <div class="section__form _contacts">
                        <form class="js-static-form form _fields-inline">
                            <div class="form__heading-wr">
                                <div class="form__heading _big _left">Запишитесь на экскурсию: посмотрите, как мы строим</div>
                            </div>
                            <div class="form__content-wr">
                                <div class="form__group">
                                    {{ form.input({name: 'name', inputMod: 'js-form-name', placeholder: "Впишите Ваше имя"}) }}
                                </div>
                                <div class="form__group">
                                    {{ form.input({name: 'phone', inputMod: 'js-form-phone', placeholder: "+7 (___) ___-__-__"}) }}
                                </div>
                                <div class="form__group">
                                    <button type="submit" class="btn _full btn-submit-js">
                                        <div class="btn__text visible-lg-block-min">Записаться на экскурсию</div>
                                        <div class="btn__text visible-lg-block-max">Записаться</div>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-sm-4 col-xs-12">
                   <div class="section__content">
                       <div class="block-line _flex">
                           <img src="/assets/images/houses270/manager.jpg" class="section__image _abs" alt="Менеджер">
                           <div class="section__content">
                               <div class="section__text _small">Вам твечу я:<br>
                                <br>
                                <strong>Перелыгина Юлия,</strong><br>
                                менеджер<br>
                                службы заботы<br> 
                                о клиентах
                               </div>
                           </div>
                       </div>
                   </div>
                </div>

            </div>

        </div>
    </section>

    <section class="section">
        <div id="app-map"></div>
    </section>

    {# section BEGIN #}
    <section class="section _special _white _overlay ">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="section__content">
                        <div class="section__heading-wr _center">
                            <p class="section__heading-under _center">Специальное предложение<br class="visible-xs-block"> от наших партнеров</p>
                            <h2 class="section__heading _bold _custom">Участки со скидками<br class="visible-xs-block"> 5-10% для тех,<br />кто строит<br class="visible-xs-block"> дом с нами</h2>
                        </div>
                        <div class="section__btn-wr _center">
                            <a href="#" class="btn _primary"><span class="btn__text">Смотреть участки</span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    {# section END #}



    <section class="plan-home visible-lg-block-min">
        <div class="section__heading-wr _plan">
            <h2 class="section__heading">
                В стоимость готовых домов включено все
            </h2>
            <div class="section__subtitle">
                Никаких скрытых платежей и допат
            </div>
        </div>
        <div class="container _plan">
            <ul class="plane-home__nav">
                <li class="plane-home__item">
                    <a class="plane-home__link" href="#" data-mark="plan-home__mark-foundation">Фундамент</a>
                </li>
                <li class="plane-home__item">
                    <a class="plane-home__link" href="#" data-mark="plan-home__mark-wall">Стены</a>
                </li>
                <li class="plane-home__item">
                    <a class="plane-home__link" href="#" data-mark="plan-home__mark-ceiling">Перекрытия</a>
                </li>
                <li class="plane-home__item">
                    <a class="plane-home__link" href="#" data-mark="plan-home__mark-roof">Кровля</a>
                </li>
                <li class="plane-home__item">
                    <a class="plane-home__link" href="#" data-mark="plan-home__mark-window">Окна</a>
                </li>
                <li class="plane-home__item">
                    <a class="plane-home__link" href="#" data-mark="plan-home__mark-gas">Отопление</a>
                </li>
                <li class="plane-home__item">
                    <a class="plane-home__link" href="#" data-mark="plan-home__mark-wall-2">Канализация</a>
                </li>
                <li class="plane-home__item">
                    <a class="plane-home__link" href="#" data-mark="plan-home__mark-water">Водоснабжение</a>
                </li>
                <li class="plane-home__item">
                    <a class="plane-home__link" href="#" data-mark="plan-home__mark-electricity">Электричество</a>
                </li>
                <li class="plane-home__item plane-home__btn"><button class="btn"><span class="btn__text">Скачать полную смету</span></button></li>
            </ul>
            <div class="plan-home__mark plan-home__mark-electricity">
                {{ svg.icon({ name: "zoom" }) }}
                <div class="plan-home__tooltip" data-tooltip="На каждый дом уже подключено 15 Квт энергии"></div>
            </div>
            <div class="plan-home__mark plan-home__mark-roof">
                {{ svg.icon({ name: "zoom" }) }}
                <div class="plan-home__tooltip" data-tooltip="Двухскатная по деревянным стропилам с утеплением базальтовой плитой 200мм, уже с подшитыми свесами и водосточной системой."></div>
            </div>
            <div class="plan-home__mark plan-home__mark-water">
                {{ svg.icon({ name: "zoom" }) }}
                <div class="plan-home__tooltip" data-tooltip="Собственная скважна глубиной от 50 м"></div>
            </div>
            <div class="plan-home__mark plan-home__mark-wall">
                {{ svg.icon({ name: "zoom" }) }}
                <div class="plan-home__tooltip" data-tooltip="Газосиликатные блоки толщиной 375 мм в облицовке декоративной штукатуркой или немецким кирпичом Braer"></div>
            </div>
            <div class="plan-home__mark plan-home__mark-wall-2">
                {{ svg.icon({ name: "zoom" }) }} 
                <div class="plan-home__tooltip" data-tooltip="Автономная канализация ТОПАС-5 расщепляет отходы. В результате остается ил и техническая вода для вторичного использования (полив, мытье машины)"></div>
            </div>
            <div class="plan-home__mark plan-home__mark-gas">
                {{ svg.icon({ name: "zoom" }) }}
                <div class="plan-home__tooltip" data-tooltip="Электрокотёл марки «Протерм» - самое надежное и качественное оборудование, не имеющее аналогов. Регулировать уровень тепла в доме можно даже с мобильного телефона через приложение «Мой дом»."></div>
            </div>
            <div class="plan-home__mark plan-home__mark-window">
                {{ svg.icon({ name: "zoom" }) }}
                <div class="plan-home__tooltip" data-tooltip="Montblanс Nord 70 мм с 5-камерным стеклопакетом"></div>
            </div>
            <div class="plan-home__mark plan-home__mark-foundation">
                {{ svg.icon({ name: "zoom" }) }}
                <div class="plan-home__tooltip" data-tooltip="Бетонные буронабивные сваи на 2,6 метра с ленточным ростверком"></div>
            </div>
            <div class="plan-home__mark plan-home__mark-ceiling">
                {{ svg.icon({ name: "zoom" }) }}
                <div class="plan-home__tooltip" data-tooltip="Деревянная балка 150*200 мм или ж/б перекрытия (выбор клиента)"></div>
            </div>
        </div>
        <img class="plan-home__img" src="/assets/images/our-homes/plan.jpg" alt="план-схема">
    </section>

    {% set docList = [
        { text: "Проводим межевание земельного участка" },
        { text: "Указываем полную сумму в договоре" },
        { text: "Согласуем проектную документацию" },
        { text: "Оформляем разрешение на строительство" },
        { text: "Оформляем договора подряда с подрядчиками и поставщиками материалов" },
        { text: "Оформляем документацию по технике безопасности проведения работ и пожарной безопасности" },
        { text: "Поэтапно принимаем скрытые работы, а так же оформляем промежуточные акты, контролируем качество работ и соответствие проекту" },
        { text: "Оформляем гарантийные обязательства подрядными организациями с подрядными организациями по обслуживанию скважин, септиков, кровли, окон" },
        { text: "Оформляем свидетельство о собственности на дом с адресом, кадастровый паспорт, тех.план на дом." },
        { text: "Встречаемся в рос реестре для оформления перехода права собственности на дом и участок." },
    ] %}

    <section class="section">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section__heading-wr">
                        <h2 class="section__heading">
                            Оформляем полный пакет документов
                        </h2>
                        <div class="section__subtitle">
                            Экономим вам 2 месяца жизни и миллионы нервых клеток
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section__subtitle _left">
                        Проходим по 20+ кабинетам,<br>
                        готовим и согласовываем:
                    </div>
                    <div class="section__content">

                        <div class="row">

                            <div class="col-xs-12 col-md-6">
                                <ul class="section__list _padded-left">
                                    {% for item in docList %}
                                        <li class="section__list-item">
                                            <div class="block-line align-start _docs _flex _wrap">
                                                {{ svg.icon({ name: 'check', mod: 'svg-icon--docs-list' }) }}
                                                <p class="section__text _small">{{ item.text }}</p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <div class="respons-video">
                                    <div class="respons-video__label _text-right visible-xs">
                                            Посмотрите видео:<br>
                                            эта папка полна документов.<br>
                                            Все они необходимы.</div>
                                    <div class="respons-video__preview" style="background-image: url(/assets/images/blog/video.jpg)">
                                        {{ svg.icon({"name": "play", "mod": "respons-video__icon"}) }}
                                    </div>
                                    <div class="respons-video__iframe-wr _full" data-src="https://www.youtube.com/embed/oBJ0rUbrLnA">
                                        <div class="respons-video__padding"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section__heading-wr">
                        <h2 class="section__heading">
                            Рассчитаем и подберем ипотеку без хождений по банкам                        
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="section__subtitle _left">
                        Мы постоянный партнер ведущих банков:
                    </div>
                    <div class="section__content">

                        <div class="row">

                            <div class="col-xs-12 col-md-7">
                                <div class="block-line _flex _bank align-center">
                                    {{ svg.icon_m({"name": "sberbank", "mod": "_bank"}) }}
                                    {{ svg.icon_m({"name": "vtbank", "mod": "_bank"}) }}
                                    {{ svg.icon_m({"name": "rsbank", "mod": "_bank"}) }}
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-5">
                                <div class="section__content">
                                    <p class="section__text">Работаем с материнским капиталом, военными сертификатами.</p>
                                    <div class="section__text-wr">
                                        <p class="section__text">
                                            Возможно и удаленное одобрение:<br>
                                            мы уже решали вопросы переезда из других городов, в т.ч. по программе переселения с севера.    
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="flex-row">
                
                <div class="col-md-5">
                    <div class="section__content  _full-height">
                        <div class="section__promo _overlay" style="background-image: url('/assets/images/our-homes/promo.jpg')">
                            <div class="section__promo-inner _space-between">
                                <div class="section__promo-top">
                                    <div class="section__text _xs">Устали тратить время на поиск готовых домов?</div>
                                    <div class="section__text _medium">
                                        Выберите<br>
                                        из типовых проектов:<br> 
                                        мы быстро построим    
                                    </div>
                                </div>
                                <div class="section__promo-bottom">
                                    <div class="section__text _xxs mb-20">
                                        В нашей базе более 100 проектов<br>
                                        вы найдете что-то по душе 
                                    </div>
                                    <div class="section__btn-wr _center">
                                        <button class="btn _shadow"><span class="btn__text">Подробнее</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-7">
                    <div class="section__content">
                        <div class="section__content _grey">
                            <div class="section__text-wr pr-30 pt-30 mb-20">
                                <div class="section__text _right">
                                    <div class="section__text _medium _line-height-s _right">
                                        Приезжайте<br>
                                        на текущие стройки
                                    </div>
                                    <span class="section__text _xs">
                                            Лучше увидеть все своими глазами, верно?
                                    </span>
                                </div>
                            </div>
    
                            <div class="section__image _button-abs _right">
                                <img src="/assets/images/our-homes/map.jpg" alt="карта">  
                                <button class="btn _primary _shadow">
                                    <span class="btn__text">Смотреть объекты</span>
                                </button>             
                            </div>                  
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    {% set villagesList = [
        {
            id: '1',
            title: 'Лебедево Лайф',
            subtitle: 'Закрытый коттеджный поселок в черте Ярославля',
            include: ['Готовые дома (от коробки до домов "под ключ")'],
            descr: 'Коттеджный поселок «Лебедево Лайф» - один из немногих с комплексной застройкой, в котором предусмотрены закрытая территория с въездной группой, дороги в асфальтовой крошке, детская и спортивная площадка!',
            imgSrc: '/assets/images/our-homes/promo-lebedevo.jpg',
            active: true,
        },
        {
            id: '2',
            title: 'Новые ткачи',
            subtitle: 'Закрытый коттеджный поселок в черте Ярославля',
            include: ['Участки', 'Готовые дома (от коробки до домов "под ключ")'],
            descr: 'Коттеджный поселок «Новые ткачи» - один из немногих с комплексной застройкой, в котором предусмотрены закрытая территория с въездной группой, дороги в асфальтовой крошке, детская и спортивная площадка!',
            imgSrc: '/assets/images/our-homes/promo-tkachi.jpg',
            active: true,
        },
        {
            id: '3',
            title: 'Заволга',
            subtitle: 'Закрытый коттеджный поселок в черте Ярославля',
            include: ['Готовые дома (от коробки до домов "под ключ")'],
            descr: 'Коттеджный поселок Заволга» - один из немногих с комплексной застройкой, в котором предусмотрены закрытая территория с въездной группой, дороги в асфальтовой крошке, детская и спортивная площадка!',
            imgSrc: '/assets/images/our-homes/promo-lebedevo.jpg',
            active: true,
        },
        {
            id: '4',
            title: 'Новые ткачи',
            subtitle: 'Закрытый коттеджный поселок в черте Ярославля',
            include: ['Участки', 'Готовые дома (от коробки до домов "под ключ")'],
            descr: 'Коттеджный поселок «Новые ткачи» - один из немногих с комплексной застройкой, в котором предусмотрены закрытая территория с въездной группой, дороги в асфальтовой крошке, детская и спортивная площадка!',
            imgSrc: '/assets/images/our-homes/promo-tkachi.jpg',
            active: false,
        },
        {
            id: '5',
            title: 'Заволга',
            subtitle: 'Закрытый коттеджный поселок в черте Ярославля',
            include: ['Готовые дома (от коробки до домов "под ключ")'],
            descr: 'Коттеджный поселок «Заволга» - один из немногих с комплексной застройкой, в котором предусмотрены закрытая территория с въездной группой, дороги в асфальтовой крошке, детская и спортивная площадка!',
            imgSrc: '/assets/images/our-homes/promo-lebedevo.jpg',
            active: false,
        },
    ] %}

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section__heading-wr">
                        <h2 class="section__heading">
                            Или выбирайте по поселкам в нашем каталоге
                        </h2>
                        <div class="section__subtitle">
                            В них есть как отдельные участки, так и дома разной степени готовности
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section__content">
                        <ul class="section__list _villages">

                            {% for village in villagesList %}
                                {% if village.active == true %}                                                                
                                <li class="section__list-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="{{ village.imgSrc }}" alt="{{ village.title }}">
                                        </div>
                                        <div class="col-md-6">
                                            <h3 class="section__heading _bold _small _text-left">{{ village.title }}</h3>
                                            <div class="section__text _medium mb-20">{{ village.subtitle }}</div>
                                            <div class="section__text _medium">
                                                В наличии:<br>
                                                {% for item in village.include %}
                                                    <strong>{{ item }}</strong>
                                                    {% if loop.index != loop.last %}<br>{% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="section__text-wr mb-20">
                                                <div class="section__text _medium">{{ village.descr }}</div>
                                            </div>
                                            <button class="btn"><span class="btn__text">Узнать подробнее</span></button>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                        <ul class="section__list _villages collapse" id="allVillages">

                            {% for village in villagesList %}
                                {% if village.active == false %}                                                                
                                <li class="section__list-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="{{ village.imgSrc }}" alt="{{ village.title }}">
                                        </div>
                                        <div class="col-md-6">
                                            <h3 class="section__heading _bold _small _text-left">{{ village.title }}</h3>
                                            <div class="section__text _medium mb-20">{{ village.subtitle }}</div>
                                            <div class="section__text _medium">
                                                В наличии:<br>
                                                {% for item in village.include %}
                                                    <strong>{{ item }}</strong>
                                                    {% if loop.index != loop.last %}<br>{% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="section__text-wr mb-20">
                                                <div class="section__text _medium">{{ village.descr }}</div>
                                            </div>
                                            <button class="btn"><span class="btn__text">Узнать подробнее</span></button>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                        <div class="section__btn-wr _center">
                            <button type="button" data-toggle="collapse" data-target="#allVillages" aria-expanded="false" aria-controls="allVillages" class="btn _shadow"><span class="btn__text">Показать все поселки</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div id="app-map2"></div>
    </section>
    
    <section class="section _socials">
        <div class="container">

            <div class="row">
                <div class="col-xs-8 col-sm-8 col-sm-offset-2 col-xs-offset-2 visible-md-block-max">
                    <div class="section__content-wr mb-0">
                        <div class="section__heading-wr _small">
                            <h2 class="section__heading _small">Запишитесь на просмотр готового дома</h2>
                        </div>
                        <div class="section__heading-wr">
                            <div class="section__text _center">Выберите, где вам удобнее записаться</div>
                        </div>
                        <div class="section__content">
                            <div class="section__content-inner">
                                <div class="block-line _flex _sb">
                                    <div class="block-line__left">
                                        <div class="section__text mb-20">Соц. сети:</div>
                                        {% include '../partials/socials.twig' with { size: "big"} %}
                                    </div>
                                    <div class="block-line__right">
                                        <div class="section__text mb-20">или мессенджер:</div>
                                        {% include '../partials/socials.twig' with { params: socials.messenger, size: "big" } %}
                                    </div>
                                </div>
                            </div>
                            <div class="section__content-inner">
                                <div class="section__content _center">
                                    <div class="block-line _flex _inline _text-left">
                                        <img src="/assets/images/houses270/manager-laptop.jpg" class="mr-20" alt="Менеджер">
                                        <div class="section__content">
                                            <div class="section__text _small">
                                                <strong>Я отвечу вам,<br> 
                                                и подберем дом для показа</strong><br>
                                                <br>
                                                <strong>Имя Фамилия,</strong><br>
                                                менеджер службы заботы<br> 
                                                о клиентах
                                            </div>
                                        </div>
                                    </div>
                                </div>                     
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    {# section BEGIN #}
        {% include '../partials/already-seen.twig' %}
    {# section END #}
{% endblock %}

{% block footer %}
    {% include '../common/footer.twig' %}
{% endblock %}
