{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' with { "headerParams": { "sticky": "true", "page": "sub" }} %}
{% endblock %}

{% block content %}
    {{ mixins.breadcrumbs([
        {  
            "title": "Главная",
            "path": "/"
        },
        {  
            "title": "О компании",
            "path": "/company"
        },
        {  
            "title": "Команда",
        }
    ]) }}

    <section class="section _banner _overlay _team _white">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section__heading-wr _small">
                        <div class="section__heading _text-left">
                            Клиенты говорят,<br> что у нас теплая атмосфера         
                        </div>
                    </div>
                    <div class="section__text _big">
                        Это правда.<br>
                        Конечно, у нас есть стандарты, но мы работаем качественно и с любовью,<br class="visible-md-block"> 
                        не из-за них.<br class="visible-md-block visible-sm-block visible-xs-block"> А потому что нам <strong class="_xs">нравится строить для людей.</strong>
                    </div>
                </div>
            </div>

            <div class="section__descr _acsent _bottom _right">
                <div class="block-line _flex _center">
                    <p class="section__descr-text">
                        Кстати, <a class="_bold" href="#voice">послушайте отзыв</a><br> 
                        нашей клиентки.<br>
                        Мы благодарны ей за столь<br>
                        лестную оценку.
                    </p>
                    {{ svg.icon({ name: "volume", mod: "section__descr-icon" }) }}
                </div>
            </div>
        </div>
    </section>

    {% set persons = [
        {
            title: {
                name: "Роман Захаров,",
                specialty: "директор по маркетингу",  
            },
            text: "Инициатор показа всего, что у нас есть. Причем незапланировнно. Если во ВКонтакте внезапно началась LIVE-трансляция, слышен приятный голос, честные ответы на вопросы и показ поселков, офиса, сотрудников — 
            это дело рук Романа.",
            img: "marketing", 
            link: "#marketing",
            videoSrc: "https://www.youtube.com/embed/pSiTrH3BeFw"
        },
        {
            title: {
                name: "Юлия Перелыгина,",
                specialty: "руководитель отдела продаж",
            },
            text: "Именно она показывает дома на разных этапах строительства, проводит экскурсии по готовым объектам и обращает внимание на детали планировок и дизайна.",
            img: "sale",
            link: "#sale",
            videoSrc: "https://www.youtube.com/embed/jHBDwV7Qy5Y"
        },
        {
            title: {
                name: "Сергей Федоров,",
                specialty: "главный инженер",
            },
            text: "Помните видео на канале «Все по уму»? Сергей — тот человек, который отстоял качество наших объектов на всю страну: показал все тонкости и нюансы, на которые другие строители обычно не обращают внимание.",
            img: "engineer",
            link: "#engineer",
            custom: "true",
            videoSrc: "https://www.youtube.com/embed/w8YP0TKAAKc?start=455"
        }
    ] %}

    {% set personsTwo = [
        {
            title: {
                name: "Оксана Карпусь,",
                specialty: "архитектор",  
            },
            text: "Оксана руководит отделом из 4 архитекторов и выполняет особо сложные проекты.
            До работы в Эвересте успела спроектировать 4 торговых центра, 2 многоэтажных дома и несколько десятков малоэтажек. В эвересте на личном счету уже более сотни домов заказчиков. Всегда готова объяснить где можно и на чем не стоит экономить.",
            img: "architect", 
            link: "#architect"
        },
        {
            title: {
                name: "Татьяна Махрова,",
                specialty: "сметчик",
            },
            text: " Татьяна стоит на страже Ваших денег. Успевает считать сама и контролировать еще 2 коллег. Главная задача посчитать Вам дом по приципу 'необходимо и достаточно', чтобы и простоял 100 лет и фундамент был сделан именно под ваш дом, а не под космодром.",
            img: "estimator",
            link: "#estimator"
        },
        {
            title: "Всего в нашей команде",
            text: "Помните видео на канале «Все по уму»? Сергей — тот человек, который отстоял качество наших объектов на всю страну: показал все тонкости и нюансы, на которые другие строители обычно не обращают внимание.",
            custom: "true"
        }
    ] %}

    {% set personCurity = {
        title: {
            name: "Юлия Струна,",
            specialty: "Руководитель службы заботы о клиентах",  
        }
    } %}
    
    <section class="section _team">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section__heading-wr">
                        <h2 class="section__heading _small _text-left">
                            Если вы смотрели ролики на YouTube,<br> 
                            то уже видели как минимум трех наших сотрудников:
                        </h2>
                    </div>
                </div>
            </div>

            <div class="flex-row">
                {% for person in persons %}
                <div class="mb-50 {% if person.custom %}col-md-12 col-lg-4{% else %}col-sm-6 col-lg-4{% endif %}">
                    {% if person.custom %}
                    <div class="section__content _full-height">
                        <div class="person-item">
                            <div class="row">

                                <div class="col-sm-6 col-lg-12">
                                    <div class="person-item__img" style="background-image: url('/assets/images/team/{{ person.img }}.jpg')"></div>
                                    <div class="person-item__title">Всего в нашей команде</div>
                                    <div class="person-item__text">
                                        {{ person.text }}
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-12 mt-70-lg mt-fh-70">
                                    <a class="person-item__video js-iframe-toggle" data-target="#modalIframe" data-src={{person.videoSrc}}>
                                        <div class="person-item__video-left">
                                            <div class="person-item__video-img">
                                                {{ svg.icon({ name: "play", mod: "person-item__icon" }) }}
                                            </div>   
                                        </div>
                                        <div class="person-item__video-right">
                                            <div class="person-item__video-title">
                                                <span>Название ролика</span>
                                                <span>может в 2 строки</span>
                                            </div>
                                            <div class="person-item__video-link">Смотреть</div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="section__content _full-height">
                        <div class="person-item">
                            <div class="person-item__img" style="background-image: url('/assets/images/team/{{ person.img }}.jpg')"></div>
                            <div class="person-item__title">
                                {{ person.title.name }}
                                <br>
                                {{ person.title.specialty }}
                            </div>
                            <div class="person-item__text">
                                {{ person.text }}
                            </div>
                            <a class="person-item__video js-iframe-toggle" data-target="#modalIframe" data-src={{person.videoSrc}}>
                                <div class="person-item__video-left">
                                    <div class="person-item__video-img">
                                        {{ svg.icon({ name: "play", mod: "person-item__icon" }) }}
                                    </div>   
                                </div>
                                <div class="person-item__video-right">
                                    <div class="person-item__video-title">
                                        <span>Название ролика</span>
                                        <span>может в 2 строки</span>
                                    </div>
                                    <div class="person-item__video-link">Смотреть</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section__heading-wr">
                        <h2 class="section__heading _small _text-left">
                            Перед строительством вы пообщаетесь с архитектором и сметчиком
                        </h2>
                    </div>
                </div>
            </div>

            <div class="flex-row">
                {% for person in personsTwo %}
                <div class="mb-50 {% if person.custom %}col-xs-12 col-sm-12 col-lg-4{% else %}col-sm-6 col-lg-4{% endif %}">
                    {% if person.custom %}
                    <div class="section__content _full-height">
                        <div class="person-item">
                            <div class="row">
                                <div class="col-sm-6 col-lg-12">
                                    <div class="person-item__iframe">
                                        <div class="respons-video _full">
                                            <div class="respons-video__preview" style="background-image: url(/assets/images/no-image.jpg)">
                                                {{ svg.icon({"name": "play", "mod": "respons-video__icon"}) }}
                                            </div>
                                            <div class="respons-video__iframe-wr" data-src="https://www.youtube.com/embed/oBJ0rUbrLnA">
                                                <div class="respons-video__padding"></div>
                                                <iframe frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                <div class="spinner">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-12">
                                    <div class="person-item__command">
                                        <div class="person-item__title">Всего в нашей команде</div>
                                    </div>
                                    <ul class="person-item__list">
                                        <li>
                                            <div class="block-line">
                                                {{ svg.icon({ name: "command-1", mod: "person-item__icon-command" }) }}
                                                <span>3 конструктора<span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="block-line">
                                                {{ svg.icon({ name: "command-2", mod: "person-item__icon-command" }) }}
                                                <span>3 сметчика</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="block-line">
                                                {{ svg.icon({ name: "command-3", mod: "person-item__icon-command" }) }}
                                                <span>8 инженеров-строителей</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="block-line">
                                                {{ svg.icon({ name: "command-4", mod: "person-item__icon-command" }) }}
                                                <span>5 архитекторов</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="person-item__text">
                                        <strong>
                                            Вы увидите их, если придете<br>
                                            к нам в офис
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="section__content _full-height">
                        <div class="person-item">
                            <div class="person-item__img" style="background-image: url('/assets/images/team/{{ person.img }}.jpg')"></div>
                            <div class="person-item__title">
                                {{ person.title.name }}
                                <br>
                                {{ person.title.specialty }}
                            </div>
                            <div class="person-item__text">
                                {{ person.text }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>   
            
            <div class="row">
                <div class="col-md-12">
                    <div class="section__heading-wr">
                        <h2 class="section__heading _small _text-left">
                            Во время и после строительства с вами будет наша служба заботы о клиентах        
                        </h2>
                    </div>
                </div>
            </div>
        
            <div class="row mb-30">
                <div class="col-xs-12">                    
                    <div class="section__content">
                        <div class="person-item">
                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="person-item__img" style="background-image: url('/assets/images/team/carry.jpg')"></div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <div class="person-item__title">
                                        {{ personCurity.title.name }}
                                        <br>
                                        {{ personCurity.title.specialty }}
                                    </div>
                                    <div class="person-item__text _small">
                                        С самого первого обращения за вами закрепляется персональный менеджер: любые вопросы решаются максимум за сутки.
                                    </div>
                                    <div class="person-item__text _small">
                                        Причем обращаться можно по любому вопросу и даже через 5 лет после окончания строительства.
                                    </div>
                                </div>

                            </div>
 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-50">
                <div class="col-xs-12">                    
                    <div class="section__content">
                        <div class="person-item _reversed-sm">
                            <div class="row">

                                <div class="col-sm-6 col-xs-12">
                                    <div class="person-item__text _small">
                                        Строители не просто профессионалы,<br> 
                                        но и отличные люди.<br>
                                        Всегда подскажут, что, как и почему делают.                        
                                    </div>
                                    <div class="person-item__text _small">  
                                            
                                            
                                        У нас отборные кадры:<br>
                                        <strong>из 12 кандидатов на объект выходит только один.</strong> И обязательно под присмотром бригадира.
                                    </div>
                                    <div class="person-item__text _small">  
                                        А главное, <strong>у нас нет «многостаночников»:</strong><br>
                                        все специалисты работают по своему профилю. Плотник-бетонщик (или фундаментщик) никогда не пойдет делать кладку стен, а каменщик не пойдет на кровлю и т.д.
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <div class="person-item__iframe">
                                        <div class="respons-video _full">
                                            <div class="respons-video__preview" style="background-image: url(/assets/images/no-image.jpg)">
                                                {{ svg.icon({"name": "play", "mod": "respons-video__icon"}) }}
                                            </div>
                                            <div class="respons-video__iframe-wr" data-src="https://www.youtube.com/embed/68UmxLYScKE">
                                                <iframe frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                <div class="respons-video__padding"></div>
                                                <div class="spinner">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                  

                            </div>
 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section__heading-wr">
                        <h2 class="section__heading">
                            Наши люди это самое дорогое, что у нас есть
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="section__image _team">
                        <picture>
                            <source media="(max-width: 480px)" srcset="/assets/images/team/team-mob.jpg">
                            <img src="/assets/images/team/team.jpg" alt="Команда 'Everest'">
                        </picture>
                    </div>
                </div>
            </div>

            <div class="row visible-xs-block">
                <div class="col-xs-12">
                    <div class="section__bottom-link">
                        <a class="section__link _acsent _underline _bold" href="/company/documents.html">О документах</a>
                        <a class="section__link _acsent _underline _bold" href="/company/">О компании</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# section BEGIN #}
        {% include '../partials/already-seen.twig' %}
    {# section END #}

{% endblock %}

{% block footer %}
    {% include '../common/footer.twig' %}
{% endblock %}
