{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' with { "headerParams": { "sticky": "true", "page": "sub" }} %}
{% endblock %}

{% block content %}
    {{ mixins.breadcrumbs([
        {  
            "title": "Главная",
            "path": "/",
        },
        {  
            "title": "Карта поселков",
            "path": "/villages",
        },
        {  
            "title": "Поселки Ярославской области"
        },
        {  
            "title": "Лебедево Лайф"
        }
    ]) }}


    {# section BEGIN #}
    <section class="section">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section__heading-wr">
                        <h1 class="section__heading _big _text-left">Лебедево Лайф</h1>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-12 col-md-6">
                    <div class="section__content">
                        <div class="section__image">
                            <img src="/assets/images/our-homes/promo-lebedevo.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6">
                    <div class="section__content">
                        <h3 class="section__subtitle _left _bold">
                            Закрытый коттеджный поселок<br>
                            в черте Ярославля
                        </h3>
                        <p class="section__text">Коттеджный поселок «Лебедево Лайф» - один из немногих с комплексной застройкой, в котором предусмотрены закрытая территория с въездной группой, дороги в асфальтовой крошке, детская и спортивная площадка!</p>
                        <p class="section__text _medium _bold">в черте города</p>
                        <div class="section__btn-wr mt-30">
                            <button class="btn">
                                <span class="btn__text">Записаться на экскурсию в поселок</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    {# section END #}

    {# section BEGIN #}
    <section class="section _grey">
        <div class="container">
            <div class="row">

                <div class="col-xs-12">
                    <div class="section__content">
                        <div class="section__heading-wr _small">
                            <h2 class="section__heading _big">Местоположение</h1>
                        </div>

                        <p class="section__text _center">Коттеджный поселок отделен от городской черты Ярославля улицей Лебедево в<br> Заволжском районе Ярославля.</p>
                        <p class="section__text _center">До центра города можно добраться за 25 мин на маршрутке и за 15 на авто. Рядом школы,<br> магазины, сады и аптеки.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    {# section END #}

    {# section BEGIN #}
    <section class="section _p-small">
        <div class="container">

            <div class="row _reversed">
                <div class="col-xs-12 col-sm-6">
                    <div class="section__content">
                        <h3 class="section__heading _small _bold _text-left _padded">Всего 14 км от центра Ярославля</h3>
                        <p class="section__text">Поселок расположен в черте города и всего в 22 мин. от центра Ярославля, если ехать на общественном транспорте.</p>
                        <p class="section__text">Уникальность расположения заключается в том, что путь в поселок лежит через новый Юбилейный мост на котором никогда не бывает пробок. Поэтому, реальное время в пути на авто составляет около 15 минут.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="section__content">
                        <div class="section__image">
                            <img src="/assets/images/our-homes/promo-lebedevo-map.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="section__content">
                        <div class="section__image">
                            <img src="/assets/images/our-homes/promo-lebedevo-outside.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="section__content">
                        <h3 class="section__heading _small _bold _text-left _padded">Черта города с видом на Ярославль</h3>
                        <p class="section__text">Поселок находится на возвышенности, над городом.</p>
                        <p class="section__text">Это означает, что вечерами Вы сможете наблюдать огни ночного города из окон собственного дома.</p>
                        <p class="section__text">По утрам, у Вас будет возможность, по пути на работу, завести ребенка в школу или детский сад, а на обратном пути заглянуть в супермаркет Магнит за продуктами.</p>
                    </div>
                </div>
            </div>

            <div class="row _reversed">
                <div class="col-xs-12 col-sm-6">
                    <div class="section__content">
                        <h3 class="section__heading _small _bold _text-left _padded">Лебедево-Лайф газифицирован</h3>
                        <p class="section__text">В поселке проведены электричество и газ.</p>
                        <p class="section__text">Стоимость подключения дома к газоснабжению может меняться, поэтому точную цифру Вы всегда можете узнать у нас в офисе</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="section__content">
                        <div class="section__image">
                            <img src="/assets/images/our-homes/promo-lebedevo-gas.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    {# section END #}
        
    {# section BEGIN #}
    <section class="section _pt0">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section__heading-wr">
                        <h1 class="section__heading _big">Фотографии поселка</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="section__content">

                        <div class="zoom-gallery">
                            <div class="flex-row">

                                {% for num in 1..8 %}
                                    <div class="col-xs-6 col-sm-4 col-md-3 mb-20">
                                        <a href="/assets/images/our-homes/lebedevo/gallery/gallery-{{num}}.jpg" title="Into The Blue">
                                            <img src="/assets/images/our-homes/lebedevo/gallery/gallery-{{num}}-previev.jpg">
                                        </a>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    {# section END #}
      
    {% set homesList = [
        {
            imgSrc: '/assets/images/our-homes/lands/land-1.jpg',
            name: 'Участок',
            type: 'lands',
            descr: 'с коммуникацией',
            square: '6 соток',
            coast: 800,
        },
        {
            imgSrc: '/assets/images/our-homes/lands/land-1.jpg',
            name: 'Участок',
            type: 'lands',
            descr: 'с коммуникацией',
            square: '6 соток',
            coast: 800,
        },
        {
            imgSrc: '/assets/images/our-homes/homes/home-1.jpg',
            name: 'Дом из кирпича',
            type: 'homes',
            descr: 'коробка',
            square: '153',
            coast: 1,5,
        },
        {
            imgSrc: '/assets/images/our-homes/homes/home-2.jpg',
            name: 'Дом',
            type: 'homes',
            descr: 'можно вселяться',
            square: '153',
            coast: 1,5,
        },
        {
            imgSrc: '/assets/images/our-homes/homes/home-1.jpg',
            name: 'Дом из кирпича',
            type: 'homes',
            descr: 'коробка',
            square: '153',
            coast: 1,5,
        },
        {
            imgSrc: '/assets/images/our-homes/homes/home-2.jpg',
            name: 'Дом',
            type: 'homes',
            descr: 'можно вселяться',
            square: '153',
            coast: 1,5,
        },
    ] %}

    {# section BEGIN #}
    <section class="section _pt0">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section__heading-wr">
                        <h1 class="section__heading _big">Свободные объекты</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="section__content">

                            <div class="section__tabs">
                                <div class="tab _decored">

                                    <ul class="tab__nav hidden-xs" id="myTab" role="tablist">
                                        <li class="tab__nav-item active">
                                            <a class="tab__nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true" aria-expanded="true">Все</a>
                                        </li>
                                        <li class="tab__nav-item">
                                            <a class="tab__nav-link" id="lands-tab" data-toggle="tab" href="#lands" role="tab" aria-controls="lands" aria-selected="false" aria-expanded="false">Участки</a>
                                        </li>
                                        <li class="tab__nav-item">
                                            <a class="tab__nav-link" id="houses-tab" data-toggle="tab" href="#houses" role="tab" aria-controls="houses" aria-selected="false" aria-expanded="false">Дома</a>
                                        </li>
                                    </ul>
    
                                    <div class="tab-content _documents" id="myTabContent">
                                        <div class="tab-pane active show" id="all" role="tabpanel" aria-labelledby="all-tab">
                                            <div>
                                                <div class="row">
                                                    {% for item in homesList %}
                                                        <div class="col-sm-6 col-md-4 center-xs">
                                                            <div class="section__item mb-30">
                                                                <img src="{{item.imgSrc}}" alt="">
                                                                <div class="block-line _sb _flex">
                                                                    <div>
                                                                        <div class="section__text _medium _bold _left">
                                                                            {{ item.name }},
                                                                            <br>
                                                                            {{ item.descr }}
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="section__text _medium _bold _right" style="text-align: right">
                                                                            {{ item.square }} кв.м.
                                                                            <br>
                                                                            Цена: {{ item.coast }} млн.р.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>


                                        <div class="tab-pane fade" id="lands" role="tabpanel" aria-labelledby="lands-tab">
                                            <div>
                                                <div class="row">
                                                    {% for item in homesList %}
                                                        {% if item.type == 'lands' %}    
                                                            <div class="col-sm-6 col-md-4 center-xs">
                                                                <div class="section__item mb-30">
                                                                    <img src="{{item.imgSrc}}" alt="">
                                                                    <div class="block-line _sb _flex">
                                                                        <div>
                                                                            <div class="section__text _medium _bold _left">
                                                                                {{ item.name }},
                                                                                <br>
                                                                                {{ item.descr }}
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <div class="section__text _medium _bold _right" style="text-align: right">
                                                                                {{ item.square }} кв.м.
                                                                                <br>
                                                                                Цена: {{ item.coast }} млн.р.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>


                                        <div class="tab-pane fade" id="houses" role="tabpanel" aria-labelledby="houses-tab">
                                            <div>
                                                <div class="row">
                                                    {% for item in homesList %}
                                                        {% if item.type == 'homes' %}    
                                                            <div class="col-sm-6 col-md-4 center-xs">
                                                                <div class="section__item mb-30">
                                                                    <img src="{{item.imgSrc}}" alt="">
                                                                    <div class="block-line _sb _flex">
                                                                        <div>
                                                                            <div class="section__text _medium _bold _left">
                                                                                {{ item.name }},
                                                                                <br>
                                                                                {{ item.descr }}
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <div class="section__text _medium _bold _right" style="text-align: right">
                                                                                {{ item.square }} кв.м.
                                                                                <br>
                                                                                Цена: {{ item.coast }} млн.р.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    {# section END #}

    
    {# section BEGIN #}
    <section class="section">
        <div class="container">
            <div class="row">

                <div class="col-md-10 col-md-offset-1">
                    <div class="section__content _bg" style="background-image: url('/assets/images/our-homes/promo-lebedevo-filter.jpg')">

                        <div class="row">
                            <div class="col-md-6 col-md-offset-6">
                                <div class="section__form _homes">
                                    <form class="js-static-form form _no-bg">
                                        <div class="form__heading _left">
                                            Запишитесь на экскурсию<br>
                                            по этому поселку
                                        </div>
                                        <div class="form__subheading mb-10">
                                            Лучше посмотреть все предложения<br>
                                            в один день, верно?
                                        </div>
                                        <div class="form__content-wr">
                                            <div class="form__group">
                                                {{ form.input({title: 'Ваше имя', name: 'name', inputMod: 'js-form-name', placeholder: "Впишите Ваше имя"}) }}
                                            </div>
                                            <div class="form__group">
                                                {{ form.input({title: 'Как с вами связаться?', name: 'phone', inputMod: 'js-form-phone', placeholder: "+7 (___) ___-__-__"}) }}
                                            </div>
                                            <div class="form__submit">
                                                <button type="submit" class="btn btn-submit-js">
                                                    <span class="btn__text">Записаться</span>
                                                </button>
                                            </div>
                                            <div class="form__info">
                                                Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь<br>
                                                    с <a href="/politic/">Политикой конфиденциальности</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    {# section END #}
    
        
    {# section BEGIN #}
    <section class="section">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <div class="section__heading-wr">
                        <h1 class="section__heading _big">Или посмотрите предложения в других поселках</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="section__content">
                        <div id="app"></div>
                    </div>
                </div>
            </div>

        </div>
    </section>  
    {# section END #}


    {# section BEGIN #}
    <section class="section _special _white _overlay ">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="section__content">
                        <div class="section__heading-wr _center">
                            <p class="section__heading-under">Специальное предложение<br class="visible-xs-block"> от наших партнеров</p>
                            <h2 class="section__heading _bold _custom">Участки со скидками<br class="visible-xs-block"> 5-10% для тех,<br />кто строит<br class="visible-xs-block"> дом с нами</h2>
                        </div>
                        <div class="section__btn-wr _center">
                            <a href="#" class="btn _primary"><span class="btn__text">Смотреть участки</span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    {# section END #}


    {# section BEGIN #}
        {% include '../partials/already-seen.twig' %}
    {# section END #}
{% endblock %}

{% block footer %}
    {% include '../common/footer.twig' %}
{% endblock %}
