{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' with { "headerParams": { "sticky": "true", "page": "sub" }} %}
{% endblock %}

{% block content %}
    {{ mixins.breadcrumbs([
        {  
            "title": "Главная",
            "path": "/",
        },
        {  
            "title": "Карта поселков",
            "path": "/villages",
        },
        {  
            "title": "Карта поселков"
        }
    ]) }}

    <section class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section__heading-wr">
                        <h1 class="section__heading _big _text-left">Мы строим как в собственных поселках, так и у партнеров</h1>
                    </div>
                </div>
            </div>
        </div>

        <div id="app"></div>
    </section>

    {# section BEGIN #}
    <section class="section _special _white _overlay ">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="section__content">
                        <div class="section__heading-wr _center">
                            <p class="section__heading-under">Специальное предложение<br class="visible-xs-block"> от наших партнеров</p>
                            <h2 class="section__heading _bold _custom">Участки со скидками<br class="visible-xs-block"> 5-10% для тех,<br />кто строит<br class="visible-xs-block"> дом с нами</h2>
                        </div>
                        <div class="section__btn-wr _center">
                            <a href="#" class="btn _primary"><span class="btn__text">Смотреть участки</span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    {# section END #}

    {# section BEGIN #}
        {% include '../partials/already-seen.twig' %}
    {# section END #}
{% endblock %}

{% block footer %}
    {% include '../common/footer.twig' %}
{% endblock %}
