.navbar {
  position: relative;
  box-shadow: 0 12px 14px 0 rgba(#2c2c2c, 0.25);

  @media(max-width: $screen-md - 1) {
      padding: 10px 0;
  }

  &__inner {  
    width: 100%;
      
    @media(max-width: $screen-md - 1) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      margin-top: 10px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 100vw;
      transform: translateX(-50%);
      background-color: #fff;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 2px;
    top: 0;
    bottom: 3px;
    width: 100%;
    left: 0;
    z-index: 2;
    border-bottom: 1px solid #d1d1d1;
    pointer-events: none;

    @media(max-width: $screen-md - 1) {
      content: unset;
    }
  }

  .nav-info__icons {
    @media (max-width: $screen-md - 1) {
        margin-right: 20px;
    }

    @media (max-width: $screen-sm - 1) {
        margin-right: 0px;
        margin-bottom: 10px;
        font-size: 26px;
    }
  }

  .nav-info__call {
    a {    
        @media (max-width: $screen-md - 1) {
            display: inline-block;
        }
    }
  }

  .nav-info__phone {
      @media (max-width: $screen-md - 1) {
          font-size: 30px;
          
          span {
              display: inline-block;
              vertical-align: middle;
              margin-right: 20px;
          }

          svg {
              vertical-align: middle;
              font-size: 36px;
          }
      }
  }

  &__menu-wr {
    transition: 0.3s all;
    transform-origin: top center;

    &.collapse {
      visibility: hidden;
      opacity: 0;
      transform: scaleY(0);
      pointer-events: none
    }
    
    &.collapse.in {
      visibility: visible;
      opacity: 1;
      height: calc(100vh - 77.45px);
      transform: scaleY(1);
      pointer-events: all;
      overflow-y: auto;
      overflow-x: hidden;
    }

    @media(min-width: $screen-md) {
      &.collapse {
        display: block;
        pointer-events: all;
        visibility: visible;
        opacity: 1;
        transform: unset;
      }
    }
  }

  /* ---------------------------------Toggle------------------------------------ */

  &__toggle {
    @media(min-width: $screen-md) {
      display: none;
    }

    display: inline-flex;
    align-items: center;
    // position: absolute;
    // right: 15px;
    // top: 50%;
    // transform: translateY(-50%);
    // z-index: 10;
  }
}
