.navbar-nav-dropdown {
    li {
        position: relative;
        z-index: 2;
    }

    li + li {
        @media(min-width: $screen-md) {
            margin-left: 10%;
        }
    }

    & + & {
        margin-left: 3%;
        
        @media(max-width: $screen-md - 1) {
            margin-left: 0;
            margin-top: 20px;
        }
    }

    &__menu {
        @media(min-width: $screen-md) {
            position: absolute;
            display: flex;
            left: 0;
            right: 0;
            top: 100%;
            background-color: #f1f1f1;
            transform: translateY(-100%);
            transition: transform .5s, opacity .5s;
            visibility: hidden;
            opacity: 0;
            z-index: 1;
        }

        display: block;
        visibility: visible;
        opacity: 1;

        a {
            @media(min-width: $screen-md) {
                padding: 10px 0 10px;
                font-size: 14px;
            }

            display: block;
            padding: 2px 0;
            font-family: RobotoLight, Arial, sans-serif;
            font-size: 16px;
        }

        &:after {
            content: "";
            background-color: #f1f1f1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            width: 100vw;
            z-index: 1;
            box-shadow: 0 12px 17px 0 rgba(#000, 0.24);
        }
    }

    &__toggle {
        position: relative;
        z-index: 2;
        display: block;
        padding: 10px 0 10px;
        font-size: 16px;
        font-family: $FDefault;
        white-space: nowrap;
        overflow: hidden;

        @media (max-width: $screen-md - 1) {
            font-size: 18px;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 4px;
            height: 3px;
            width: 80%;
            left: 50%;
            transform: translate(-200%);
            background-color: #faac3d;
            transition: transform .3s;
        }

        @media (max-width: $screen-md - 1) {
            padding: 5px 0;
        }
    }

    &.open &__toggle:after {
        width: 70%;
        transform: translate(-50%);
    }

    &.open &__menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }
}