.navbar-nav {
    position: relative;
    width: 100%;
    display: inline-flex;

    @media(max-width: $screen-md - 1) {
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 30px;
    }

    &:after {
        content: "";
        background-color: #f1f1f1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        z-index: 1;

        @media(max-width: $screen-md - 1) {
            background-color: #fff;
        }
    }
}