.navbar-toggle {
  padding: 10px 5px;

  & > * {
    pointer-events: none;
  }

  @media(min-width: $screen-sm) {
    padding: 10px;
  }

  &__inner {
    width: 25px;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: auto;
    margin-right: auto;



    // @media(max-width: $screen-smx) {
    //   width: 25px;
    //   height: 20px;
    // }
  }

  &.collapsed &__sep:nth-child(1) {
    top: 0;
    transform: translate(-50%, 0) rotate(0);
  }

  &.collapsed &__sep:nth-child(2) {
    transform: translate(-50%, 0) scale(1);
  }

  &.collapsed &__sep:nth-child(3) {
    bottom: 0;
    transform: translate(-50%, 0) rotate(0);
  }

  &__sep {
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: $CBlack;
    transform-origin: center;
    transition: transform 0.35s, bottom 0.35s, top 0.35s;
    left: 50%;

    // @media(max-width: $screen-smx) {
    //   height: 4px;
    //   border-radius: 2;
    // }

    &:nth-child(1) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:nth-child(2) {
      transform: translate(-50%, 0) scale(0);
    }

    &:nth-child(3) {
      bottom: 50%;
      transform: translate(-50%, 50%) rotate(-45deg);
    }
  }
}
