//
// Responsive: Utility classes
// --------------------------------------------------


// IE10 in Windows (Phone) 8
//
// Support for responsive views via media queries is kind of borked in IE10, for
// Surface/desktop in split view and for Windows Phone 8. This particular fix
// must be accompanied by a snippet of JavaScript to sniff the user agent and
// apply some conditional CSS to *only* the Surface/desktop Windows 8. Look at
// our Getting Started page for more information on this bug.
//
// For more information, see the following:
//
// Issue: https://github.com/twbs/bootstrap/issues/10497
// Docs: http://getbootstrap.com/getting-started/#support-ie10-width
// Source: http://timkadlec.com/2013/01/windows-phone-8-and-device-width/
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/

@at-root {
  @-ms-viewport {
    width: device-width;
  }
}


// Visibility utilities
// Note: Deprecated .visible-xs, .visible-sm, .visible-md, and .visible-lg as of v3.2.0

@include responsive-invisibility('.visible-xs');
@include responsive-invisibility('.visible-sm');
@include responsive-invisibility('.visible-md');
@include responsive-invisibility('.visible-lg');
@include responsive-invisibility('.visible-vl');
@include responsive-invisibility('.visible-fh');

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-xs-flex,
.visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-sm-flex,
.visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-md-flex,
.visible-lg-block, .visible-lg-inline, .visible-lg-inline-block, .visible-lg-flex,
.visible-vl-block, .visible-vl-inline, .visible-vl-inline-block, .visible-vl-flex,
.visible-fh-block, .visible-fh-inline, .visible-fh-inline-block, .visible-fh-flex,
.visible-xs-block-min, .visible-xs-inline-min, .visible-xs-inline-block-min, .visible-xs-flex-min,
.visible-sm-block-min, .visible-sm-inline-min, .visible-sm-inline-block-min, .visible-sm-flex-min,
.visible-md-block-min, .visible-md-inline-min, .visible-md-inline-block-min, .visible-md-flex-min,
.visible-lg-block-min, .visible-lg-inline-min, .visible-lg-inline-block-min, .visible-lg-flex-min,
.visible-vl-block-min, .visible-vl-inline-min, .visible-vl-inline-block-min, .visible-vl-flex-min,
.visible-fh-block-min, .visible-fh-inline-min, .visible-fh-inline-block-min, .visible-fh-flex-min,
.visible-xs-block-max, .visible-xs-inline-max, .visible-xs-inline-block-max, .visible-xs-flex-max,
.visible-sm-block-max, .visible-sm-inline-max, .visible-sm-inline-block-max, .visible-sm-flex-max,
.visible-md-block-max, .visible-md-inline-max, .visible-md-inline-block-max, .visible-md-flex-max,
.visible-lg-block-max, .visible-lg-inline-max, .visible-lg-inline-block-max, .visible-lg-flex-max,
.visible-vl-block-max, .visible-vl-inline-max, .visible-vl-inline-block-max, .visible-vl-flex-max,
.visible-fh-block-max, .visible-fh-inline-max, .visible-fh-inline-block-max, .visible-fh-flex-max,
{
  display: none !important;
}

@media (max-width: $screen-xs-max) {
  @include responsive-visibility('.visible-xs');
}
.visible-xs-block {
  @media (max-width: $screen-xs-max) {
    display: block !important;
  }
}
.visible-xs-inline {
  @media (max-width: $screen-xs-max) {
    display: inline !important;
  }
}
.visible-xs-inline-block {
  @media (max-width: $screen-xs-max) {
    display: inline-block !important;
  }
}
.visible-xs-flex {
  @media (max-width: $screen-xs-max) {
    display: flex !important;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include responsive-visibility('.visible-sm');
}
.visible-sm-block {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: block !important;
  }
}
.visible-sm-inline {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: inline !important;
  }
}
.visible-sm-inline-block {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: inline-block !important;
  }
}
.visible-sm-flex {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: flex !important;
  }
}

.visible-sm-block-min {
  @media (min-width: $screen-sm-min) {
    display: block !important;
  }
}
.visible-sm-inline-min {
  @media (min-width: $screen-sm-min) {
    display: inline!important;
  }
}
.visible-sm-inline-block-min {
  @media (min-width: $screen-sm-min) {
    display: inline-block !important;
  }
}
.visible-sm-flex-min {
  @media (min-width: $screen-sm-min) {
    display: flex !important;
  }
}

.visible-sm-block-max {
  @media (max-width: $screen-xs-max) {
    display: block !important;
  }
}
.visible-sm-inline-max {
  @media (max-width: $screen-xs-max) {
    display: inline!important;
  }
}
.visible-sm-inline-block-max {
  @media (max-width: $screen-xs-max) {
    display: inline-block !important;
  }
}
.visible-sm-flex-max {
  @media (max-width: $screen-xs-max) {
    display: flex !important;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include responsive-visibility('.visible-md');
}
.visible-md-block {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: block !important;
  }
}
.visible-md-inline {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: inline !important;
  }
}
.visible-md-inline-block {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: inline-block !important;
  }
}
.visible-md-flex {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: flex !important;
  }
}

.visible-md-block-min {
  @media (min-width: $screen-md-min) {
    display: block !important;
  }
}
.visible-md-inline-min {
  @media (min-width: $screen-md-min) {
    display: inline -min!important;
  }
}
.visible-md-inline-block-min {
  @media (min-width: $screen-md-min) {
    display: inline-block !important;
  }
}
.visible-md-flex-min {
  @media (min-width: $screen-md-min) {
    display: flex !important;
  }
}

.visible-md-block-max {
  @media (max-width: $screen-md-min) {
    display: block !important;
  }
}
.visible-md-inline-max {
  @media (max-width: $screen-md-min) {
    display: inline -max!important;
  }
}
.visible-md-inline-block-max {
  @media (max-width: $screen-md-min) {
    display: inline-block !important;
  }
}
.visible-md-flex-max {
  @media (max-width: $screen-md-min) {
    display: flex !important;
  }
}

@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  @include responsive-visibility('.visible-lg');
}
.visible-lg-block {
  @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
    display: block !important;
  }
}
.visible-lg-inline {
  @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
    display: inline !important;
  }
}
.visible-lg-inline-block {
  @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
    display: inline-block !important;
  }
}
.visible-lg-flex {
  @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
    display: flex !important;
  }
}

.visible-lg-block-min {
  @media (min-width: $screen-lg-min) {
    display: block !important;
  }
}
.visible-lg-inline-min {
  @media (min-width: $screen-lg-min) {
    display: inline -min!important;
  }
}
.visible-lg-inline-block-min {
  @media (min-width: $screen-lg-min) {
    display: inline-block !important;
  }
}
.visible-lg-flex-min {
  @media (min-width: $screen-lg-min) {
    display: flex !important;
  }
}

.visible-lg-block-max {
  @media (max-width: $screen-lg-min) {
    display: block !important;
  }
}
.visible-lg-inline-max {
  @media (max-width: $screen-lg-min) {
    display: inline -max!important;
  }
}
.visible-lg-inline-block-max {
  @media (max-width: $screen-lg-min) {
    display: inline-block !important;
  }
}
.visible-lg-flex-max {
  @media (max-width: $screen-lg-min) {
    display: flex !important;
  }
}

@media (min-width: $screen-vl-min) and (max-width: $screen-vl-max) {
  @include responsive-visibility('.visible-vl');
}
.visible-vl-block {
  @media (min-width: $screen-vl-min) and (max-width: $screen-vl-max) {
    display: block !important;
  }
}
.visible-vl-inline {
  @media (min-width: $screen-vl-min) and (max-width: $screen-vl-max) {
    display: inline !important;
  }
}
.visible-vl-inline-block {
  @media (min-width: $screen-vl-min) and (max-width: $screen-vl-max) {
    display: inline-block !important;
  }
}
.visible-vl-flex {
  @media (min-width: $screen-vl-min) and (max-width: $screen-vl-max) {
    display: flex !important;
  }
}

@media (min-width: $screen-fh-min) {
  @include responsive-visibility('.visible-fh');
}
.visible-fh-block {
  @media (min-width: $screen-fh-min) {
    display: block !important;
  }
}
.visible-fh-inline {
  @media (min-width: $screen-fh-min) {
    display: inline !important;
  }
}
.visible-fh-inline-block {
  @media (min-width: $screen-fh-min) {
    display: inline-block !important;
  }
}
.visible-fh-flex {
  @media (min-width: $screen-fh-min) {
    display: flex !important;
  }
}

@media (max-width: $screen-xs-max) {
  @include responsive-invisibility('.hidden-xs');
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include responsive-invisibility('.hidden-sm');
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include responsive-invisibility('.hidden-md');
}

@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  @include responsive-invisibility('.hidden-lg');
}

@media (min-width: $screen-vl-min) and (max-width: $screen-vl-max) {
  @include responsive-invisibility('.hidden-vl');
}

@media (min-width: $screen-fh-min) {
  @include responsive-invisibility('.hidden-fh');
}



// Print utilities
//
// Media queries are placed on the inside to be mixin-friendly.

// Note: Deprecated .visible-print as of v3.2.0

@include responsive-invisibility('.visible-print');

@media print {
  @include responsive-visibility('.visible-print');
}
.visible-print-block {
  display: none !important;

  @media print {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;

  @media print {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;

  @media print {
    display: inline-block !important;
  }
}

@media print {
  @include responsive-invisibility('.hidden-print');
}
